[2021-09-03 14:59] ikelos commented on #558
Hiya, so the way that the volatility library verifies these requirements is to check that their value is fulfilled.  You haven't actually filled nt_symbols or primary with the names of symbol tables or layers.  It looks like you've provided the information those requirements need, but you still need to construct the objects.

Volatility does the construction by running the `ConstructionMagic` auto

[2021-09-03 15:00] ikelos commented on #558
Please also see https://volatility3.readthedocs.io/en/latest/using-as-a-library.html#use-automagic

[2021-09-03 17:01] avgkoster commented on #558
I didn't understand from the instructions whether it is possible to skip the item with manual configuration and use the automagic method, will it make sense?
Or in any case, you will need to call the automagic constructor?

[2021-09-03 18:03] KevinK24 opened #560 "Does Volatility support the Encase EX file format?"
Hello,
I'm sorry if this isn't the appropriate place - I couldn't find anywhere else that seemed appropriate. Two use questions

1. I've placed my symbols table under symbols\linux\symbols.json - (generated by dwarf2json) - but I'm unable to find any documentation on the proper naming convention. Is it just .json? .json.xz? ntsomethingsomething.json?
2. Are Encase EX files supported? I'm trying to

[2021-09-03 22:37] superponible commented on #547
I can't seem to run anything against that sample.  Not sure if something got corrupted in compressing/transfer/decompressing?

@ikelos  and @ellie-gar does this hash match?

[code]

Either way, I was able to reproduce the problem against a sample I had.  Actually most printing of registry values was probably broken, though keys worked fine, so it wasn't very noticeable.

The proper enum usage was

[2021-09-04 12:08] ikelos commented on #560
Hiya @KevinK24

If the file isn't compressed, `.json` will work, if it's xz compressed, then it needs to be `.json.xz`.  For linux files, the file name isn't important, but windows the JSON files have a specific name.  There is some documentation about the naming conventions at https://volatility3.readthedocs.io/en/latest/symbol-tables.html#how-volatility-finds-symbol-tables

You can check whether

[2021-09-04 12:22] ikelos commented on #558
Hiya, so you can skip the automagic by constructing the necessary objects manually, but it looks from your configuration as though you're expecting volatility to turn your physical file location into a suitable layer stack with a directory table base and virtual kernel offset.  If you don't have those values, it's highly recommended to run the automagic to get them.

We've also recently shifted mo

[2021-09-04 23:50] KevinK24 commented on #560
Hey no worries at all. I really (super) appreciate the great answer.

[2021-09-05 09:39] ikelos commented on #550
Looks like one for @japhlange, if he can help?

[2021-09-05 09:41] ikelos commented on #532
It looks as though this should have been resolved due to pull request #536 having been merged.  I'm gonna close this, but if you're still encountering the issue, please let us know...

[2021-09-05 09:41] #532 closed, assigned to nobody

[2021-09-05 09:45] cryptouser201 commented on #505
Did you test decrease PML4 range step-by-step? Pseudocode can be something like this:
if check(ptr_reference = range(0x1E0, 0x1FF)):
     return True
if check(ptr_reference = range(0x1C0, 0x1DF)):
    return True
if check(ptr_reference = range(0x1A0, 0x1BF)):
   return True

i haven't old Windows dump collection, therefore i can't test it ...

[2021-09-05 09:50] ikelos commented on #514
We've recently run into a similar issue with out testing system.  It seems only to affect windows, and it can happen if the console that python's being run in isn't set to print unicode characters.  You might find that this post resolves your problems, but essentially it's likely due to the console you're working with not being able to print the unicode characters that volatility finds (they may b

[2021-09-05 09:51] ikelos commented on #509
@k0l0ss Any progress on this?  Does the issue still happen with the latest version?

[2021-09-05 09:53] ikelos commented on #505
I did, the point is that some selfref64 tests succeed at a low index, before very old pae images get tested at a specific index.  I've worked on trying to improve the situation with #559, which basically needs to be tested on as many images as possible before we merge it to make sure it doesn't suffer the same fate as previous tests...  5:)

[2021-09-05 09:55] ikelos commented on #505
This new branch does test the whole range across a narrow set of locations and the more specific older ranges in places where the older ranges succeeded.  It also cleans the code up a lot, reducing it to a single testing mechanism that's much easier to understand.  Hopefully if we don't turn up any images that used to work but don't know, we can just swap it out.  We're also currently need to deci

[2021-09-05 09:58] ikelos commented on #503
There hasn't been any activity on this in several months, so I'm going to close it.  Please feel free to reopen it if you still need support (or visit the slack channel where the whole community can help and give you more interactive responses)...

[2021-09-05 09:58] #503 closed, assigned to nobody

[2021-09-05 09:59] ikelos commented on #501
@atcuno Any chance of a quick docstring here, so we can mark this as closed please?

[2021-09-05 10:01] ikelos commented on #494
Haven't seen any further progress on this, marking it as closed.  Please feel free to reopen if this is still an issue...

[2021-09-05 10:01] #494 closed, assigned to nobody

[2021-09-05 10:01] ikelos commented on #493
No further response, so closing this issue.  If there's more to add, feel free to reopen it...

[2021-09-05 10:01] #493 closed, assigned to nobody

[2021-09-05 10:05] ikelos commented on #488
Forgot to update this as we made decisions, but we've moved to a ModuleRequirement for plugins that need a functioning kernel, and that should have the shift set by automagic.  We're looking to deprecate the old symbol_shift code in version 2.0.0, but we'll probably also jigger around with the Module class and make it actually configurable rather than the current bolt-on of a `ConfigurableModule`

[2021-09-05 10:09] ikelos commented on #486
Not a great deal of additional commentary going on here.  At the moment, the recommended mechanism is still to set no architecture list, or to create the Translation layer, then check if it's an intel layer and descend if so.  Something to watch out for is hypervisor guests whose physical space may actually be a mapped space (using the intel mapping mechanism).  Everyone kind of knows intrinsicall

[2021-09-05 10:10] ikelos commented on #485
@atcuno, just checking progress on various bugs.  This one's definitely up your street, but hasn't seen much progress...

[2021-09-05 10:16] ikelos commented on #464
Sorry for dropping the ball on this, I've been tinkering with things along these lines but still don't have anything to show yet.

The kind of a config you'd be looking at would be.  The Intel32e layer could be used to do the mapping, although technically it might miss pages that the guest isn't allowed to read but are still mapped (it's a bit weird), but it ought to get you most of the way there.

[2021-09-05 10:16] ikelos commented on #456
Think this is done, pretty happy with the pdbscan at the moment.

[2021-09-05 10:16] #456 closed, assigned to ikelos

[2021-09-05 10:21] ikelos commented on #449
I'm sorry this has been open so long, we were intentionally leaving this here as an easy fix to try and attract members of the community to contribute.  When I get a bit of time, I'll try to get it resolved...

[2021-09-05 10:23] ikelos commented on #441
@iMHLv2 I think we've done some work on the VAD stuff since this was reported, are you ok for me to close it off or should we still be looking into it?

[2021-09-05 10:36] ikelos commented on #427
Hiya, just as an update to this, I've tested the latest version and whilst the vmem file fails, the raw file successfully reads properly.  Also, on a branch we're working on ( #559 ) it actually manages to process both the vmem and the raw file.  I think therefore this is or will be resolved, so I'm going to mark it as closed, but please feel free to reopen this if you feel there's more to it...

[2021-09-05 10:36] #427 closed, assigned to nobody

[2021-09-05 11:50] ikelos commented on #385
Sorry this took so long to get resolved, it turned up at a busy time.  I think I agreed with you that we should go with the NotAvailable values.  It's not quite the right answer, but unparsable seems wrong as does unreadble (although unreadable would be better than unparsable).  Anyway, this should now be resolved, please feel free to reopen this if it's still an issue...

[2021-09-05 11:50] #385 closed

[2021-09-05 11:50] #547 closed, assigned to superponible

[2021-09-05 11:53] ikelos commented on #134
Sorry, just trying to keep on top of this.  Any progress here @gleeda?  Is this still a problem @cstation ?

[2021-09-05 22:30] japhlange commented on #550
Windows XP handles network connections differently than Vista onwards. Vol2 has 4 different plugins for network objects in XP (https://github.com/volatilityfoundation/volatility/wiki/Command-Reference#networking) incorporating different approaches.

When porting `netscan` to vol3 I made the deliberate decision not to include XP support to keep down complexity. As I'm not sure if it would be worth

[2021-09-05 22:41] ikelos commented on #550
Thanks for the answer @japhlange.  I'm afraid XP is unsupported for the foreseeable future then @jcunning6.  I'm going to mark this as a question instead, but not close it so people can find it if they go looking...

[2021-09-06 05:44] 0xtejas opened #562 "Improve documentation with demo examples"
**Is your feature request related to a problem? Please describe.**

Yes I find it difficult to understand using volatility3 compared to volatility2 just because the documentation are very raw without any examples of output or step by step explanation like its done in vol2 wiki

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/47889755/132166380-59b5ef6a-c0a0

[2021-09-08 19:59] ellie-gar commented on #547
@superponible

Something must have gone wrong during the compression, I'm glad you were able to reproduce the issue either way. I pulled the latest version with the changes and I got the expected results. Thank you for fixing the issue. 👍

[2021-09-08 23:36] votd-se opened #564 "Support AVML Snappy compressed memory images"
**Is your feature request related to a problem? Please describe.**
When processing AVML snappy compressed memory captures, Volatility3 generates a set of unrelated error messages which do not reflect the root cause - that Volatility3 needs uncompressed memory captures.
e.g
INFO     volatility3.framework.automagic: Running automagic: KernelModule
Level 9  volatility3.framework.configuration.require

[2021-09-09 15:03] cstation commented on #134
This specific issue is not a problem for me anymore, since my problem was in the end related to how `vmem`-files were read. Nevertheless, the original issue posed by @gleeda could still be an unsolved bug.

[2021-09-09 15:19] JeremyNGalloway commented on #564
+1
I wasted a bit of @ikelos time yesterday troubleshooting an issue that was the result of attempting to analyze an image compressed with AVML 🤦

[2021-09-09 20:13] ikelos commented on #564
Does anyone have a public image available compressed using AVML?  We might as well support the file format rather than just putting a message.

I would like to point out, however, that they don't appear to have chosen a different extension for a compressed image over an uncompressed one, and it's a little unreasonable to expect volatility 3 to know about and warn about all file formats (those that

[2021-09-09 21:57] JeremyNGalloway commented on #564
@ikelos you make a great point about AVML. I've raised an issue on their project here: https://github.com/microsoft/avml/issues/25#issue-992679818

Having built-in support for snappy compressed images would be fantastic.
I will attach a compressed capture image ASAP.

[2021-09-09 22:22] JeremyNGalloway commented on #564
I've just taken a compressed and uncompressed capture of a new machine using AVML (using Amazon Linux 2 AMI (HVM), SSD Volume Type - ami-00dfe2c7ce89a450b (64-bit x86)).
Both files are clearly named and can be downloaded here (1.4Gb total): https://www.transferxl.com/00pDNWz5v063b

[2021-09-09 22:48] bmc-msft commented on #564
@ikelos `avml` doesn't specify a file name (or extension), that must be provided by the user.

[2021-09-11 21:36] ikelos commented on #564
Thanks for the examples files.  It turns out avml reformats its lime files, but that shouldn't be too much of an issue.  The issue I'm having at the moment is that the defacto python snappy package (https://pypi.org/project/python-snappy/) seems broken, in that it keeps erroring on both the files I made with AVML (after removing the 32-byte AVML header) which uses a rust snappy implementation.  De

[2021-09-12 22:52] votd-se commented on #564
Awesome, AVML snappy compressed lime files support by default would be fantastic! Thank you @ikelos

[2021-09-14 13:52] wooyin opened #565 "Support dumpfiles with offset"
After scan file in vmem, it is hard to dump only one file, cause 'FileScan' display offset, but not virtuladdr.
 `python3 vol.py -f test.vmem windows.filescan.FileScan`

I suggest to add 'offset' to support it.
`python3 vol.py -f test.vmem windows.dumpfiles.DumpFiles --offset 0x7fe7fdd0`

[2021-09-15 14:40] iMHLv2 commented on #565
Hello @wooyin - the dumpfiles plugin already supports dumping files by virtual or physical offset. Is that not working properly?

[code]

[2021-09-15 14:54] iMHLv2 commented on #560
@KevinK24 Most acquisition tools that output proprietary formats can either optionally be asked to output raw instead, or they support converting from their custom format to raw after the capture. In that case, you could just work that extra step into your pipeline and analyze the raw sample with Volatility. You might also recommend [Surge](https://www.volexity.com/products-overview/surge/) to you

[2021-09-15 15:02] iMHLv2 commented on #520
Hi @KDPryor - sorry for the delay. Those are interesting results, because vadinfo didn't have an issue parsing the VADs for pid 6988, but dumpfiles does (and dumpfiles just internally calls the same methods as vadinfo). Is the memory sample sharable, by any chance? Also, 1.2.1 should still have the dumpfiles plugin - we haven't removed it!

[2021-09-15 15:10] iMHLv2 commented on #441
I think we can close it unless @lprat can share a memory sample that still exhibits this problem (or at least confirm whether it is still a problem with the latest code).

[2021-09-15 15:19] iMHLv2 commented on #439
@Mitch-sleuthkit Did you figure this out? @ikelos We can probably close this ticket - it isn't a problem with Volatility, its more of a generic issue installing pefile and yara-python.

Hmm, I still see the `No module named 'pefile'` messages in the pasted output above...

As @ikelos mentioned, `yara` is a command line tool, whereas `yara-python` is a python module. You can't install the `yara` co

[2021-09-15 15:21] iMHLv2 commented on #425
This is a duplicate of https://github.com/volatilityfoundation/volatility3/issues/529 which has a patch and MR waiting, so I'm going to close this ticket.

[2021-09-15 15:21] #425 closed, assigned to iMHLv2

[2021-09-15 15:23] iMHLv2 commented on #424
This is a duplicate of https://github.com/volatilityfoundation/volatility3/issues/530 which has a fix and MR waiting, so I'm going to close this ticket.

[2021-09-15 15:23] #424 closed, assigned to nobody

[2021-09-15 15:46] jcunning6 commented on #550
No worries, thank you for the info and the updates. I appreciate y'all looking into it!

[2021-09-15 16:06] #439 closed, assigned to nobody

[2021-09-15 16:06] ikelos commented on #439
Feel free to reopen this if you feel the issue is still present...  5:)

[2021-09-15 16:07] ikelos commented on #441
Feel free to reopen this if you believe the issue is still present...

[2021-09-15 16:07] #441 closed, assigned to iMHLv2

[2021-09-15 19:25] #505 closed, assigned to ikelos

[2021-09-15 20:06] Mitch-sleuthkit commented on #439
Sorry for not replying back! You are right, it is not a Vol issue. BR, Mitch

On Wed., Sep. 15, 2021, 17:19 iMHLv2, ***@***.***> wrote:

[2021-09-15 20:36] ikelos opened #566 "Document setup.py requirements, or implement requirements.txt file"
This is so we don't forget the discussion.  A lot of users don't know where to look for the requirements, or use the existing requirements in `setup.py` (I believe there's a way of tagging an install to say which dependencies are needed).

The goals we're looking for are:
* Easy to install all requirements
* Easy to install bare volatility with as few additional requirements as possible (the ratio

[2021-09-15 21:57] ikelos commented on #565
I think this can be marked as closed?  Feel free to reopen it if you believe your issue is a still a problem...  5:)

[2021-09-19 02:52] Reelix opened #567 "Suggestion: Better error handling for non-existent files"
When you attempt analyze a non-existent file (Either from having typo'd the name, or having relocated the file) the output can be rather unwieldy.

Compare Volatility 2

[code]

to Volatility 3

[code]

As it stands, the output for Volatility 3 is rather.... excessive to simply say that the file does not exist (I suspect that it doesn't verify the existence of the file before attempting to run the

[2021-09-19 08:43] ikelos commented on #567
Thanks very much for the suggestion, luckily we've already implemented this in the latest development branch ( in [commit 6a6e2a0e5c](https://github.com/volatilityfoundation/volatility3/commit/6a6e2a0e5c021242c6edcc0013a7f7c257bc8f03) )!  5:)  It will be included in our next release, but so that it doesn't clog up our ticket list I'm going to close this as resolved...

[code]

[2021-09-19 08:43] #567 closed, assigned to nobody

[2021-09-19 10:10] lupinlicious opened #568 "Page error 0xfffffffffff8"
**Describe the bug**
When I run vol.py -f c:\analysis\memory.raw windows.pslist it halts on Progress: 99.96 Scanning memory_layer using PdbSignatureScanner

**Context**
Volatility Version:  3 (1.2.1)
Operating System:  Windows 10 Version 21H1 (OS Build 19043.1237)
Python Version:  3.9.7
Suspected Operating System:  WIndows 7 x64 SP1
Command:  vol.py -f c:\analysis\memory.raw windows.pslist

**To R

[2021-09-19 10:38] lupinlicious commented on #568
If I interrupt I'll see these lines

[interrupt.txt](https://github.com/volatilityfoundation/volatility3/files/7191918/interrupt.txt)

[2021-09-19 10:57] ikelos commented on #568
Thanks very much for the report.  Unforunately, it's a little difficult to figure out exactly what's going on from what you've provided.  Does the program halt with the exception you listed, or does it freeze and stay running at the `Progress: 99.96 Scanning memory_layer using PdbSignatureScanner` line?  Ideally, please rerun the command but with `vol.py -vvv -f c:\analysis\memory.raw windows.psli

[2021-09-19 12:19] lupinlicious commented on #568
Thank you for the fast reply

I have attached the command with -vvv output.
Nothing happends after last line  'slow scan virtual layer' it just hangs.

Thank you!

[vvv.txt](https://github.com/volatilityfoundation/volatility3/files/7192055/vvv.txt)
!

[2021-09-19 12:29] ikelos commented on #568
Thanks for those logs.  So it has located a DTB, but wasn't able to easily find the PDB value, so is now searching every entry in the virtual address space looking for a kernel PDB entry.  This can take a very long time, but if you've left it for quite a while it's unlikely it's going to be able to identify the image.

Just to verify that it isn't related to some DTB scan changes we made recently,

[2021-09-19 12:31] lupinlicious commented on #568
I'm sorry, I'm not sure how I do the commits. Can you provide me with
step-by-step instructions?

Thanks!

On Sun, Sep 19, 2021 at 2:29 PM ikelos ***@***.***> wrote:

[2021-09-19 12:35] ikelos commented on #568
Sure, you'll need to have a git checkout of the repository (your debug output didn't include the version of volatility you're using, so it's possible it's quite an old version to begin with).  You'll need git, but then you can do:
[code]
and then
[code]
to try out a particular commit...

[2021-09-19 13:16] lupinlicious commented on #568
I'm sorry I'm not able to sort this out, is there another way for me to
download the commits you're referring to?
I'm using version 1.2.1

On Sun, Sep 19, 2021 at 2:35 PM ikelos ***@***.***> wrote:

[2021-09-19 13:21] ikelos commented on #568
Errr, yes?  I think you can get them from:
[Before dtb changes](https://github.com/volatilityfoundation/volatility3/archive/cb4cc7805f674b135cb2129ffcd3579eb04c8f2e.zip)
[After dtb changes](https://github.com/volatilityfoundation/volatility3/archive/8409e2df8377d07407d26c54c4e64923a66b61bd.zip)

[2021-09-19 13:56] lupinlicious commented on #568
Thank you! cb4cc7805f674b135cb2129ffcd3579eb04c8f2e seems to work a little
better, I didn't hang so I have attached some logs

8409e2df8377d07407d26c54c4e64923a66b61bd - hangs att "slow scan virtual
layer"

On Sun, Sep 19, 2021 at 3:21 PM ikelos ***@***.***> wrote:

D:\volatility3-cb4cc7805f674b135cb2129ffcd3579eb04c8f2e\volatility3-cb4cc7805f674b135cb2129ffcd3579eb04c8f2e>vol.py -vvv -f c:\analys

[2021-09-19 14:00] ikelos commented on #568
Hmmm, it found a different DTB value than the later one (`0x1ad000` rather than `0x176000`).  At the moment we don't have a mechanism for rolling back to the old DTB mechanism, and inputting the DTB via a config file isn't exactly straight forward.  Would you be willing to share your memory image so we can figure out why the DTB finder goes wrong?

In either case, it doesn't look the memory image

[2021-09-19 14:06] lupinlicious commented on #568
What would be the best way to create a memory image so it will be more
compatible with volatility?
I have previously used dumpit.exe
https://github.com/thimbleweed/All-In-USB/tree/master/utilities/DumpIt

Is the .raw extension an issue?

On Sun, Sep 19, 2021 at 4:00 PM ikelos ***@***.***> wrote:

[2021-09-19 14:11] ikelos commented on #568
The raw extension is fine, volatility located both the intel layer/DTB and found the kernel in the second run, so it should all be working, but clearly it's running into a page fault somewhere along the way.  That likely only affects that one image, you could try attempting to acquire it again.  Other acquisition tools include ftk imager, winpmem, memoryze or surge, but dumpit raw file should be s

[2021-09-19 15:22] lupinlicious commented on #568
I reacquired the image with magnet ram capture instead of dumpit and now I
get the expected results from pslist, pstree and everything superfast :D

Thank you for your time!

On Sun, Sep 19, 2021 at 4:11 PM ikelos ***@***.***> wrote:

[2021-09-19 15:35] ikelos commented on #568
Glad you got it resolved!  Was that using the latest version of volatility, or the commit that worked the second time around (before the dtb scanning changes)?

[2021-09-19 15:37] lupinlicious commented on #568
The latest version of volatility

On Sun, Sep 19, 2021 at 5:36 PM ikelos ***@***.***> wrote:

[2021-09-19 15:39] ikelos commented on #568
Ok, that's good to know.  It might still be helpful to figure out why the DTB finder didn't work on the old image, but at least if a clean acquire worked properly then it's less of a significant problem.  Let me know if you can provide the image, otherwise I'll close this issue off...  5:)

[2021-09-19 15:41] lupinlicious commented on #568
Sorry it contains sensitive information (work related).

On Sun, Sep 19, 2021 at 5:39 PM ikelos ***@***.***> wrote:

[2021-09-19 15:44] ikelos commented on #568
Absolutely no problem, just thought I'd check.  Thanks for letting me know!  Marking this as closed...  5:)

[2021-09-19 15:44] #568 closed, assigned to nobody

[2021-09-23 07:12] hackerman008 opened #571 "Volatility stuck at 98% during PdbSignatureScanner"
![Screenshot from 2021-09-23 12-37-35](https://user-images.githubusercontent.com/20148760/134467692-bd8ff1ec-6711-4362-8506-730b206b594e.png)

[2021-09-23 08:10] ikelos commented on #571
Hiya,

The first error you're seeing is because you didn't pass the `-f` option before you provided the filename, so volatility believe that the filename was a plugin you wanted to run and let you know that it wasn't a plugin (and provided a list of the possible plugins it could have been).

The second half is more interesting, but you haven't said how long it took before you state that it's froze

[2021-09-26 17:22] 108806 opened #573 "Request for mft plugin"
- windows.hashdump
- windows.cachedump
- windows.lsadump
- accessing mft data (can't figure out any way to do it in v3)

I have noticed that in infosec most of the people still tend to use volatility 2 over 3, some compatibility of functionalities would be nice for anyone who wants to make a transition.

[2021-09-26 17:32] ikelos commented on #573
It's not quite clear what the issue is?  The specific plugins mentioned are all present:

[hashdump](https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/plugins/windows/hashdump.py)
[cachedump](https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/plugins/windows/cachedump.py)
[lsdump](https://github.com/volatilityfoundation/volat

[2021-09-29 01:06] #564 closed, assigned to nobody

[2021-09-29 07:11] chris200712 opened #574 "Running Vol3 PSTREE Module"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Volatility Version:  3.0
Operating System:  Win10 19043.1237
Python Version:  Python 3.8.10
Suspected Operating System:
Command:
sudo python3 vol.py -vvv -f ~/Desktop/cases/Windows10.raw windows.pstree.PsTree > ~/Desktop/cases/pstree_true3.txt

**To Reproduce**
Steps to reproduce the behavior:

1. Use command '..

[2021-09-30 21:10] ikelos commented on #574
Hi @chris200712, I'm afraid you haven't really described the issue.  At the moment it just looks as though the memory image you've tried to run the plugin isn't consistent, which may be due to memory smear.  Could you please include the output from running `windows.pslist` on the same file please, just to make sure it's not a duplicate of #525 ?

@iMHLv2 I've noticed we've had about 5 bugs mention

[2021-10-06 19:39] #529 closed, assigned to nobody

[2021-10-06 19:43] #530 closed, assigned to nobody

[2021-10-07 05:26] fishin00 opened #576 "Error when running any commands in Volatility3"
resolved

[2021-10-09 18:55] ikelos commented on #576
Thanks, I'll mark this as closed...  5:)

[2021-10-09 18:55] #576 closed, assigned to nobody

[2021-10-10 10:35] hawk4n6 opened #577 "No suitable kernels found during pdbscan"
I got an Windows 10 RAM dump created by CAPEv2 and want to analyse it. Unfortunately no symbol table is found nor downloaded.

For testing puposes I used an evoluation Windows 10 VM downloaded from Microsoft (Vmware vmdk) converted by qemu-img to qcow2. I did download the Symbols archive windows.zip and extracted to content to the correct directory before running vol.py.

Volatility Version:  2.0.

[2021-10-11 10:14] ikelos commented on #577
Thanks very much for the report.  It looks as though volatility found the DTB so was able to read the image successfully, but I'd still prefer to eliminate the Elf64 layer form the equation.  Could you please use the `layerwriter` plugin or the volatility 2 `imagecopy` plugin to get the image into a raw format and check that the issue can be replicated?  In either situation this will probably requ

[2021-10-11 10:40] hawk4n6 commented on #577
Layerwriter successfully created a 5 GB memory_layer.raw file from an 3.1 GB memory dump. Again Volatility failed to find the matching symbols from the layer file; siehe attached text file.

I can't upload the memory dump here, so please get it from this [link](https://www.transfernow.net/dl/20211011kP392NUP).

[windows-info-memlayer.txt](https://github.com/volatilityfoundation/volatility3/files/7

[2021-10-12 10:28] pyllyukko opened #578 "windows.vadinfo.VadInfo `--maxsize` has no default value"
**Describe the bug**
When I try to run `windows.vadinfo.VadInfo` against a certain memory image, one of the allocations looks like the following:

[code]
So that would account for 8793945538559 bytes which simply can't be true.

**Context**
Volatility Version:  2d39dc5a919f02722f41d83f9c289b6cc6cb07c3
Operating System:  Debian 11
Python Version:  3.9.2
Command:  `python3 vol.py -o results/vads/ -r

[2021-10-12 10:31] ikelos commented on #578
@iMHLv2 Should we set a default value for the `--maxsize` parameter?  I recall preferring not to, but then I didn't expect bad data to lead to 260+ Gb of data output.  5:S  If so what would you recommend as about twice the size of the biggest possible VAD we'd expect to see?

[2021-10-13 10:05] #566 closed, assigned to iMHLv2

[2021-10-13 13:20] #577 closed, assigned to ikelos

[2021-10-13 13:22] ikelos commented on #577
Thanks very much for the image, it turned out our regular expression was missing a flag meaning that in certain very specific situations we'd miss a pdb signature completely.  Thanks to your sample we now find it and your sample processes fine as of `daef7df`!  5:D

[2021-10-13 15:54] hawk4n6 commented on #577
Thanks a lot for your fast help! Solved.

[2021-10-13 16:05] ikelos commented on #568
@lupinlicious I've added slightly more filters to rule out false positives, could you please try the `feature/better-dtb-detection` branch and let me know if it finds you a different DTB value (I think the correct DTB value for that image was `0x176000`).  If so, then we can merge that in, if not I'll have to keep trying to find ways to ignore bad page tables....

[2021-10-21 13:40] ghost opened #583 "Unsatisfied requirement plugins.Lsof.kernel: Linux kernel"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Volatility Version:  Volatility 3 Framework 2.0.0
Operating System:  CentOS 8
Linux localhost.localdomain 4.18.0-305.3.1.el8.x86_64 #1 SMP Tue Jun 1 16:14:33 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
Python Version:
Python 3.6.8 (default, Mar 19 2021, 05:13:41)
[GCC 8.4.1 20200928 (Red Hat 8.4.1-1)] on linux
Suspec

[2021-10-21 21:48] ikelos commented on #583
Hi, did you create the appropriate symbol file for the version of Centos 8 you're trying to analyse?  Volatility 3 doesn't yet have a library of linux symbol tables, so without creating that you won't be able to work with the memory image.  There's a tool for creating them from a debug kernel using the tool [dwarf2json](https://github.com/volatilityfoundation/dwarf2json/).  Please see [this docume

[2021-10-25 01:43] ghost commented on #583
Yes, thank you. I create the appropriate symbol file for the version of Centos 8.  But there are new problems.
[root@localhost volatility3]# python3 vol.py -vvvvvv -f CentOS8.vmem linux.pslist.PsList
Volatility 3 Framework 2.0.0
INFO     volatility3.cli: Volatility plugins path: ['/home/find/Downloads/dwarf2json-master/volatility3/volatility3/plugins', '/home/find/Downloads/dwarf2json-master/volat

[2021-10-25 01:59] ghost commented on #583
I think "symbol file" is still incorrect. But I don't know what went wrong.
![system-map](https://user-images.githubusercontent.com/29820300/138622968-d07e6439-ddb5-4f88-84f0-86d2ce6044ff.PNG)
![vmlinux](https://user-images.githubusercontent.com/29820300/138622972-0d186359-1578-4e2b-a953-e2340d8bb6a5.PNG)
![kernel-info](https://user-images.githubusercontent.com/29820300/138623572-348585d1-0b85-4a3

[2021-10-25 02:05] ghost commented on #583
![banner](https://user-images.githubusercontent.com/29820300/138623970-39d6a7ce-abc9-4314-b7e8-224bf734a9b1.PNG)
![isinfo](https://user-images.githubusercontent.com/29820300/138623973-80bbdde4-7e80-4186-962d-bf38200208ca.PNG)

[2021-10-25 08:39] ikelos commented on #583
Thanks, it looks like the symbols are present now and it's detecting the right version of linux and using that JSON file, but the intel memory map seems to be pointing to somewhere outside of the bounds of the physical memory image.  Unfortunately this suggests either:

* an issue with the memory image itself, which is unusual but can happen
* that the JSON file has symbols which point to the wron

[2021-10-26 11:43] ghost commented on #583
I used the same method for centos7 and found the following error

Level 8  volatility3.framework.automagic.symbol_cache: Caching file jar:file:/root/dwarf2json/volatility3/volatility3/symbols/linux.zip!linux/centos7.3.10.json.xz failed due to JSON error
Level 8  volatility3.framework.automagic.symbol_cache: Caching file jar:file:/root/dwarf2json/volatility3/volatility3/symbols/linux.zip!linux/cent

[2021-10-27 00:49] ikelos commented on #583
Thanks, would you be able to attach either of `centos7.3.10.json.xz` or `centos7-3.10.json.xz` so we can take a look at what's going on.  That looks like a separate issue, rather than something related this one...

[2021-10-27 03:30] ghost commented on #583
I found that I didn't have enough memory, so I didn't complete "Symbols". But there are still problems with centos7.
(base) [root@localhost volatility3]# python vol.py -vvvvvv -f CentOS7-1160.vmem linux.pslist.PsList
Volatility 3 Framework 2.0.0
INFO     volatility3.cli: Volatility plugins path: ['/root/dwarf2json/volatility3/volatility3/plugins', '/root/dwarf2json/volatility3/volatility3/framewor

[2021-10-27 07:48] ikelos commented on #583
Well, it's correctly identifying the symbols, so it could be that the ASLR shift is coming out wrong, but again, I think this is into territory best covered by @atcuno at this point...

[2021-10-27 16:57] NiklasBeierl opened #585 "QEMU layers are extremely slow"
**Is your feature request related to a problem? Please describe.**
I generate lots of snapshots for validating forensics heuristics. I do that by spinning up qemu-vms and "virsh dump"ing their memory. As volatility points out, working with qemu files is slow, conversion to "raw" files with the `layerwriter` pllugin is the solution. However, running the layerwriter plugin itself is also quite slow,

[2021-10-27 22:14] ikelos commented on #585
Hiya, it's not overly well documented, but the CLI already allows you to provide a list of the stacker classnames that you want to use, so if you know ahead of time, you can ensure that only the stackers you need are attempted.

[code]

I agree it's strange that the qemu layer is so slow, whereas the implementation of the AVML which uses an actual compression library is surprisingly fast.  It make

[2021-10-27 22:16] ikelos commented on #585
(One thing to point out, is that the list is space separated, which means you'll need another option like -q or similar, before you come to specify the plugin, something like:
[code]
or
[code]

[2021-10-27 22:19] #578 closed, assigned to iMHLv2

[2021-10-27 22:25] ikelos commented on #488
This has been resolved by #538 and #551 so marking as closed.

[2021-10-27 22:25] #488 closed, assigned to atcuno, iMHLv2, npetroni

[2021-10-27 22:27] ikelos commented on #449
This has been closed by a very kind contribution by a member of the community!  5:)  Feel free to reopen this if there are issues of any kind with it...

[2021-10-27 22:27] #449 closed, assigned to nobody

[2021-10-28 12:57] NiklasBeierl commented on #585
Allright, I didn't see that because I only checked for something like that in the `layerwriter` plugins options, not `vol` s options, thanks!

One thing that I should note for the next person, is that I had to pass both: `LinuxIntelStacker` and `QemuStacker`.

When only passing `QemuStacker` i got this error:
[code]
Despite explicitly specifing: `--layers`
[code]
and despite getting this log:
[cod

[2021-10-28 13:10] ikelos commented on #585
Yeah, fair enough.  Since you might want to control the automagic for any plugin, it's a global option not a plugin specific one.

The `TranslationLayer` requirement is what failed, but since it doesn't have any specific architectures, it *should* have passed with only the qemu layer, so I'm not sure exactly why that failed.  The layerwriter should be able to write any layers available, so it woul

[2021-11-10 15:27] NiklasBeierl opened #587 "QEMU: Holes in physical address space not treated properly"
**Describe the bug**

*Note*: If you are coming here because vol3 fails when analyzing a `virsh dump`, consider using `virsh dump --memory-only` instead.

I was working with QEMU dumps of various sizes: 0.5, 1, 2 and 4 GB. I converted them to "raw" files using the layerwriter plugin and then ran the pslist (and other) plugin against the raw files. I encountered this error, **but only with the 4GB

[2021-11-10 15:27] NiklasBeierl commented on #585
Sorry I forgot to report back for a while.
I found a workaround for people using `virsh dump`: You can use `virsh dump --memory-only` which produces an ELF type dump. These go through vol3 pretty fast. But maybe that is not an acceptable solution for everyone.

I also found another problem with the qemu layer: https://github.com/volatilityfoundation/volatility3/issues/587

[2021-11-10 16:02] NiklasBeierl opened #588 "Document the fact that automagic is chosen based on the plugin's subdirectory"
**Describe the bug**
I have multiple snapshots with different kernel versions and sizes and was running a custom plugin on them. The plugin is just a slightly modified `linux.pslist`. See here: https://github.com/NiklasBeierl/nopgd/blob/main/volatility_plugins/linux/pslist_with_pgds.py

Only on one specific snapshot out of 28, i got this:
[code]
But when i move my plugin into: `volatility_plugins/

[2021-11-10 21:35] ikelos commented on #585
Thanks, have you tried #586?  It should be much much faster, but it needs some testing...

[2021-11-10 21:36] ikelos commented on #587
Thanks, I'm not sure what would be causing that, but if you could create an image we could look at, that would help speed up finding the issue a great deal...

[2021-11-10 21:40] ikelos commented on #588
So when a plugin is under the `linux` namespace, the number of automagic options that are run are reduced to just linux relevant ones.  Without that, you'll get automagic for mac and windows running against the image as well.  In most cases, those won't be able to find suitable matches, but in certain circumstances one of them will succeed in locating bogus information and then volatility won't re

[2021-11-10 21:52] NiklasBeierl commented on #588
I see, I kind of suspected something like that. I wasn't aware that vols `-v` worked up to `-vvvvv`. :innocent:
Do you point me to the the relevant place in the of code so that I can fully understand this mechanism and update the doc?
I think the "How to Write a Simple Plugin" guide might be a good place to start?

[2021-11-11 07:54] ikelos commented on #588
Hiya, I think `-v` actually goes up to `-vvvvvvv`, but I'm not sure anything that far is all that useful...  5;P

The code that does the choosing is at https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/automagic/__init__.py#L52
At the moment, the automagic chooser information is buried under the library section https://volatility3.readthedocs.io/en/stable/using

[2021-11-17 06:40] JamesFirth2020 opened #589 "Python-3.10 - AttributeError: module 'collections' has no attribute 'Sequence'"
Hello,
I'm trying to run a yarascan using a keyword phrase on volatility 3 and whatever I pick it starts writing a file and immediately fails:
C:\volatility3-develop>py vol.py -f E:\memdump.mem yarascan.YaraScan --yara-rules https://
Volatility 3 Framework 1.0.1
Progress:  100.00               PDB scanning finished
Offset  Rule    Component       Value
Traceback (most recent call last):
  File "C:

[2021-11-17 08:01] JamesFirth2020 commented on #589
Also same problem and error for windows.registry.userassist.UserAssist

[2021-11-17 08:39] JamesFirth2020 commented on #589
Aha, this is a python 3.10 issue it seems.

[2021-11-17 09:05] JamesFirth2020 opened #590 "UserAssist Error on Windows 10"
The UserAssist command is failing on my windows, I am using python3.9 as python3.10 was causing me pain with other errors and using volatility3-1.0.1.

Re-ran it with -vvv as specified
---
C:\volatility3-master>py vol.py -vvv -f E:\memdump.mem windows.registry.userassist.UserAssist > Userassist.txt
INFO     root        : Volatility plugins path: ['C:\\volatility3-master\\volatility\\plugins', 'C:\

[2021-11-17 10:13] ikelos commented on #589
Hmm, thanks for pointing this out.  It looks like it is an issue (under python-3.10 at least), so I'm gonna leave this open until we get it fixed...  5:)

[2021-11-17 10:15] ikelos commented on #590
Hmmm, this looks to me like an issue with the specific image that was acquired.  Essentially there's something that, during reading the registry, pointed outside of where volatility believes the registry should end.  This is likely down to memory smear during acquisition, but without the image to investigate I'm not sure we can figure more out I'm afraid...

[2021-11-17 10:35] JamesFirth2020 commented on #590
Okay, well thanks for looking!

[2021-11-17 10:35] #590 closed, assigned to nobody

[2021-11-17 10:37] JamesFirth2020 commented on #589
Excellent - at least that means the time spent I struggling was not a total waste! When it works it works, but when it doesn't...

[2021-11-17 13:41] #589 closed, assigned to nobody

[2021-11-19 08:47] garanews opened #591 "windows.psscan: Error only when using --physical"
**vol -vvvvvvvvvvvvv -f banking-malware.vmem windows.psscan**
[code]

**vol -vvvvvvvvvvvvv -f banking-malware.vmem windows.psscan --physical**
[code]

[2021-11-26 15:59] avgkoster opened #592 "Kernel symbols not found"
Hello everyone. There was a problem with these images, with the fact that an error occurs when determining the PDB. Discussed in Slack. I attach links to download dumps

https://cloud.pampei.ru/index.php/s/nMQrJjdZaf5aQ2H

`D:\diplom\vulnefindproject_diplom\volatility3-develop>vol.py -vvvv -f D:\tests\jigsaw\vmss.core windows.info
Volatility 3 Framework 1.2.1
INFO     volatility3.cli: Volatility p

[2021-12-06 20:10] #474 closed, assigned to nobody

[2021-12-08 23:04] MATTANDERS0N opened #595 "Windows Registry Print Key plugin not fully functional"
**Describe the bug**
The Print Key plugin does not pull back the registry value data back like it does with volatility 2.  It was only able to find and display the name of the registry key.

**Context**
Volatility Version:  3
Operating System:  Linux remnux 5.4.0-89-generic #100-Ubuntu
Python Version:  3.8.10
Suspected Operating System: Win7SP1x86_23418
Command:  vol3 -f mem.raw windows.registry.p

[2021-12-08 23:06] ikelos commented on #595
Thanks for the report, could you please attach example output from both volatility 2 and volatility 3 indicating the issue, so we have something to compare?

[2021-12-08 23:08] #585 closed, assigned to nobody

[2021-12-11 12:02] ptrcnull opened #598 "Use XDG_DATA_HOME instead of saving files to site-packages"
**Is your feature request related to a problem? Please describe.**
When Volatility is installed system-wide, plugins like `windows.info` don't work correctly, as they try to save files to a root-owned directory.

**Describe the solution you'd like**
Runtime files should be saved to user-writable locations, such as `$XDG_DATA_HOME`.

[2021-12-11 12:02] ptrcnull commented on #598
Example logs:
[code]

[2021-12-11 12:13] ikelos commented on #598
Thanks very much for filing the issue.  We store the profiles that we use within the directory structure of the volatility package, since we can't necessarily write them anywhere else but that directory will exist across every operating system.  Writing them on a per-user basis doesn't seem very useful for other users of the package (if the symbol tables are to be stored per-user, why not install

[2021-12-11 12:13] #598 closed, assigned to nobody

[2021-12-15 04:04] gcmoreira opened #599 "Cache issues"
**Cache issues**

vol3 `--clear-cache` doesn't seem to work as expected. The way it's implemented only allows to remove the `data_*.cache` but the actual symbols cache. The framework function [clear_cache](https://github.com/volatilityfoundation/volatility3/blob/3c11099e6621027777ac5a9eeb3f8fbdc5b39b4b/volatility3/framework/__init__.py#L185) has a `complete` argument with a default argument to _Fa

[2021-12-17 16:54] f-block opened #602 "Separator for TreeGrid plugin output"
When using multi-line output columns for the TreeGrid, they are printed without any space between them, letting them appear as one output (the `-r pretty` option doesn't change this behavior). See for example the following output for two different disassembly results:

[code]

So it would be nice to have a separator element, ideally one that can be defined with a specific string, without having to

[2021-12-19 23:54] kevthehermit opened #604 "memmap performance"
### Issue

When comparing the performance of `memdump` in volatility 2 and `memmap` in volatility 3 I have noticed a significant performance impact.

First discussed on Slack - https://volatilitycommunity.slack.com/archives/CNV2K4V9Q/p1639950485064800 , opening a GIt issue with more details.

### Expected Behaviour

`memdump` and `memmap --dump` processing times should be comparable.

### Actual B

[2021-12-19 23:59] ikelos commented on #604
Thanks very much, it looks like it's spending a lot of time in the rendering step.  Could you please get the latest commit of the repo (`fc12956`) and try `vol.py -r none ...`?  That should turn off all output and ideally cut 129s off the run.  It's still not ideal, but it should tell us if that's one of the pain points or not...

[2021-12-20 00:05] kevthehermit commented on #604
Here you go

[code]

Results in no output as expected

[code]

[2021-12-20 00:07] ikelos commented on #604
Hmmm, it didn't cut off as much time as I'd hoped.  5:S  Any chance you could send through a `-m cProfile -o out2.prof` with the `-r none` param please?

[2021-12-20 00:12] kevthehermit commented on #604
Created with

`python3 -m cProfile -o memmap-none.prof vol.py -r none -f image1.raw --output-dir=procdump/ windows.memmap --pid 4604 --dump `

[memmap-none.zip](https://github.com/volatilityfoundation/volatility3/files/7741867/memmap-none.zip)

[2021-12-29 13:34] cstation commented on #587
I'm encountering the same issue as well. It can easily and reliably be reconstructed by creating a VM in QEMU with ≥4096 MB RAM and dumping it with `virsh dump`. Maybe it is related to this 'PCI-hole'? https://github.com/juergh/lqs2mem.py/blob/master/lqs2mem.py#L218 and https://qemu.readthedocs.io/en/latest/devel/memory.html

[2021-12-29 15:15] jfbette opened #607 "Volshell exceptions don't provide enough information"
**Describe the bug**

Volshell command experience an unexpected situation when launching with the "-l" option

**Context**
Volatility Version:  Volatility 3 Framework 2.0.0
Operating System:  Ubuntu 20.04.3 LTS
Python Version:  Python 3.8.10
Suspected Operating System:
Command:  volshell.py

**To Reproduce**
Steps to reproduce the behavior:

0. Analysing a dump made with LiMe of an Ubuntu 20.04.3

[2021-12-29 20:44] ikelos commented on #607
Thanks, the `-l` tries to find a linux kernel in the image and a matching ISF file.  When it can't it throws an error, but I agree the error message is extremely unhelpful, sorry about that.  Without `-l` it just loads the flat physical memory, which you'll then have difficulty running plugins against, so it makes sense that that works, but it's not as useful as you'd expect.

I'll work on improvi

[2021-12-29 21:59] aryanadi-ic opened #608 "Volatility3 Failed to import '/usr/lib/libyara.so' in Kali Linux"
Hi all,

I'm on MAC OS Sierra 10.12 using Virtual Box, Python 2.7.18.  When I ran # /opt/volatility3/vol.py -f /home/aryanadi/Desktop/mymemory imageinfo then I got this failure using Volatility3 in Kali Linux 2021.2 (i guess...) in virtual box 6.1 :

Volatility 3 Framework 2.0.0
Failed to import '/usr/lib/libyara.so'
PATH = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/ga

[2021-12-29 22:25] ikelos commented on #599
Hiya, I've pushed another PR which doesn't clear out the entire cache, but instead points out when multiple files may work for a particular banner, and if so which one will be used.  This should allow a user to find and clear out any bad ones, which the linux cache automagic should then resolve.

Please test #609 out and let me know if it helps you get past the issue you were encountering.

[2021-12-30 02:05] ikelos commented on #604
Well, that was embarrassing.  The default implementation of the renderer was *really* inefficient at the most common case (no tree and simply appending a line to the end of the results).  It would generate the list of children and then count it, twice, for every append!  After applying the pull requests a full run of memmap on an image went from using 1230.0s in the `_append` call to 0.2s.  5:S

I

[2021-12-30 20:06] ikelos commented on #587
Just wanted to check whether this issue is distinct from the fixes that #605 put in place, or if that PR resolved this too?

[2021-12-30 20:08] ikelos commented on #608
Hiya, I'd probably suggest using `pip` to install python packages on kali, rather than the system package manager.  Please try `pip install pefile` and `pip install yara-python` and update this ticket with the results.  Thanks!  5:)

[2021-12-31 00:09] seliyyah commented on #368
I know this says it's "closed" but I was seeing the same issue using Volatility 3 Framework 2.0.0 using Ubuntu 20.04.2 LTS.  Ran the usual prefix syntax and appended "windows.handles --pid 8888" to my memory image and received the following:

        *Volatility could not import a necessary module: capstone
        *Requires capstone to find the SAR value for decoding handle table pointers

	*A re

[2021-12-31 00:57] #607 closed, assigned to ikelos

[2021-12-31 01:46] cstation commented on #587
It's different, unfortunately ;)

[2021-12-31 01:48] ikelos commented on #587
Awww, ok.  I'll try to look into it soon then (I was hoping I could get two things fixed with one pull request)...  5;P  Thanks for letting me know!

[2021-12-31 22:47] #604 closed, assigned to nobody

[2022-01-01 02:17] ikelos commented on #592
Ok, thanks for the memory images, and sorry it took so long for me to look into them.

In both cases, the potential kernel addresses that were found weren't mapped in the main memory map.  As such, volatility couldn't validate that it had found the correct kernel, and that's why it couldn't load the symbols.  I'm not sure why the kernel appears to be missing from both images (even though the PDB e

[2022-01-06 17:58] superponible commented on #595
@MATTANDERS0N Just wanted to update this issue and see if you are able to post some output from volatility 2 and volatility 3 to compare and show where vol2 can find data that vol3 doesn't.  Might also be helpful to include verbose output (-vvvvvv) for vol3.

Also, do other vol3 plugins work on the sample (windows.pslist, windows.modules, etc)?

[2022-01-06 18:02] MATTANDERS0N commented on #595
I don't know if I still have the same sample to test with. I only found an issue with the one plug-in. Others seemed to work okay. I will see if I can find anything to show.

Jan 6, 2022 11:58:20 AM superponible ***@***.***>:

[2022-01-07 01:03] ikelos commented on #587
Ok, I'm getting really confused here, the output from `python vol.py -vvvvv -f qemu-6gb.dmp layerwriter --layers memory_layer` matches exactly the output in `pc.ram` from `python analyze-migration.py -f qemu-6gb.dmp -x`, which means if we're doing something wrong, then the official qemu scripts are too.

Please could someone try both of these to make sure that they a) come out the same for them an

[2022-01-07 08:30] cstation commented on #587
I can confirm that. What helped me for doing the analysis is performing both `virsh dump` and `virsh dump --memory-only` directly after each other for the same VM and try to find how these differ.

Having two images (one QEVM and one ELF64), I ran `layerwriter` on both of them. After that, I ran for both files `xxd -a {elf64|qevm} | grep -E '^\*' -C2 > holes_{elf64|qevm}`, which gave me an overvie

[2022-01-07 09:15] NiklasBeierl commented on #587
Heyya, sorry for disappearing.

You are talking about a memory images (snapshots)?

Or VM images to throw onto qemu? In that case: I used an [ubuntu cloud image](http://cloud-images.ubuntu.com/releases/21.10/release/).

[2022-01-07 10:02] ikelos commented on #587
@cstation so, to confirm, you're saying that we produce the same output as the `pc.ram` produced by qemu's python script?

@NiklasBeierl yep, we're interested in the memory file (not the full vm disk image), which should start QEVM...

[2022-01-07 10:13] cstation commented on #587
@ikelos: Yes

[2022-01-07 11:02] NiklasBeierl commented on #587
Here you go:
https://drive.google.com/drive/folders/1jCvgAfDNWdfqrqftVIuTBT-TyFyA8wH2?usp=sharing

Probably only the `-4096-` (4GB) ones are interesting, but I figured the others wont hurt.
If you need more samples, let me know.

[2022-01-09 21:34] ikelos commented on #587
@NiklasBeierl Thanks for those.  I've confirmed that the qemu analyze-migration script produces the same memory file as the `layerwriter` plugin for both 4096 images.  If you could confirm that they don't work normally, but do work when you duplicate the end further down, then this could be something we could take upstream...

I have been able to recreate an image that doesn't generate the same ou

[2022-01-09 22:00] ikelos commented on #587
Hmmm, scratch that, my sample produces the same output as analyze-migration, so I'm still stumped as to what's up at the moment.  I'll check those 4096 images again and see if I can find something...

[2022-01-10 09:24] ikelos opened #616 "Make sure that old versions of yara throw exceptions about not working"
If you do `pip install yara` instead of `pip install yara-python` you get version 1.7, which has a different interface, so find some way to check the version and bail instead of importing it and then throwing an exception when you try to compile rules....

[2022-01-11 11:45] mabangde opened #617 "hashdump Hbootkey is not valid"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Volatility Version:  Volatility 3 Framework 2.0.0
Operating System:
Python Version:  Python 3.8.5
Suspected Operating System:  Ubuntu 18.04.5 LTS (wls 1)
Command:  `./vol.py -f /tmp/memory.dmp windows.hashdump.Hashdump`

**Screenshots**
![image](https://user-images.githubusercontent.com/6219246/148936234-c067d930

[2022-01-11 12:22] ikelos commented on #617
Thanks for the report, could you please include a short description about the issue?  It's difficult to figure out what's going wrong based only on the screenshots.

As far as I can tell, you'd get the error Hbootkey is not valid, when `SAM\\Domains\\Account\\F` doesn't contain a starting byte of 2 or 3.  The volatility 2 options you show don't demonstrate that it can get the information either, s

[2022-01-12 19:12] ikelos opened #618 "Vol.py `-s` switch is too complicated"
**Describe the bug**
Add a new symbol directory using `-s` doesn't add the files to the linux or mac banner caches, meaning any ISF files found there are ignored.

Putting the same file in `volatility3/symbols` or `volatility3/framework/symbols` allows it to be processed correctly and everything runs fine...

[2022-01-13 01:09] ikelos commented on #618
Turns out that the `-s` switch is working, but expects a symbol directory that is split up into linux, mac and windows directories.  We should investigate making each ISF file contain all the necessary information and build an appropriate caching mechanism so that the correct symbols can be found quickly (as we already do with linux/mac).

[2022-01-13 15:13] pricalinat opened #620 "Unsatisfied requirement plugins.PsList.kernel: Linux kernel"
**Describe the bug**
I am trying to use the volatility3 but I don't know to figure it out.
I generated ubuntu.mem by Lime.
I haved follow https://superuser.com/questions/1620234/volatility3-crashes-on-kali . and it does not help.I don't know whether the symbols works.

**Context**
Volatility Version:  3.0
Operating System:  ubuntu 20.04(Ubuntu 5.4.0-94.106-generic 5.4.157)
Python Version:  3.8
Sus

[2022-01-14 03:28] 420313439 opened #621 "The python script name "vol.exe" conflicts with the Windows built-in command "vol""
**Describe the bug**
The script name "vol.exe" conflicts with the Windows built-in command "vol", thus users can't just call "vol.exe" directly from elsewhere on Windows.

**Context**
Volatility Version:  2.0.0
Operating System:  Microsoft Windows 10 Pro
Python Version:  3.9.9
Command:  vol.exe

**To Reproduce**
Steps to reproduce the behavior:

1. `pip install volatility3`
2. Use command "vol" wi

[2022-01-14 15:12] ikelos commented on #620
Hi there, so it definitely looks like there are banners available in the image (from the `banners` output you provided), but it isn't clear whether volatility has detected the symbols file you made.  It needs to live in a directory called `linux` under your symbols directory (or one you provide using `-s`).  You can see what symbols files volatility knows about by running the `isfinfo` plugin.

If

[2022-01-14 15:12] #620 closed, assigned to nobody

[2022-01-14 15:35] pricalinat commented on #620
I generate a json.xz using dwarf2json. I use "python3 vol.py -vvvv -f ../ubuntu.mem isfinfo" and It finds:
[code]
But I don't why the gcc version is wroing.

[2022-01-14 15:41] ikelos commented on #620
I'm not sure either, but unfortunately that will cause volatility not match that symbol file.  It sounds as though the debug kernel you've got was built slightly differently, or for a different kernel in same way?  It might be worth checking that you got the debug information for the main kernel, not for the debug copy of the kernel (I know some distributions push out a normal kernel, and one with

[2022-01-15 21:06] kevthehermit commented on #616
They both have `yara.__version__`

[code]

[code]

[2022-01-15 22:42] kevthehermit commented on #542
Can confirm that the output is not compatible with `log2timeline` with 0 events being detected

[code]

Modified timeliner.py to pad with `0` values instead of being blank and events are now detected

[code]

[2022-01-16 00:59] ikelos commented on #608
Also, I just spotted that when you did `ls` you had files called `=2017.8.1` and `=3.8.0`.  This means that when you ran `apt-get install yara-python>=3.8.0` it wasn't quoted, and `apt-get install yara-python` was run and the output piped into the file called `=3.8.0`.  As I say, I'd try using pip and make sure you quote any parameters that include a pipe operation (such as `<` or `>`).  I'm going

[2022-01-16 00:59] #608 closed, assigned to nobody

[2022-01-16 01:13] ikelos commented on #621
Thanks for pointing this out!  I've now tested this, and simply running `vol` does indeed launch the built-in windows command `vol` rather than running an executable in the current directory.  However, `.\vol` or `vol.exe` runs the executable rather than the built-in command.

Changing the name of the produced executable would make documentation more difficult (needing to specify the alternatives)

[2022-01-16 01:19] #501 closed, assigned to atcuno

[2022-01-16 01:21] ikelos commented on #509
I'm going to mark this as closed, given there's been no response in three months.  Feel free to reopen this, or a file a new ticket if it's still an issue with 2.0.0

[2022-01-16 01:22] #509 closed, assigned to nobody

[2022-01-16 01:23] ikelos commented on #514
I'm going to mark this as closed, since volatility does output unicode characters correctly, and this sounds like it's the console that's unable to handle the unicode output correctly.  Feel free to reopen this if you think there's still an issue here...

[2022-01-16 01:23] #514 closed, assigned to nobody

[2022-01-16 01:25] ikelos commented on #525
Haven't had a response on this one for a while, I'm going to mark it as closed, but please feel free to reopen it, particularly if you still experience this issue in version 2.0.0.

[2022-01-16 01:25] #525 closed, assigned to nobody

[2022-01-16 01:27] ikelos commented on #571
There hasn't been a response to this in a while, so I'm going to mark it as closed, please feel free to reopen it if you test it out with `-vvv` and can share the results...

[2022-01-16 01:27] #571 closed, assigned to nobody

[2022-01-16 01:28] #588 closed, assigned to nobody

[2022-01-16 01:34] #602 closed, assigned to nobody

[2022-01-16 14:08] #312 closed

[2022-01-16 14:08] #573 closed, assigned to nobody

[2022-01-17 03:55] 420313439 commented on #621
Thanks for responding! But i'm afraid that it wouldn't work if you are simply running `vol.exe` *out* of the directory of volatility... However, since you've noticed this issue, i am gonna close it for now. Thanks again.

[2022-01-17 03:56] #621 closed, assigned to nobody

[2022-01-17 11:50] ikelos commented on #621
Ah, you're right, how strange?  It appears to be built into the shell itself, but it's strange that `vol.exe` works for local directories, but not when the directory is in the path?  5:S  I've found a workaround though, but that means it's less likely that we'll end up changing the executable name...  5:S

The workaround is to launch the executable with quotes around it, so:
[code]
That works if `

[2022-01-18 14:20] sin4ts opened #627 "Volatility can't process UNC path"
**Describe the bug**
Volatility3 can't process files which are located on network share and thus provided using UNC path.
All the more, if cached symbols are also located on a network share (for example because volatility itself is stored on a network share), they can't be loaded which cause volatility to crash.
I assume of course one has the correct permission to access the given network share. T

[2022-01-18 21:00] #616 closed, assigned to ikelos

[2022-01-18 21:01] #542 closed, assigned to gleeda

[2022-01-19 01:13] ikelos commented on #627
This is a feature of how windows UNCs are supported in python.  It appears to work with file:////host/path/to/host.  Please could you test this with `--single-location` and let us know.  If so, we can investigate supporting it in the `-f` parameter, but I'd like to check that the URL version works properly first...

[2022-01-19 08:54] sin4ts commented on #627
Thank you for your answer. I have just tested with --single-location file:////host/path/to/host, indeed it works ! Thank you for pointing it to me.
However that only solve half of the issue: if the Volatility source code is located on a network share, then it does not work - even if the network share is mounted as a drive.
The problem seems to be related to the way Volatility deals with symbols: t

[2022-01-23 05:31] mbunde opened #629 "Windows 11 cannot write new ISF files to the symbols directory"
**Is your feature request related to a problem? Please describe.**
Hello I would like to request if there is suggestible profile that can be used by the Windows 11 memdumps

**Describe the solution you'd like**
Any profile that can be used with win11 will help in analyzing windows 11 memdumps

[2022-01-23 11:17] ikelos commented on #629
Thanks, this isn't really a bug report, and doesn't really tell us enough to help with your issue?  Volatility 3 doesn't use profiles, that's part of volatility 2.  Windows ISF json files should be automatically generated by volatility from a PDB downloaded from Microsoft *if* volatility is able to determine the correct kernel.  As far as we're aware this functionality works for Windows 11 as well

[2022-01-23 19:17] mbunde commented on #629
Hello @ikelos  see attached. note i am using ubuntu installed on windows 10 via wsl.

<img width="961" alt="run_vol" src="https://user-images.githubusercontent.com/20443467/150693933-ec110940-6850-4006-9fb3-019fd883d96f.PNG">

See below sample run results
vol -f memdump.mem -v windows.registry.hivelist.HiveList

Volatility 3 Framework 2.0.0
INFO     volatility3.cli: Volatility plugins path: ['/usr

[2022-01-23 19:36] ikelos commented on #629
So actually, this is trying to create the symbols, but can't write to the location where symbols are written:

[code]
Either grant yourself permissions, install volatility3 local to your user (such as by using pip) or follow the [instructions for generating the ISF file](https://volatility3.readthedocs.io/en/stable/symbol-tables.html#windows-symbol-tables) and putting it in the exact location spec

[2022-01-24 09:39] zlgxzswjy opened #631 "Unable to validate the plugin requirements: ['plugins.Info.kernel']"
I can analyze the same image with vol2，but I can't analyze it with vol3

【vol2 command :volatility -f john.mem –profile=WinXPSPx86 notepad】

【vol3: debug output】
└─# ~/Desktop/tools/volatility3/vol.py -vvvv -f john.mem windows.info.Info                                                                                                                           2 ⨯
Volatility 3 Framework 2.0.0
INFO

[2022-01-24 09:44] ikelos commented on #631
Thanks for the report, it looks like it was able to find an intel layer, but then couldn't find a kernel within that.  It found one potential kernel, but that caused a page fault, which makes me suspect that we haven't found the right `DTB` for the image.  Could you please run the `imageinfo` plugin with vol2, so we can compare the `DTB` values?  Also, if we need to dig into this, would you be hap

[2022-01-24 13:19] zlgxzswjy commented on #631
![image](https://user-images.githubusercontent.com/12388719/150789929-db45ab64-93aa-4def-af48-87935e63803a.png)

[2022-01-24 14:17] ikelos commented on #631
Thanks, so from your original output we did detect the wrong DTB value (`DTB was found at: 0x267000`) whereas volatility 2 identified it as `0x334000`.  It should be possible to construct a configuration that could be read, but it's slightly tricky because we've moved to the `ModuleRequirement` from just the `TranslationLayerRequirement` and the `SymbolTableRequirement`.

If you construct a json f

[2022-01-25 02:14] zlgxzswjy commented on #631
I'd like to share  this image file, but github doesn't seem to be able to upload such a large file, even if I have compressed it into a zip（40M）。Can you give me a email address for sending the image.

I tried to reference the config with the -c parameter ，but I got similar results.thanks for your help

------------------------------------------------------------------------------------------------

[2022-01-25 02:29] zlgxzswjy commented on #631
I'd like to share  this image file, but github can't upload *.mem file。Can you give me a email address for sending the image.

I tried to reference the config with the -c parameter ，and I got the correct result. thanks for your help.

I hope you can fix this issue. As a loyal user, I would like to fully transition to vol3, because the python2's class library is very difficult to install now
------

[2022-01-25 02:31] zlgxzswjy commented on #631
I'd like to share this image file, but github can't upload so large file, even if i have compressed into a zip file（40.3 MB）。Can you give me a email address for sending the image.

I tried to reference the config with the -c parameter ，and I got the correct result. thanks for your help.

I hope you can fix this issue. As a loyal user, I would like to fully transition to vol3, because the python2's

[2022-01-25 11:41] ikelos commented on #631
Sure, we tend to use gmail for transferring images, you can send it to mike.auty@gmail.com and I'l try to take a look at it.  It looks like the config worked, since you're getting results at least, but I need to look into why it's still saying the automagic DTB rather than the one from the config...  5:S  Anyway, glad you're making progress and if you send over the image I'll try to take a look at

[2022-01-25 13:03] zlgxzswjy commented on #631
I've already sent it to your gmail.thanks for your help

[2022-01-25 13:18] ikelos commented on #631
Thanks, I've got the file and I'll give it a look when I get some time...  5:)

[2022-01-26 00:23] samuelzurowski opened #632 "Unable to validate the plugin requirements: ['plugins.PsList.kernel']"
**Describe the bug**
Hello, I am attempting to try to analyze a memory dump that is running Ubuntu. I generated the symbol table using dwarf2json and I believe that the symbol tables are matching up. I was able to run volatility on a Windows image without an issue though. However, I get the error:

Unsatisfied requirement plugins.PsList.kernel: Linux kernel
Unable to validate the plugin requiremen

[2022-01-26 01:02] ikelos commented on #632
Hi there, you're doing a lot of things right, but unfortunately the kernel you got the symbols from wasn't *exactly* the same as the one in the image, and so volatility couldn't use it (it might introduce subtle errors, which is a bad thing for a forensics tool to do).

The image you're looking at begins `Linux  version 5.13.9-051309-generic` but the symbols you've made start `Linux version 5.13.9

[2022-01-26 01:03] ikelos commented on #632
I'm going to close this, since I've somewhat answered the question, but feel free to reopen it or better join our [slack channel](https://www.volatilityfoundation.org/slack) to get more interactive support.  5:)

[2022-01-26 01:03] #632 closed, assigned to nobody

[2022-02-01 18:42] dilzor28 opened #634 "Unable to validate the plugin requirements: ['plugins.PsList.kernel']"
I have been trying to test out volatility3 in an EC2 instance, however it doesn't seem to recognize the custom built profile I have made. I used `./dwarf2json linux --system-map [path_to]/System.Map-xxx.x86_64 > LinuxVersion.json` and added it to both volatility3/volatility3/symbols and volatility3/volatility3/framework/symbols/linux. Here is the output for `banners` as well as `isfinfo`. It shoul

[2022-02-01 20:28] ilay122 commented on #214
@gleeda I think I know what the issue is. If you send me the dump I can verify it and make a pull request.

[2022-02-02 23:51] vincentroberge opened #636 "Where are the handles for the StandardInput, StandardOutput and StandardError in the windows.handles output?"
**Describe the bug**
The windows.handles plugin does not print the handles for the StandardInput, StandardOutput and StandardError.

**Context**
Volatility Version:  2.0.0
Operating System:  Ubuntu 20.04
Python Version:  3.8
Suspected Operating System:  Windows 10 and 11
Command:  vol -f win11.vmem windows.handles --pid 1234

**To Reproduce**
Steps to reproduce the behavior:

On a Windows 10 or 11

[2022-02-02 23:55] ikelos commented on #636
Sounds like one for our windows expert @iMHLv2 ...  5:)

[2022-02-03 00:06] ikelos commented on #634
Thanks for the report, your screenshots show that the banner listed under the output from the `banners` plugin, doesn't match the banner from the `isfinfo` plugin.  The JSON file you created suggests there are 0 `base_types` and 0 `types`, but 75376 `symbols` and that there is no banner present.  Further the `metadata` section of the file you sent suggests that only `System.map` was used to create

[2022-02-03 00:06] #634 closed, assigned to nobody

[2022-02-03 17:39] HasegawaAzusa opened #637 "windows.filescan: UnicodeEncodeError: 'gbk' codec can't encode character '\u0cc9' in position 12: illegal multibyte sequence"
Errors:
PS C:\Users\53124\Desktop> vol.exe -f .\ACTUE.raw windows.filescan > 111.txt
Traceback (most recent call last):B scanning finished
  File "C:\Users\53124\AppData\Local\Programs\Python\Python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\53124\AppData\Local\Programs\Python\Python39\lib\runpy.py", line 87, in _run_code
    e

[2022-02-04 01:28] robertstrom commented on #574
Hopefully this is more info:

I am unable to get the pstree plugin to work. All the other plugins seem to work, just not this one. I have seen this error on multiple memory images. One collected yesterday afternoon and one just prior to this post (it was a memory image of my own machine). The machine yesterday was Win10 2004. Specifically:

From volatility windows.info.Info:
PE MajorOperatingSyste

[2022-02-04 03:57] robertstrom commented on #574
I did some more testing and have a little bit more information.

I created snapshots of a Windows Server 2012 R2 Domain Controller and a Windows 10 Enterprise; OS Version:                10.0.19044 N/A Build 19044 and was able to successfully run the same command to get the PsTree.

I did another image of my physical Windows 11 machine using Dumpit.exe this time (last time I used winpmem (winpmem_

[2022-02-04 15:16] atcuno commented on #574
@robertstrom

can you please checkout this branch:

https://github.com/volatilityfoundation/volatility3/tree/issue_574_pstree_smear

with:

git pull
git checkout issue_574_pstree_smear

then run pstree and make sure you get processes output.

[2022-02-04 21:00] robertstrom commented on #574
@atcuno - I have run the git commands and the run volatility command to create the PsTree and I am still having issues with most memory images

![image](https://user-images.githubusercontent.com/3240205/152602092-c6aae63d-e4f1-4a3e-b7b0-48e67d13cf6a.png)

Volatility command used was:

[code]

[code]

[2022-02-05 07:42] aryanadi-ic opened #638 "Unsatisfied requirement plugins. Linux kernel Unable to validate the plugin requirements:"
Hi there!

Please kindly help me with this, as I think there's something wrong with me or something missing when running the volatiltiy3 :

Unsatisfied requirement plugins. Linux kernel Unable to validate the plugin requirements:
Volatility Version:  3
Operating System:  Ubuntu 20.04.2 LTS (Mac OS Sierra 10.12 using Virtual Box)
Python Version:  3.8.10

Command:

# /opt/volatility3/vol.py -f Linux

[2022-02-05 11:49] ikelos commented on #638
Hi there,

I'm sorry the error messages aren't as clear as they could be.  The first one should be pretty clear:
```volatility: error: argument plugin: invalid choice imageinfo```
Imageinfo was the name of a plugin for volatility 2, but volatility 3 is a completely new program.  It has many similarities, but the names of plugins aren't exactly the same, so that's why that plugin didn't work.

All

[2022-02-05 11:49] #638 closed, assigned to nobody

[2022-02-05 16:00] ikelos commented on #627
Ok, I think I've narrowed down where it might be going wrong.  We do some messing with filenames at https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/symbols/windows/pdbutil.py#L204

It looks like we try to convert the windows filepath into a URL, but that goes wrong rather than using the filename directly.  It'll take me a little bit to set up an appropriate e

[2022-02-06 05:56] PeterQi opened #639 "Get empty result from Mac OS's memory"
**Describe the bug**
I dumped my mac's memory by osxpmem. Then I used volatility3 to analyze it. But I could only get empty result.

**Context**
Volatility Version:  Volatility 3 Framework 2.0.0
Operating System:  Mac OS X 10.15.7 19H15
Python Version:  Python 3.8.2
Suspected Operating System:  Mac OS X 10.15.7 19H15
Command:  python3 vol.py -f ../memory.dmp mac.bash.Bash

**To Reproduce**
Steps t

[2022-02-06 15:13] vincentroberge commented on #636
I am very interested in knowing where the actual handles for stdin, stdout and stderr are in Windows 10 and newer (not just their index in Peb.ProcessParameters.StandardInput/Output/Error). If someone has that information, this could help me develop an initial solution to include those handles in the windows.handles plugin. I searched the web , but could not find anything. Any help is appreciated.

[2022-02-06 22:37] ikelos commented on #627
This is now an official python bug at https://bugs.python.org/issue46654.  The issue is that the URL returned by Pathlib's `to_uri()` isn't accepted by urllib's `urlopen()` function.  I haven't worked up a local patch yet, we'll see if this can be resolved quickly upstream...

[2022-02-07 11:17] PeterQi opened #640 "Got error "Unable to validate the plugin requirements: ['plugins.Bash.kernel']" while analyzing dumped memory of macOS 12.1_21C52"
**Describe the bug**
 Got error `Unable to validate the plugin requirements: ['plugins.Bash.kernel']` while analyzing dumped memory of macOS 12.1_21C52

**Context**
Volatility Version:  Volatility 3 Framework 2.0.0
Operating System:  Windows
Python Version:  Python 3.8.5
Suspected Operating System:  macOS 12.1_21C52
Command:  python3 vol.py -f ..\memorydmp\memory.dmp mac.bash.Bash

**To Reproduce*

[2022-02-07 14:58] sin4ts commented on #627
Thank you very much for your update and for escalating this to the Python project !
In case that can help you, I was actually able to temporary fix the issue with the attached patch. Basically I just open UNC paths using the default "open" function instead of Urllib. Definitely not rocket science, neither it's a very elegant fix, but so far it seems to work nicely for me :)
Thank's again for your

[2022-02-09 09:06] ikelos opened #642 "Roll version 2.0.1 to include #641"
We likely need to roll a new release to fix #641 which could be quite a significant bug (and investigate how it managed to avoid showing up in our testing, I'm thinking we got lucky on a scan chunk boundary?).

[2022-02-09 19:37] ikelos commented on #642
We should probably also include #643 at the same time.

[2022-02-10 01:54] ikelos commented on #637
Hi there, thanks for your issue.  We output the data encoded as unicode characters, the conversion to `gbk` is probably due to your local terminal configuration.  Sadly, `gbk` doesn't support all possible unicode characters, perhaps try a local terminal encoding of `gb18030` instead, which apparently does support all unicode characters?

As you can see, it's possible for the character to be printe

[2022-02-10 01:54] #637 closed, assigned to nobody

[2022-02-12 17:04] robertstrom opened #646 "Mftscan enters infinite loop (How long should a timeline take?)"
**Describe the bug**
Timeliner plugin not completing / taking forever

**Context**
Volatility Version:
Volatility 3 Framework 2.0.0
Operating System:
NAME="Linux Mint"
VERSION="20.3 (Una)"
Python Version:
Python 3.8.10
Suspected Operating System:
0,"NtMajorVersion","10"
0,"NtMinorVersion","0"
0,"Major/Minor","15.22000"
Command:
currently running command
/home/rstrom/volatility3/vol.py -f /mnt/data

[2022-02-12 23:17] ikelos commented on #646
Sadly the `--parallelism` code isn't all that useful and tends to still take as long for a number of reasons (it only applies to the scanning steps, and the generator for the blocks to scan happens outside of the parallelism and is really slow, pypy might give better results), which is why we turn it off be default.

The timeliner plugin *should* take as long to run as each of the applicable plugi

[2022-02-12 23:34] ikelos commented on #646
My guess would be the `mftscan` plugin, it seems like it can take a *really* long time to return...  5:S

[2022-02-12 23:56] ikelos commented on #642
Might want to leave #644 out so it gets more testing in the develop branch before primetime.

[2022-02-13 00:26] ikelos commented on #646
Could you please try out PR #647 ?  It will likely write to a temporary file, but that should grow as output occurs.  Also, if the execution is cancelled before the plugin is complete (and any output has been produced) the file should get renamed to the requested filename and contain the data that had been written so far.

[2022-02-13 17:44] robertstrom commented on #646
I believe that I am trying PR #647 - I am just barely starting to learn git / I am not a programmer ;-) Luckily atcuno preemptively guided me in a reply to my post in Running Vol3 PSTREE Module #574.

Here I believe that I am running the code that you mentioned
[code]

After killing the other running timeline (at about 132 hours), I have started it again with -vvvvvv and in addition to what you ha

[2022-02-13 20:29] robertstrom commented on #646
Started the timeliner plugin command at

**22-02-13 10:33:16** volatility3.cli INFO     Logging started

It is now 1:10PM

I stopped the timeline @ 22-02-13 13:09:01 since it already looks like it is hung and the log file is sitting at 3.9GB

at 22-02-13 10:52:33 I started seeing these log entries

22-02-13 10:52:33 volatility3.plugins.windows.mftscan DEBUG    Attr Type: PROPERTY_SET

![image](htt

[2022-02-13 20:40] ikelos commented on #646
Great work on the debugging!  You've narrowed it down to a loop that happens in `mftscan`, and it looks as though there *is* a circumstance when it could get into an infinite loop.  Could you please add the following code at [line 127](https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/plugins/windows/mftscan.py#L127) of the `mftscan` file please?

[code]

That

[2022-02-13 20:49] ikelos commented on #646
I've run local tests, and updated pull request #647 to include the mftscan fix.  `mftscan` will likely still take a long time to complete (particularly with 24Gb to scan), but hopefully it will complete in a reasonable time (and there's no other plugins with infinite loops).  After you confirm that, I'll get #647 merged...  5:)

[2022-02-14 18:57] robertstrom commented on #646
I made the modification to the **./volatility3/framework/plugins/windows/mftscan.py** file

![image](https://user-images.githubusercontent.com/3240205/153927827-0ed6319d-924f-458b-b880-237c0989218f.png)

I kicked it off and it ran for approximately 30 minutes before stopping. Start time was:

-rw-rw-r--  1 rstrom rstrom    0 **Feb 14 09:35** U-4678457_memory.timeliner.Timeliner.csv

And the time w

[2022-02-14 19:00] robertstrom commented on #574
Hello,

Just touching base to see if there is anything else needed from me to help determine what the issue is / help get it fixed.

Thanks, Robert

[2022-02-14 19:06] chris200712 commented on #574
Thank you guys.  No there is not
    On Monday, February 14, 2022, 08:00:34 PM GMT+1, robertstrom ***@***.***> wrote:

Hello,

Just touching base to see if there is anything else needed from me to help determine what the issue is / help get it fixed.

Thanks, Robert

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Andr

[2022-02-14 19:40] robertstrom commented on #574
@chris200712 - That was a question for the folks on the volatility team ;-)

[2022-02-14 20:35] ikelos commented on #646
Awesome, thanks.  If timeliner completed then it looks like it was just `mftscan` getting stuck!  5:)  I'll make the merge which should close this off, thanks for your help debugging it all!  5:D

[2022-02-14 20:35] #646 closed, assigned to ikelos

[2022-02-15 05:25] chris200712 commented on #574
Got ir

Sent from my iPhone

[2022-02-15 06:59] adithya-sama opened #648 "Enumeration not found in netscan-win81-x641 table: _PARTITION_TABLE"
**Describe the bug**
I am having trouble running windows.netstat on a Windows Server 2012 R2 6.3.9600 image.

When I run volatility3 as a library on the image, I get
volatility3.framework.exceptions.SymbolError: Enumeration not found in netscan-win81-x641 table: _PARTITION_TABLE

When I run "python vol.py -vvv -f ../win_dump windows.netstat" I get
volatility3.framework.exceptions.PagedInvalidAddre

[2022-02-15 19:23] pudii commented on #313
@ikelos I think this can be closed as well.

[2022-02-15 20:08] ikelos commented on #313
Yep, thanks catching that!  5:)

[2022-02-15 20:08] #313 closed

[2022-02-16 06:41] eisoldt opened #649 "Update Volshell RTD"
Could you please update the RTD for volshell so it fits the new version. The requirements for pslist have changed.
Thanks.

Volatility Version:  2.0.0
Operating System: Windows 11
Python Version:  3.10.2
Suspected Operating System: Windows 11
Command:

1. Use command
(primary) >>> pslist.PsList.get_requirements()
[<ModuleRequirement: kernel>, <BooleanRequirement: physical>, <ListRequirement: pid>,

[2022-02-17 10:43] paulkermann opened #652 "Null pointer dereference in UNICODE_STRING"
Ran into an issue with `UNICODE_STRING`'s `get_string` function, when `self.Buffer` is null.
`self.Buffer.dereference()` fails, and `InvalidAddressException` gets thrown.

I'm aware of commit 00f3b4fb4448cd121d472effcaaf37f3e2a20375; I'd prefer at least a more specific error in this case, rather than a page fault error (which is intended for actual invalid addresses and paged out memory).

This oc

[2022-02-17 10:54] ikelos commented on #652
Thanks, I'll bring it up in the next meeting, but as you point out we made an explicit decision to throw errors so users know that something went wrong.  We'll consider the corner case where length is 0, but we'll probably still throw an InvalidAddress exception where length is positive but the pointer can't be accessed, since that's in keeping with accessing a pointer that didn't go anywhere.  If

[2022-02-17 11:08] paulkermann commented on #652
That's great, thanks.

If the corner case is handled no explicit exception is needed.

[2022-02-20 22:59] #649 closed, assigned to nobody

[2022-02-20 23:09] ikelos commented on #648
Hmmm, I'm a little confused as to where that loaded table came from, because the JSON does contain `_PARTITION` (as seen [here](https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/symbols/windows/netscan/netscan-win81-x64.json#L651)) and when run from the CLI you don't get the error.  You are getting a null pointer exception (that seems to be coming from `parse_h

[2022-02-21 06:53] adithya-sama commented on #648
You were right, when I was using the library, the python interpreter picked up the volatility3 package I installed using pip and not the repo I pulled. Now I see the page Fault error in both cases. I tried netstat plugin on a windows 10 image (which I generated the same way i generated the windows server 2012 R2) and it worked. When you say an issue with the image, what kind of issue do you mean?.

[2022-02-21 08:41] ikelos commented on #648
Thanks for getting back to us, I'm glad the library issue got resolved.  Unfortunately acquisition usually takes some time, and during that time memory pointers can change meaning that when we read the memory that contains a structure, by the time we've gotten to where that pointed to it might have been deallocated and/or reallocated elsewhere.  This is called smear  (which we mention in the possi

[2022-02-21 08:41] #648 closed, assigned to nobody

[2022-02-23 00:12] ikelos commented on #627
Thanks for the patch (and to @paulkermann for #655 as well).  Please could you review the pull request I've put up.  It should work both if python fixes the bug and if they don't without affecting any other systems.  I've done my own testing and it resolves the issue, but I'd like confirmation from others and then I'll merge it...  5:)

[2022-02-23 18:27] atcuno commented on #574
@robertstrom can you please run pslist with the verbose flags set and send the output?

[2022-02-23 20:16] ikelos commented on #652
Yep, word is that's ressonable, so I'll get that coded up tonight.

[2022-02-23 21:44] #599 closed, assigned to nobody

[2022-02-24 03:45] robertstrom commented on #574
@atcuno - here are two runs, one successful and one not. These are the log files produced with the -l argument. Let me know if you need some other output.

Basic command line used was:

/home/rstrom/volatility3/vol.py -vvvvvv -l /home/rstrom/U-3586225_volatility_pstree_2022-02-23.log -f /mnt/data/memoryimages/U-3586225_20220204073104.raw windows.pstree.PsTree

[U-3586225_volatility_pstree_2022-02-

[2022-02-24 17:13] iis2h opened #661 "Failed to import '/usr/lib/libyara.so'"
I have this issue

[code]
and the rest of the error

[2022-02-24 17:14] iis2h commented on #661
I'm running on updated Kali Linux

[2022-02-24 17:43] iis2h commented on #661
oh my I just found the solution after writing this issue by 26 mins :)
you can create virtual environment and install requirement.txt inside it, then complete the installation steps

[2022-02-24 17:43] #661 closed, assigned to nobody

[2022-02-24 17:55] ikelos commented on #661
Hehehe, no problem, glad you found a solution!  5:)

[2022-02-26 13:26] #652 closed, assigned to nobody

[2022-02-26 13:26] #627 closed, assigned to ikelos

[2022-02-27 00:05] #629 closed, assigned to nobody

[2022-03-03 17:12] h49nakxs opened #665 "Hashdump not working : AttributeError: 'NoneType' object has no attribute 'get_key'"
**Describe the bug**
Plugin hashdump is not working as expected. Instead, it throws the following error :

**Context**
Volatility Version:  Volatility 3 Framework 2.0.2
Operating System:  Linux host 5.16.0-kali1-amd64
Python Version:  Python 3.9.10
Suspected Operating System:  Microsoft Windows Server 2012 R2 Standard
Command:  python3 vol.py -f SILO-20180105-221806.dmp windows.hashdump

**To Repr

[2022-03-03 17:30] ikelos commented on #665
Interesting, thanks for the information and the image to reproduce it.  Git bisection shows it up as being a recent patch: `265b2825697ecb8c94ba8654acd6191ba0055fdd`, but it's not clear immediately why it's causing the problem.  I guess possibly the code was expecting an exception somewhere and instead for an empty string?  I'll dig into it more but it should be pretty fixable...  5:)

[2022-03-03 20:43] #665 closed, assigned to ikelos

[2022-03-03 20:49] ikelos commented on #652
This actually changes the states that can come from trying to read a string.
Before:
[code]
which has now changed to:
[code]
There was only one corner case where we were relying on this distinction, and it was easy to fix up, but it will make it more difficult for users to determine when to return an AbsentValue rather than a empty string.  So far it's not high impact, but this may need revisiting

[2022-03-06 18:55] ikelos commented on #631
Sorry this took such a long time, but I actually found that both vol 3 and vol 2 were finding the wrong DTB.  It's actually a PAE layer with a DTB of `0x334000` [Edit, my mistake, vol 2 always found the right dtb].  I can now get valid pslist results from the image you sent using the pull request I've just filed.  I'll likely merge this in a few days, but please give it a test and shout if you enc

[2022-03-07 09:08] paulkermann opened #668 "Freed big pools in list_big_pools()"
When a big pool is freed the struct's `self.Va` is or'd with `0x1` (as per [Alex Ionescu's blog post](https://www.alex-ionescu.com/?p=231)).

Currently the `BigPools` plugin doesn't check if a big pool was freed (and no `is_freed` method is available for `POOL_TRACKER_BIG_PAGES` in volatility3/framework/symbols/windows/extensions/pool.py). So big pool information returned by the plugin can be dece

[2022-03-09 08:57] trapframe commented on #182
I have the same issue while running pdbconv on ole32.dll from win7 SP1:

pdbconv.py -g ee489189724f4d47aeccfdb5534824352 -p ole32.pdb -o ~/dev/vol_profiles/wmi/win7/32/

On the develop and stable branches i have:

TypeError: Unhandled leaf_type: 5392

On the feature/pdbconv-cplusplus-vs19 branch i have:

TypeError: Unhandled leaf_type: 10

[2022-03-09 09:03] #631 closed, assigned to ikelos

[2022-03-11 10:24] lic-8 opened #671 "vol.py can't find the hashdump plugin"
hashdump plugin is installed (hashdump.py is in the source) but vol.py can't find it

[code]

[2022-03-11 13:57] digitalisx commented on #671
Hello @lic-8,
The reason for the error you mentioned is that most of the **modules required by the plugin were not installed**.
In the case of _hashdump_ plugin, the **Crypto module is required**.
To find out the cause, it is more accurate to add the (-vvv) option to view the error log.

### General
Perhaps this is the result of what you saw.
[code]

### Add Debug Log (-vv)
Adding a debugging log

[2022-03-11 15:18] lic-8 commented on #671
Hello, thank you for your answer .
I don't think the issue is related to missing dependencies (see pip3 output below). However, since I run vol.py with python3.7, do you think my python version is wrong ?
[code]

Also, here is some extra information (with -vvv):
[code]
Thanks for your time.

[2022-03-11 15:31] ikelos commented on #671
Hiya, I'd guess that the version of pip you were running was for python 3.6 since they all say ` in /home/user/.local/lib/python3.6/site-packages`, and pycrypto has some pure python file installed in a general python directory (from the error message mentioning `/usr/lib/python3/dist-packages/Crypto/Cipher/__init__.py`) but that binary modules were installed against a specific python version (henc

[2022-03-13 12:01] blueteam0ps opened #672 "Missing double quotes csv output of two plugins"
Following were observed with Volatility 3 Framework 2.0.0 csv output.

Plugins -
windows.cmdline.CmdLine
windows.registry.userassist.UserAssist.csv

Output contained certain rules that doesn't have closing double quotes.
Pls find below an example

0,624,"svchost.exe","C:\Windows\system32\svchost.exe -k DcomLaunch -p -s LSM"
0,512,"LogonUI.exe",""LogonUI.exe" /flags:0x2 /state0:0xa3bd1855 /state1:0

[2022-03-13 13:52] digitalisx commented on #672
Hello @blueteam0ps,
As a result of running the command to confirm the output you mentioned,
it was confirmed that it was printed the same as the above result.
However, the output looks normal, and the actual Raw data is stored in the following form as in the example above.
[code]
It can be seen that double quotes have been added left and right to change this to suit the CSV Rederer.
[code]
If I mi

[2022-03-13 21:21] ikelos commented on #672
Thanks very much, I'm surprised I manually implemented csv first time around, but I've now adapted it to use the built-in python CSV module, which handles quotes properly (as well as only using quotes when strictly necessary).  This should get merged in in a few days, but please feel free to test the branch before then and shout if there's any issues.  5:)

[2022-03-14 11:16] geertsbe opened #674 "character maps to <undefined>"
when running the command below in powershell (win10x64)
[code]
I get the following error:
[code]

Running the command with no piping works fine, the operand > for output file produces the same error. Piping with windows.pstree.PsTree works fine as well.

[2022-03-14 11:33] ikelos commented on #674
Hi there, I'm sorry you're running into difficulties, but since this only happens when piping into findstr, it suggests that unicode support in findstr isn't all it could be.  I found this (very old) article online suggesting that findstr doesn't support unicode strings: http://www.toughdev.com/content/2010/09/findstr-and-unicode-strings/.  Its recommendation is to use find.exe, or to use powershe

[2022-03-14 11:33] #674 closed, assigned to nobody

[2022-03-14 11:44] ikelos commented on #674
Here are some articles about people encountering issues when piping because the encoding isn't set (and therefore uses the default):
* https://stackoverflow.com/questions/492483/setting-the-correct-encoding-when-piping-stdout-in-python
* http://www.macfreek.nl/memory/Encoding_of_Python_stdout

The recommendation appears to be to `export PYTHONIOENCODING=utf-8` to ensure that utf-8 is always used a

[2022-03-15 09:01] #672 closed, assigned to nobody

[2022-03-15 21:18] atcuno commented on #639
@PeterQi can you please try the pslist and lsmod plugins and report back if you get any output?

[2022-03-15 21:25] atcuno commented on #413
@ikelos do you have a sample still that exhibits this behaviour?

[2022-03-15 21:33] atcuno commented on #515
The idlepml4_str backtrace looks fixed here: https://github.com/volatilityfoundation/volatility3/commit/b6165b439fdee399d933eb1162e845d1811a9e6a

Do we have any samples that still do not produce the pslist output?

[2022-03-15 21:37] atcuno commented on #640
Hello, I have two questions:

1) How is memory being acquired?

2) Can you please run pslist and lsmod and report if they produce output?

[2022-03-15 21:39] atcuno commented on #583
@ninja2017 can you share the memory samples from this issue? Also, I see that you have a .vmem extension. Is this from a VMware snapshot or suspended state? If so, is the accompanying .vmss file in the directory?

[2022-03-16 00:10] ikelos commented on #413
Yep, I've got the sample we were originally sent.

[2022-03-16 00:16] ikelos commented on #515
The idlepml4_str typo was fixed, but [reported](https://github.com/volatilityfoundation/volatility3/issues/515#issuecomment-855662665) as still not returning results, when results were expected.  I don't think we ever got an image that suffered from this directly.

[2022-03-16 00:18] ikelos commented on #583
@atcuno We now log whether a VMSS/VMSN was present, neither was there with this image:
[code]

[2022-03-16 10:32] lic-8 commented on #671
Hello, I am not able to install all the requirements. I have a error but it is not related to Volatility, so I don't know if I should post here...
[code]

[2022-03-16 10:51] #671 closed, assigned to nobody

[2022-03-16 10:54] lic-8 opened #678 "Hashdump error"
Hello,
Can anyone tell me what is going on here ?
Thanks.
[code]

[2022-03-16 14:00] slsanna opened #679 "libyara undefined symbol lookup_rule"
Hi guys, I installed everything but when I type python3 vol.py -h I get this error:
AttributeError: /usr/lib/libyara.so: undefined symbol: lookup_rule
I tried every solution on Google about libyara to link the correct file but none of them worked.
Can you help me please?

**Context**
Volatility Version:  3
Operating System:  kali 5.6.11
Python Version:  3.9

[2022-03-16 15:10] ikelos commented on #679
Hiya, could you please check which version of yara's python interface you're using and which copy of the yara library you have?  It sounds like there's a mismatch.  There's an [old yara library](https://pypi.org/project/yara/) for python which doesn't work and a [new one](https://pypi.org/project/yara-python/) which should.  You'll also need to make sure that the appropriate library for the python

[2022-03-16 15:10] #679 closed, assigned to ikelos

[2022-03-16 17:40] awiley-coyote opened #680 "Unable to Run Plugins on a LiME file"
**Describe the bug**
(this shows up with all plugins, except the banner.Banners plugin)
Unsatisfied requirement plugins.Lsmod.kernel: Linux kernel
Unable to validate the plugin requirements: ['plugins.Lsmod.kernel']

**Context**
Volatility Version:  Volatility 3 Framework 2.0.2
Operating System:  Linux ubuntu 5.13.0-35-generic #40~20.04.1-Ubuntu SMP Mon Mar 7 09:18:32 UTC 2022 x86_64 x86_64 x86_64

[2022-03-16 18:27] oxnan commented on #413
Just want to add to this, that I am having the same problem as above. I have a symbol.json which shows the exact same banner as the isfinfo command.

Do you guys have an ETA on a fix?

[2022-03-16 19:57] ikelos commented on #413
I'm afraid not @oxnan, we don't know for certain what's causing the problem.  I'd imagine that the ISF files aren't accurate for some reason.  The one sample we had I wasn't able to find a suitable debug kernel for it, so it's still not clear if it's just a mismatch or something deeper...

[2022-03-16 19:59] ikelos commented on #680
Thanks, could you please make sure that the banners reported under the `banners` plugin match with an ISF file in the output of `isfinfo`?  It would also be useful to attach or include the full output of an attempted run using `vol.py -vvvvvvv` to give us as much information as possible...

[2022-03-16 20:10] awiley-coyote commented on #680
![Annotation 2022-03-16 160735](https://user-images.githubusercontent.com/63591759/158681189-c16e9d4c-e35a-4ad2-af0a-3bd6c65435c6.png)

This is the output when I tried vol -v

So, likely I have misconfigured volatility. If you have any suggestions I would love them, I am not skilled with linux. Barring that, I will just reinstall volatility. Thank you for your prompt response.

[2022-03-16 20:13] #678 closed, assigned to nobody

[2022-03-16 20:14] ikelos commented on #678
Thanks very much for letting us know.  This should now be fixed in commit `a6217784`.  Please let us know if there's any issues you're still encountering...  5:)

[2022-03-16 20:18] ikelos commented on #680
Sorry, what I meant by running `vol.py -vvvvvv` was in addition to the previous flags you were using, so `vol.py -vvvvvvv -f <path-to-linux-image> linux.pslist`.  Please also note that it's multiple v's in order to increase the verbosity.  Also hopefully you can run the `banners` and `isfinfo` plugin and make sure that the values match appropriately.

[2022-03-16 20:25] oxnan commented on #413
I was looking at it a lot as well, but i have been unable to find the root cause :/

Hopefully you find the solution soon

[2022-03-16 20:29] ikelos commented on #671
I saw some additional answers to this message, but they seem to have been removed now.  In short answer, it looks like you'll need the python development files to be able to compile the yara-python module.

We only show plugins that volatility can run, and it's refreshed on each run of volatility, so the new plugins will be accessible as soon as the appropriate modules can be imported by python.

[2022-03-16 21:29] oxnan commented on #413
My problem might be unrelated tho, as I am getting the following errors in my logs:
[code]

[2022-03-16 21:38] ikelos commented on #413
@oxnan it looks as though your version isn't able to find an appropriate ISF JSON file for the image you're running against.  That is a different issue, and I'd recommend reading through [here](https://volatility3.readthedocs.io/en/latest/symbol-tables.html#mac-linux-symbol-tables) or searching [here](https://isf-server.techanarchy.net/) to find a solution.

[2022-03-16 21:41] oxnan commented on #413
Already made 2 custom ISF jsons using dwarf2json, both one with the system.map and one without. Both are in a folder that is loaded in with the `-s` parameter. Both using the debug kernel. They are showing up in the isfinfo command, but not being run against it. I thought it might be because of the qemu format, but seem like it should be supported

[2022-03-16 22:00] ikelos commented on #413
It should, and I'm surprised they haven't worked.  I don't think the Qemu layer is relevant, but you can always eliminate it from the equation using the `layerwriter`.  Also, you should only put one or the other of the ISF files in the directory, otherwise the automagic always chooses the first one it comes across (which may not work as well).  You could trying adding more `-v` flags (up tro 7) to

[2022-03-16 22:24] oxnan commented on #413
I already did the process with `layerwriter.LayerWriter` but it is the first time I have used it so not sure what it was supposed to do. I extracted the Primary layer so I am primarily working on that. I only have one of the ISF files in the symbols folder, and with `-v{7}` it gives me the following output:

[code]

[2022-03-16 22:29] ikelos commented on #413
Hmmmm, just one thing to check (and this will hopefully be going away soon, depending on #630) but the linux ISF files must be under `symbols/linux` and similarly mac ones must be under `symbols/mac`.  That's a requirement that we hope to remove with #630, but it's a sizable change so it needs a bit more testing.

If that still fails, then we'd need to debug what's going on which either means divi

[2022-03-16 22:50] oxnan opened #681 "Custom symbols not working correctly"
@ikelos As a follow up to my comments in #413

I tried putting the symbols in symbols/linux which worked! now it seems something else is wrong:

[code]

Not entirely sure what the problem here is, but you might :)

[2022-03-16 23:28] ikelos commented on #681
Hmmmm, well, it looks at least like it found and used your symbols this time?  Unfortunately it looks like there's a lot of structures that it can't find.  It usually can't find a few, but that many suggests that there's something missing in the symbols file.  I'm not sure what would cause that unfortunately.  You could check the output of `isfinfo` and make sure there seem to be the right number

[2022-03-16 23:43] oxnan commented on #681
Seems to me like all linux plugins are not working. looking at these:
`volatility3.framework.symbols: Unresolved reference: symbol_table_name1!dma_coherent_mem` the `dma_coherent_mem` is actually present in the symbol table (numbers are from ripgrep not the actual file):
[code]

this is the info from the `isfinfo`
[code]
the numbers seem similar to the other symbol tables.

I think it is a bit wei

[2022-03-16 23:53] ikelos commented on #681
So that's actually a member (`dma_mem`) of some other type, which is supposed to be a pointer to something of type `dma_coherent_mem`, but that type presumably isn't present in the types dictionary, and so the failure you get.  The number of symbols looks around right.  As I say, even on windows, you occasionally get forward references to types that aren't actually defined in the file, so I'm not

[2022-03-17 00:03] oxnan commented on #681
Sure thing, I will try to give volshell a try. Usually I would just add debugging statements to the code myself, but unfortunately I don't have access to that on the system I am using.

is there documentation for volshell somewhere?

[2022-03-17 00:04] ikelos commented on #681
This is the best we've got at the moment: https://volatility3.readthedocs.io/en/latest/volshell.html

Hopefully it'll be enough to get started?

[2022-03-17 00:19] oxnan commented on #681
Hopefully that will do. will update if I find a solution :)

[2022-03-17 10:14] oxnan commented on #681
looking at the dump with volshell shows me that it does not even find any running processes:
[code]
(the output from this is empty)

I am not sure if this is because it can't find them, or if it just does not know what to do.

[2022-03-17 10:23] ikelos commented on #681
Well, it's very unlikely the operating system didn't have any running tasks, so it suggests either that the symbol we've got for `init_task` is incorrect, or that there was smear or something at the time.  I'd suggest looking at the memory right around the offset of `init_task` (once you construct the object you can use `init_task.vol.offset`) and make sure it looks like it matches what the init_t

[2022-03-17 10:27] oxnan commented on #681
holy shit what the fuck is your timezone. I will try to do what you suggested and return with my findings :)

[2022-03-17 10:29] oxnan commented on #681
I think I see the problem...
[code]
this offset is 256 TB

any ideas or just a broken symbol table?

[2022-03-17 10:41] ikelos commented on #681
I find it best to represent things as hex, which in this case would be `0xffff8ce11500`.  If that gets masked by the address space (which it almost certainly will), it probably comes out at `0x8ce11500`, which depending on how the kernel slices up memory is probably an in-kernel address (I think it's usually a 50/50 slice, so 0x80000000 would be the start of kernel memory).  So that address may be

[2022-03-17 10:43] ikelos commented on #681
Volatility should automask the address, so you can lookup the full one and it ought to take you to the right place (if it exists).  If it doesn't you should get a page fault, and it's entirely possible we try to smooth over such errors (even though I think that's a bad idea because it leads to confusions like this), but at least it'll give us the next step to check...  5:)

[2022-03-17 10:43] oxnan commented on #681
Ah thanks, I will try to figure out if I can find out how to read from a specific address in the layer (unless you know the command by heart?)

[2022-03-17 10:53] ikelos commented on #681
Sure, it's `layer.read(<offset>, <length>)`, but you need to get the layer first which can be the more complex bit.  5:)

As to my timezone, it's supposed to be UK but I think I shifted a little towards the US in my college days and never shifted back, so probably somewhere midatlantic.  I usually go to sleep at 2am...  5;P

[2022-03-17 10:57] oxnan commented on #681
oh, not far from my timezone then. I will try to see if I can get the layer then. But that should be easy since you have such a vast documentation XD

[2022-03-17 12:10] oxnan commented on #681
Hmm, looking at the data at that point in the layer seems to not be the correct address. It does not automatically translate `0xffff8ce11500` to `0x8ce11500` but the structure for the `init_task` is not present, and I dont remember what it looks like. I think there is a chance that the memdump is reporting a wrong kernel in the banner, so I am trying to find out what it is actually using. Ideally

[2022-03-17 12:39] oxnan commented on #681
looking through it with RipGrep, I can see the following byte offsets for init_task which I can verify in the volshell, but I am not sure if the structure is correct.

[code]
this seems a bit weird

[2022-03-17 12:55] awiley-coyote commented on #680
INFO     volatility3.cli: Volatility plugins path: ['/home/hunter/.local/lib/python3.8/site-packages/volatility3/plugins', '/home/hunter/.local/lib/python3.8/site-packages/volatility3/framework/plugins']
INFO     volatility3.cli: Volatility symbols path: ['/home/hunter/.local/lib/python3.8/site-packages/volatility3/symbols', '/home/hunter/.local/lib/python3.8/site-packages/volatility3/framework/sy

[2022-03-17 12:56] awiley-coyote commented on #680
{
    "symbols": {},
    "enums": {},
    "base_types": {
        "unsigned char": {
            "kind": "char",
            "size": 1,
            "signed": false,
            "endian": "little"
        },
        "pointer": {
            "kind": "int",
            "size": 8,
            "signed": false,
            "endian": "little"
        }
    },
    "user_types": {
        "hist_entry": {

[2022-03-17 13:47] oxnan commented on #681
could it be KASLR and if so, do you know how to fix it?

[2022-03-17 15:11] ikelos commented on #680
Ok, so there's a few things going on here.  The first is that the JSON file you've got  has no symbols, and perhaps only a couple of user types in it, this also means that it doesn't contain the banner of the linux version it supports, and volatility needs this to figure out which one to use for each memory image it encounters.  I'm not sure where the `vtypes_to_json` tool came from, but it's not

[2022-03-17 15:27] ikelos commented on #681
Ok, so of the two layers you chose, you went with physical layer, and the address you've got will be a virtual one, so unfortunately you need the second one (the Intel32e).  That layer will handle address look-up and know where to find the data in the layer below it (the FileLayer, which is the raw file you've got), so that doesn't surprise me that the physical layer seemed to have random log file

[2022-03-17 17:45] awiley-coyote commented on #680
Thank you

[2022-03-17 17:45] #680 closed, assigned to nobody

[2022-03-22 20:56] cstation commented on #587
@ikelos, were you able to make any progress with this issue? Is there anything we could do to help you?

[2022-03-22 22:49] ikelos commented on #587
I haven't made any progress.  I'm afraid I need two copies of the same image, one that works and one that doesn't, due only to having shifted a chunk of the memory.  I still haven't found this to produce anything different than the official python tool provided by qemu, so until we have a reproducible sample both working and none-working differing only in the gap then it's really hard to know whet

[2022-03-24 12:04] cstation commented on #587
One option to create such copies is to take the `ubuntu-21.10-server-cloudimg-amd64-4096-idle` image provided by @NiklasBeierl and run the `layerwriter`-plugin twice: once using the unpatched code and once using my patch as provided in #613. The unpatched code will produce the same output as QEMU's `analyze-migration.py`, which is around 4GB. The patched code will produce an ouput of approx 5GB. R

[2022-03-24 22:49] maldetect opened #686 "Apihooks"
Hi There,

I am looking for a apihooks plugin to volatility3.  Can anyone help me ? Is there any related plugin?

[2022-03-24 22:51] ikelos commented on #686
Hiya, I'm afraid we don't have an equivalent in volatility 3 that I know of, but I've added it to our plugin request list, so at least it's on our radar as something people would like.  5:)

[2022-03-24 23:03] maldetect commented on #686
Thank you. I have been looking for this plugin a while.

[2022-03-24 23:12] ikelos commented on #587
Ok, thanks, that's great work!  I'll take a look at the image you made and see if I can accurately pinpoint why they read inaccurately.  If the official `analyze-migration.py` is inaccurate, it would be really helpful if you could file a bug upstream with qemu and see what they say, and find out if they have an accurate means to determine the gap other than simply having a hardcoded list of all th

[2022-03-24 23:32] ikelos commented on #587
Interesting, the DTB is detected in the moved segment (`0xeac10000` for the original one and `0x12ac10000` for the fixed one).  That caused the ASLR values to be off as well:

Original: `Linux ASLR shift values determined: physical e7e00000 virtual 1fe00000`
Fixed: `Linux ASLR shift values determined: physical 127e00000 virtual 1fe00000`

I need to dig further, but at least we've got a clear examp

[2022-03-25 17:55] 0xtejas opened #687 "dumpfiles - required module capstone"
**Describe the bug**
dumpfiles require capstone module

**Context**
Volatility Version:  2.0.2
Operating System:  Ubuntu 16.07 LTS
Python Version:  python3.9.4
Suspected Operating System:  Windows 10 x64
Command:  `python3.9 volatility3/vol.py -o dump/ -f physmemraw windows.dumpfiles --pid 10432` (PID of Notepad.exe)`

**To Reproduce**
Steps to reproduce the behavior:

1. Use command 'python3.9 vo

[2022-03-25 18:13] ikelos commented on #687
Thanks very much for your report.  Dumpfiles is designed to locate file handles within the address space of a process, and extract any that it finds.  To do this, it uses the handles plugin, which (in order to find necessary structures) relies on on capstone to locate the SAR value as mentioned in the error message.  As such, the error message is correct, and you'll need to install capstone in ord

[2022-03-25 18:27] 0xtejas commented on #687
My bad that I didn't mention that I installed capstone module. I hoped I can dump the file used by the process. I didn't want to dump the process (I know that it needs other approach).

[2022-03-26 03:22] 0xtejas commented on #562
Hi,
I'd like to take up this issue, after an year of working with volatility2 and few months of experience on volatility3. I have some knowledge on how to use it. Can you please assign this to me.

[2022-03-26 09:03] chikyukrish commented on #687
i have same trouble

[2022-03-26 09:05] chikyukrish commented on #687
are you playing ctf?

[2022-03-26 09:16] 0xtejas commented on #687
I was and then I left.

[2022-03-26 11:39] billuk21 opened #688 "Unable to find lsa key"
**Describe the bug**
Whenever trying to use the cachedeump or LSAdump plugins - I am receiving the following error:
Username        Domain  Domain name     Hash
WARNING  volatility3.plugins.windows.cachedump: 'Unable to find lsa key'

**Context**
Volatility Version:  2.0.2
Operating System:  Windows 10 X64
Python Version:  3.10.4
Suspected Operating System:  Windows 10 X64
Command:  vol.py -f memd

[2022-03-26 12:24] ikelos commented on #688
I'm not sure this is really a bug.  Volatility is informing you that it can't read the LSA key (which it finds from the registry in the memory, so you might want to investigate the registry plugins to try to determine why)?  Specifically, it tries to open the `PolEKList` or `PolSecretEncryptionKey` keys under the security hive.  If it can't find the security hive, or find those keys under it, then

[2022-03-26 13:00] 0xtejas commented on #562
@ikelos where do I write though? I don't think I can like write a wiki in my clone to make a PR.

[2022-03-26 13:09] ikelos commented on #562
Thanks very much for your offer, please add any documentation or examples into the [documentation source files](https://github.com/volatilityfoundation/volatility3/tree/develop/doc/source) or into the docstrings which are used to generate a fair amount of the documentation, and submit that as a pull request.  That also means you can do them in chunks so we can update the documentation quickly but

[2022-03-26 13:09] billuk21 commented on #688
Wow, thanks for your prompt response.

The LSAdump plugin doesn't work as well and it prints the same error.
Could it be that it's an issue of permissions when executing the memory dump from the windows machine (I am using the ftk imager for that)? are there any other tools that you worked with and it give you better results when doing the memory dump itself?

[2022-03-26 13:16] ikelos commented on #688
If you've got a full capture of the memory, then permissions shouldn't be enforced (I don't know of any function in windows that can explicitly filter certain chunks of physical memory, and as you said hashdump worked just fine.  It's more likely either that the registry was (for some reason) not fully loaded in memory (unlikely) or that we have some issue in how we detect the registry hives, or t

[2022-03-26 13:20] ikelos commented on #687
Hmmm, if you think you have the capstone module installed, but the plugin isn't finding it, then it's possible it's installed for a different version of python?  You can test whether it's installed for the version of python that volatility uses by running that version of python (I assume python3.9) and trying `import capstone`.  If that fails then it hasn't installed for that version of python cor

[2022-03-26 13:23] ikelos commented on #686
I've tagged our resident windows expert in case this was on his todo list...  5:)

[2022-03-26 13:25] billuk21 commented on #688
So, i ran both of them -
**registry hives command:**
vol.py -f memdump_DESKTOP-GBG3PHC.mem windows.registry.hivelist

**result:**
Offset  FileFullPath    File output

0xe10c7e80e000          Disabled
0xe10c7e848000  \REGISTRY\MACHINE\SYSTEM        Disabled
0xe10c7e8a8000  \REGISTRY\MACHINE\HARDWARE      Disabled
0xe10c81366000  \SystemRoot\System32\Config\SOFTWARE    Disabled
0xe10c7e932000  \Devi

[2022-03-26 13:28] ikelos commented on #688
For the `printkey` command, you'll like want to supply the registry hive (in this case, the security one so `-o 0xe10c7e9bc000`) and that will list the top level, then you can try `--key PolEKList` and `--key PolSecretEncryptionKey` to see if they provide any results...

[2022-03-26 13:36] billuk21 commented on #688
C:\Users\bill\Desktop\volatility3>vol.py -f memdump_DESKTOP-GBG3PHC.mem windows.registry.printkey --key PolEKList | findstr /i 0xe10c7e9bc000
-       0xe10c7e9bc000  Key     ?\PolEKList     -               -

C:\Users\bill\Desktop\volatility3>vol.py -f memdump_DESKTOP-GBG3PHC.mem windows.registry.printkey --key PolSecretEncryptionKey | findstr /i 0xe10c7e9bc000
-       0xe10c7e9bc000  Key     ?\Po

[2022-03-26 14:01] billuk21 commented on #688
So it means the memory capture didn't include that? if so i really need to do a re-acquisition of the memory dump?

[2022-03-27 10:48] #642 closed, assigned to ikelos, npetroni

[2022-03-27 13:52] billuk21 commented on #688
By the way, I tried to use a memory dump from a CTF called OtterCTF and the plugin worked successfully - the memory dump was  from a windows 7 machine) I couldn't reproduce that on windows 10 machines (different os builds). I know for sure that it works since I am using mimikatz to verify it on the workstation itself. any other ideas on how to understand what is the problem?

[2022-03-28 00:09] ikelos commented on #688
Yep, I'm afraid it does mean those keys are missing, and yes, it suggests that the memory image didn't include them.  That may just mean that no LSA secrets were stored on the system, rather than that the memory image wasn't acquired correctly, or there could be something else entirely going on.  You could try investigating more of the SECURITY hive to see if the rest of it seems present (you can

[2022-03-28 00:17] ikelos commented on #688
It's also possible that the plugin that was contributed only supports recovering the LSA secrets up to a particular version of windows and that Microsoft changed how it works for more recent versions?  I have an image of windows 10 x64 17783 (so quite old) that works successfully though...  5:S

[2022-03-28 10:35] sin4ts commented on #627
Sorry for my late reply, I have been AFK for a while. I just successfully tested your patch and it looks like it's working nicely. Thank you again for your support !

[2022-03-28 10:41] ikelos commented on #627
No problem, thanks for testing it, glad it works!  5:)

[2022-03-28 12:40] digitalisx commented on #118
Hello @mrratherford,
This time, I developed DeviceTree Plugin, one of the requests covered in this issue.
It was finally merged in the `develop` branch, so I would appreciate it if you could give me feedback after using it. 🙌

[2022-03-28 16:50] digitalisx opened #691 "Question about the location of a specific netscan symbol file."
Hello, everyone in the community. 🙂

I checked the Symbol files and found that one of the Symbol files in netscan is in the top directory.
([netscan-win81-19935-x64.json](https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/symbols/windows/netscan-win81-19935-x64.json))

As a result of tracking (#476) to see if this was intended,
I didn't see any other comments, a

[2022-03-28 17:01] #691 closed, assigned to nobody

[2022-03-28 17:01] ikelos commented on #691
Thanks very much, that was a total oversight when I reviewed the PR!   Good catch, thanks!  I've made the changes to save you having to open up a PR...

Slack is probably a better first place to point stuff like that out, but if you don't get a quick reply and you think it might get forgotten then feel free to open an issue (particularly since it's a legitimate issue rather!)...  5:)

Thanks again

[2022-03-28 17:05] digitalisx commented on #691
Thank you for your prompt reply and action!
I will try to use Slack well. :)

[2022-03-28 22:26] billuk21 opened #692 "Hiberfil.sys on windows 10 and above"
**Is your feature request related to a problem? Please describe.**
Wanted to know how can i use volatility to parse and analyze the hiberfil.sys copy (assuming the file is correctly backed up) using volatility on newer Windows machines.

**Describe the solution you'd like**

**Describe alternatives you've considered**
I have already used the Hinbernation-recon tool to analyze that, i have tried to

[2022-03-28 22:33] ikelos commented on #692
I'm afraid I'm not all the well versed in the most recent `hiberfil.sys` formats.  I'm not sure whether memory smear occurs in hibernation files (it shouldn't if the system was hibernated when the image was taken, but if it was running then I'm not sure there's any guarantee the hibernation file is consistent).  In situations like this where some plugins work, but there seems to be an error in the

[2022-03-29 07:51] 0xtejas commented on #687
I'm closing issue because it was an issue caused by having multiple python versions.
sorry for the trouble

[2022-03-29 07:51] #687 closed, assigned to nobody

[2022-03-29 07:54] ikelos commented on #687
No problem, glad you figured out what was going wrong.  5:)

[2022-03-29 15:35] chikyukrish commented on #687
i have a solution, you can use this comand `$python3 vol.py -f physmemraw -o . windows.dumpfiles --pid 8180`

[2022-03-29 16:58] iMHLv2 commented on #668
@paulkermann Could you give this branch (https://github.com/volatilityfoundation/volatility3/compare/issue_668_windows_freed_big_pools) a try and let me know if it works as you'd like?

[2022-03-31 06:27] paulkermann commented on #692
@billuk21 if you provide the said hiberfil.sys I could try to find the issue

[2022-03-31 06:34] billuk21 commented on #692
I can provide it, it's pretty big (25 gb).

I will try to decompress it? What is your plan? How you would approach it?

[2022-03-31 06:56] paulkermann commented on #692
@billuk21 I would probably first run something to get a raw memory from the hiberfil.sys and then would try debug volatility to see where it fails

[2022-03-31 07:31] billuk21 commented on #692
Thanks for the prompt response, can you elaborate on how you would extract the raw memory? Would you do it by using a specific tool?

[2022-03-31 07:49] paulkermann commented on #692
@billuk21 probably Hibr2Bin.
But the way to extract raw memory is probably not the problem.

[2022-03-31 09:05] paulkermann commented on #668
Tested this on a couple of samples, seems to work great. Thank you for implementing this logic.
I'd rename the BooleanRequirement's to `show-free` with a `-` as this seems to be the convention (for example `include-corrupt` in `/framework/plugins/windows/netstat.py`) - Volatility automatically refactors it to `show-free` anyway.

[2022-03-31 09:08] billuk21 commented on #692
Yes, i did it using the Hibernation recon tool and it extracted the bin file, will send the errors that i am getting when loading it to volatility.

[2022-03-31 10:25] paulkermann commented on #692
@billuk21 I think I would be a greater help with the hiberfil myself, but yes executing volatility with a great verbosity level might help

[2022-04-01 15:23] Randark-JMT opened #696 "The windows.filescan command did not output correctly"
When I try to execute the filescan command to view the file, Volatility does seem to execute filescan, but I don't get the corresponding output

Volatility Version:  3.2.0.2
Operating System:  debian 5.10.0-12-amd64
Python Version:  .9.2
Suspected Operating System:  win7sp1_rtm.
Command:  filescan

I wanted to use the filescan command to view the files in memory, but I didn't get any useful output

[2022-04-02 10:09] billuk21 commented on #692
Hey, sorry for the delay - here is the command and the output:

**_command:_**
vol.py -vvv -f G:\ActiveMemory.bin windows.registry.hivelist

**_Output:_**
Volatility 3 Framework 2.0.2
INFO     volatility3.cli: Volatility plugins path: ['C:\\Users\\bill\\Desktop\\volatility3\\volatility3\\plugins', 'C:\\Users\\bill\\Desktop\\volatility3\\volatility3\\framework\\plugins']
INFO     volatility3.cli: V

[2022-04-02 10:14] billuk21 commented on #692
When running the same command on a memory dump(acquired by FTK_imager and not a hiberfil.sys file) you can see that it works good.

**command:** vol.py  -f F:\memdump_windows1064_connected_To_the_domain.mem windows.registry.hivelist

**Output:**
Volatility 3 Framework 2.0.2
Progress:  100.00               PDB scanning finished
Offset  FileFullPath    File output

0xac8549075000          Disabled
0

[2022-04-02 11:15] Randark-JMT commented on #696
Sorry, this is my problem, because I clone the source code directly from Github above and then run it directly python vol.py, so some elements should be missing, which causes filescan to run abnormally. I installed the whl package after downloading it and then ran it without problems.

[2022-04-02 11:15] #696 closed, assigned to nobody

[2022-04-03 08:45] paulkermann commented on #692
@billuk21 I find it weird that walking the hive list caused a problem.
Also it's kinda weird that the big pool table was "paged out" or something.
I can't say much though without the dump on how to fix this.

[2022-04-03 09:12] billuk21 commented on #692
Ok, will upload it - it will take sometime to be uploaded, thanks for the help.

[2022-04-05 13:46] oxnan commented on #681
I can see that volatility automatically finds the aslr offset. It just does not actually create the init_task object at all. Is there any way that I can read in to the virtual memory that volatility makes of a layer, to try to see how stuff works?

I can get the locations for different stuff from the symbol tables, so I just want to see if the offsets are wrong or what not :)

[2022-04-05 14:03] ikelos commented on #681
Hiya @oxnan, I'd recommend using `volshell` which will dump you into a python prompt after having run the automagic (use `-l` to tell it it's a linux image).  That should allow you to try out whatever you'd like without having to build your own plugin to see what's going on...

[2022-04-06 19:33] ikelos commented on #668
Yep, as you say the CLI fixes it anyway, but consistency is good.  5;)  Thanks for the version bump at @iMHLv2.  Technically for an additive change, I think the `MINOR_VERSION` gets bumped the `REVISION` gets set back to 0 (I think the semantic version checking only uses the major and minor numbers), but thanks for remembering it!  5:D

[2022-04-09 20:38] tanc7 opened #697 "Ensure module error returns useful information about subfailures"
**Windows 10**
[code]
**Parrot OS Default Volatility 3 Install**

[code]

I have decided to manually enumerate each offset of the memory dump and carve out the PNG files with xxd, dd, head, and tail commands instead.

[2022-04-09 21:06] ikelos commented on #697
Hi there, it doesn't look like volatility could determine the operating system, but running volatility in verbose mode (probably very verbose, `-vvvvv`) would give you more information.  There are many good tools that can extract PNG files from binaries, the only thing they would miss is where a file crosses a page boundary and the pages aren't contiguous.  This is uncommon, but could happen, so i

[2022-04-10 05:00] digitalisx commented on #697
Hello @ikelos, 🙂

It is not related to this issue, but as I reviewed the various issues sent by email, I often found that the same bugs or problems that occurred before were opened or difficult to see as issues.

Of course, Slack is a good tool, but it's basically a messenger, so it's a little lacking as a way to manage various stories and make it easy for others to find out the same problem and s

[2022-04-10 14:40] paulkermann opened #699 "Non-canonical address masking"
Currently volatility3 returns non-canonical results when de-referencing addresses (like pointers). It means by default pointers are masked with their layer's `address_mask`. This makes pointer comparison harder, as it is inconsistent with the way the actual OS and hardware handles addresses.

I believe we should use complete addresses (non-masked addresses) as the conventional address format, so a

[2022-04-10 21:15] tanc7 commented on #697
Here is the output of Volatility3

[code]

[2022-04-10 21:47] ikelos commented on #697
This seems to offer guidance as to the problem?

[code]

It couldn't find a translation layer, and therefore couldn't find a symbol table.

This line shows there was no Intel layer stacked (or any other file format): `volatility3.framework.automagic.stacker: Stacked layers: ['FileLayer']` and so everything else falls down.  It's not clear how we could improve this since essentially the response is

[2022-04-10 21:48] ikelos commented on #697
Oh, I see, that's a volatility 3 1.0.1 error and you'd like to see something similar in volatility 3 2.0.x?

[2022-04-10 22:41] ikelos commented on #697
@Digitalisx Thanks for the tip, I'll discuss it with the team and see if we're happy to begin using it.  5:)

[2022-04-11 07:33] lic-8 opened #701 "empty page in docs"
https://volatility3.readthedocs.io/en/latest/volatility3.plugins.windows.hashdump.html

[2022-04-11 08:11] lic-8 commented on #701
https://volatility3.readthedocs.io/en/latest/volatility3.plugins.windows.hashdump.html

[2022-04-11 08:13] #701 closed, assigned to nobody

[2022-04-11 15:48] ikelos commented on #699
Could you please expand on "so as not to require additional logic in address handling"?  So far there isn't a clear concrete reason for this change and it alters very deep parts of volatility across all intel spaces (32-bit, pae and 64-bit).  There needs to be extremely good reason for that, and at the moment it's not clear what additional logic is needed and in what circumstances.  Please provide

[2022-04-11 16:10] tanc7 commented on #697
Hello again. Sorry, I figured out why Volatility didn’t work with the DMP file. I was playing National Cyber League and after taking the challenge file and attempting to open it with Volatility on three different installations, two Linux VMs and a Windows 10 laptop, and then attempting to load it in WinDBG crash dump viewers, I found out the DMP file has been stripped and was meant to be opened by

[2022-04-11 17:22] ikelos commented on #697
That's ok, you helped me spot that a change we made a while ago in the configuration system meant we returned less descriptive errors when things went wrong.  Hopefully the pull request improves that, and I'll likely merge it in a few days just to give people a chance to check it first if they want to... 5:)

[2022-04-12 02:55] robertstrom commented on #574
UPDATE / FYI - Just downloaded and ran Volatility 3 Framework 2.0.3 on a Windows 10 image and I am still seeing errors with PSTREE. I believe that everything else is OK (still waiting for full results and to look over all files). The resultsing PSTree CSV file is empty except for the header. Here are the results running volatility with -vvvvv

The PSScan results are there and look fine. It sees al

[2022-04-12 07:07] paulkermann commented on #699
There are several reasons I think we should consider using canonical addresses instead:
1) More often than not, Volatility plugins need the complete canonical addresses. When the crash dump writer has to write the KDBG address, for example, the code says `dump_header.KdDebuggerDataBlock.write(kdbg.vol.offset | (0 if not is_64_bit else 0xFFFF000000000000))`, because a dump file with a masked pointe

[2022-04-15 09:25] #697 closed, assigned to nobody

[2022-04-17 02:53] Linux-mem-forensics opened #703 "Symbol table requirement was not fulfilled even though I created a symbol with an appropriate Kernel package and debug info package."
Hello All, I hope you are well.

I am trying to run Volatility 3 on Ubuntu 18.04.6 memory image (captured using AVLM) on a Windows 10 machine. I created symbol tables (Vmlinux5.4.0-84-generic and System.map-5.4.0-84-generic) using Dwarf2json. Ran "banner" just to check the version, its the same (Linux version 5.4.0-84-generic).

I am still getting the following errors:

   Unsatisfied requirement

[2022-04-17 06:05] ikelos commented on #703
Hiya, please check the output from the following plugins `banners` and `isfinfo`.  You need to use the exact same version of the banner (`5.4.0-84-generic` alone is not enough, it needs to be an _identical_ banner string).  This is because linux allows different compilation options that can change the size of structures and thus might break volatility.  The second thing to check is that volatility

[2022-04-17 14:54] Linux-mem-forensics commented on #703
This is what I get when I ran the Banner plugin, can you please elaborate on the naming of the JSON symbol file? I have named it as Vmlinux5.4.0-84-generic.json and placed it under the /Vol3/symbols/linux.

It can see the JSON file when ran the ISFINFO plugin.
"volatility3-1.0.0/volatility3/symbols/linux/vmlinux-5.4.0-84-generic.json    Unknown 18  10108       172893  1727    -       Linux version

[2022-04-17 15:06] ikelos commented on #703
Thanks for that information, the ISF path is fine, since `isfinfo` detected it.  The issue is that the JSON file is for:
```Linux version 5.4.0-84-generic (buildd@lgw01-amd64-050) (gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)) #94-Ubuntu SMP Thu Aug 26 20:27:37 UTC 2021 (Ubuntu 5.4.0-84.94-generic 5.4.133)```
and the banner is for:
```Linux version 5.4.0-84-generic (buildd@lcy01-amd64-007) (gc

[2022-04-17 15:06] #703 closed, assigned to nobody

[2022-04-17 15:10] Linux-mem-forensics commented on #703
Understood, thank you for the information.

[2022-04-17 23:45] daddycocoaman opened #704 "Integrate Rich for output"
**Is your feature request related to a problem? Please describe.**
No problem.

**Describe the solution you'd like**
I would like to integrate [Rich](https://github.com/Textualize/rich) as a renderer for output. The volatility output is currently text based and can be very misaligned when it comes to certain output, like TreeGrids that print out asterisks to indicate node depth. Although the `pret

[2022-04-20 18:29] ikelos commented on #668
I think this is closed by #706 being merged (feel free to reopen it if not)  5:)

[2022-04-20 18:29] #668 closed, assigned to iMHLv2

[2022-04-22 18:22] TomGeek18 opened #707 "Cant pipe the out for File Scan or MFT scan"
Hello,

Vol 2.03, Win 10, Python 3.11, We are working with a Win 10 image using window 10 host.  Vol3 works great, all the other plug ins worked great.  When attempting to pipe the output of the MFT or File scan to a text file it crashes.
blah.blah windows.mftscan >txt.txt    = crash
blah blah windows.filescan >123.txt   =crash

If you let the plugin output to the screen it will run and not crash.

[2022-04-22 19:15] digitalisx commented on #707
Hello @TomGeek18

~~To solve the problem simply, I recommend lowering the Python version to a version between 3.6 and 3.10.~~

~~Python 3.11 that you told me is a new version that we haven't experienced enough in Alpha stage yet.
It is probably a version that has not been validated for use with Volatility3.~~

~~Therefore, it will not be easy to solve issues quickly until Python 3.11 is stable eno

[2022-04-22 19:34] digitalisx commented on #707
I've done it in a similar environment on my PC, but I've confirmed that it's going well.
I'm sorry, but contrary to my expectation, it seems that it's not a Python version problem.

I think we need to get a detailed log of crash or dump file to solve this issue.

### Python Version

[code]

### MFTScan

[code]

[code]

### Filescan

[code]

[code]

[2022-04-23 20:49] Thrawn-Smith opened #709 "ModuleNotFoundError: No module named '_lzma'"
**Describe the bug**
Error importing lzma python library under python v3.7.0

[code]

**Context**
Volatility Version:  volatility 3 build 2.0.3
Operating System:  debian
Python Version:  3.7.0
Suspected Operating System: N/A
Command:  python3.7 vol.py --help

**To Reproduce**
Steps to reproduce the behavior:

1. git clone <repo volatility3>
2. install requirements, build, make etc.
3. launch vol3

[2022-04-23 20:55] Thrawn-Smith commented on #709
[SOLUTION]

1. Install lzma backport [https://pypi.org/project/backports.lzma](here)
2. edit /usr/local/lib/python3.7/lzma.py file for enabling this previously installed lib

[code]

3. Test volatility with libzma backports

[code]

[2022-04-23 20:55] #709 closed, assigned to nobody

[2022-04-24 05:57] HasegawaAzusa opened #710 "Missing notepad and clipboard plugins from volatility 2"
Some of the functions of vol2 are not available to me in vol3.
e.g. `vol -f xxx notepad` or `vol -f xxx clipboard`
Even there is no way to view the history of the command line.
This is fatal to forensics.
I am currently unable to use vol3 to complete normal forensic actions, can you please make vol3 compatible with vol2 as soon as possible?
I do love the fast and modular design of vol3 and I hope

[2022-04-24 10:42] ikelos commented on #710
Thanks for your comment.  The clipboard plugin I don't know a great deal about, but the `notepad` plugin doesn't work in more recent versions of windows (even under volatility 2) because it's based on the way that the heap was handled back in windows 7.  As such, it's unlikely anyone will invest time in replicating a plugin that won't have use in the future.  Figuring out the modern heap handling

[2022-04-24 10:44] ikelos commented on #707
It would be useful to understand what makes you think it's a crash (by getting the command line you're using and the contents of output file you're writing to, making sure to write to the same directory to ensure it's not a path issue).

[2022-04-24 12:50] paulkermann opened #712 "No easy API for accessing lower layers"
There is not good API for accessing and tagging layers.
As such support for nested virtualization and generally "lower" layers is hard.
The closest thing to an API to access lower layers is `get_physical_layer_name` in `pdbscan.py`
This API should be accessible in another location.
I think layer interface should have an API to access lower layers based on a tag and every layer created by the stack

[2022-04-24 15:09] paulkermann opened #713 "Off by 1 from using the get_end and get_start functions"
https://github.com/volatilityfoundation/volatility3/blob/7d17c191e5cfacc84e0d355b18dcf6c7ce9f68d0/volatility3/framework/plugins/windows/malfind.py#L59

This should actually be `vad_length = vad.get_end() - vad.get_start() + 1`

`get_end` is the last **valid** address _including_ so there is an off by 1. Reading `vad_length` would yield 1 less byte.
I would add a `get_size` function that would retu

[2022-04-25 08:29] lic-8 commented on #671
I indeed closed the issue due to great results based on your answers. Thanks again for your time :)

[2022-04-26 08:37] lic-8 opened #715 "unable to validate the plugin requirements"
i dumped my 32gigs linux machine memory using LiME and tried to analyze it with vol.py and here is the error:

[code]
i am currently unable to determine the cause of this problem, i would really appreciate the help of a kind person please  :)

[2022-04-26 08:47] ikelos commented on #715
Hiya,

This line:
```DEBUG    volatility3.framework.automagic.stacker: Stacked layers: ['LimeLayer', 'FileLayer']```
shows you that it was able to find the lime layer, but not the intel layer that should have been on top of it.  Linux does things in a slightly different order to windows.  Windows find the DTB using a windows-specific trick, and then locates the version of the OS.  Linux looks for

[2022-04-26 09:10] lic-8 commented on #715
Thank you for this fast answer ! If I understand correctly (which is possible that I don't) I can fix this issue by downloading locally all the symbol tables for linux and put it to symbols/ folder ? This is what I made for windows, I have a bunch of .json.xz files locally.

[code]

[2022-04-26 09:30] ikelos commented on #715
Hehehe, no problem.

Yes, you need to get the JSON ISF file for exactly this kernel:
[code]
You can see whether it's already up on the community project which houses a bunch of linux/mac JSON files: https://isf-server.techanarchy.net/, otherwise you'll need to create them yourself (the documentation link above should direct you somewhat on doing that).

Once you've got the JSON file it'll need to

[2022-04-26 09:49] lic-8 commented on #715
Do you know where can I download at once every known symbol pack (windows/linux/mac) ? I'm working on an automation tool for volatility and I really need them

[2022-04-26 10:02] ikelos commented on #715
Since every linux kernel can be custom compiled, there is no pack to get them all.  For mac there's only a specific number of kernels, but we don't update the pack that often since it's somewhat time consuming.  The ISF server mentioned above is a good place to look for JSON files that the community has generated, but as I say, one change in the configuration and the symbols and structures could b

[2022-04-26 13:53] dummys opened #716 "Implement configuration file for persistent CLI options"
Hi, I would like to setup a symbol directory without using everytime the `-s` option. Is the volatilityrc still usable ? what is the default configuration search path ? Where is the documentation on the configuration file as well please ?

[2022-04-26 14:04] ikelos commented on #716
Hi there, there isn't support for anything like that at the moment, for now you'll need a copy you can edit and then alter the following lines:

https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/constants/__init__.py#L17

We do hope to implement a configuration file mechanism, but we haven't planned out exactly how it'll work yet I'm afraid.

[2022-04-26 14:36] lic-8 commented on #715
Thanks for your reply. By the way, I have another question, it is unrelated to this issue but I don't want to create an issue for that. Can vol3 perform android analysis as easily as vol 2 ?

[2022-04-27 07:48] paulkermann opened #717 "Wrong member to get _EPROCESS from _ETHREAD in newer versions"
https://github.com/volatilityfoundation/volatility3/blob/db20ccf8901b60edd3b817c41227410631b2ab99/volatility3/framework/symbols/windows/extensions/__init__.py#L453

In newer windows versions the `_KPROCESS` is at `Tcb.Process`.
One would also need to cast that into a `_EPROCESS` structure as that's `ThreadsProcess` type.

[2022-04-27 09:13] cmueller-tp commented on #692
From my experience with hiberfiles (converted with hibr2bin and with our own parser) you can't access registry artifacts. My guess here is that all file related artifacts will not be "paged" to the hiberfile (why would the system store information in a hiberfile that are available in other files in the regular fs?).

[2022-04-27 12:58] digitalisx commented on #717
Thank you for the good issue. 🙂

I checked as you said and it seems that the new version does not support the `ThreadProcess` structure of `_ETHREAD`.
Maybe it's right to change.

However, the purpose of "owning_process" method is to return the `_EPROCESS` structure that matches Thread, but returning the `_KPROCESS` structure of `Tcb.Process` seems a little different.
Is there a pointer or structu

[2022-04-27 13:29] paulkermann commented on #717
@digitalisx The `_KPROCESS` is the first member of the `_EPROCESS` structure so you can cast it as needed.

[2022-04-27 13:40] digitalisx commented on #717
@paulkermann Thank you for your answer! I think it was a very easy question..😅
Additional, I've explored and the `owning_process` method is being used here.
https://github.com/volatilityfoundation/volatility3/blob/c40e088370baa8318c5912d1eec7cb98e587045f/volatility3/framework/plugins/windows/psscan.py#L119
There is no separate error when using `psscan`. However, there is a high probability that th

[2022-04-27 14:15] paulkermann commented on #717
@digitalisx according to https://github.com/volatilityfoundation/volatility3/blob/c40e088370baa8318c5912d1eec7cb98e587045f/volatility3/framework/plugins/windows/psscan.py#L166 it should work on newer windows versions (10+) but yeah kinda sus.

[2022-04-27 16:17] atcuno opened #719 "Backtrace when metadata key missing from ISF json"
@ikelos

I accidentally copied a json file not related to Volatility under my frameworks/symbols/linux directory, and then the next time I ran Volatility 3 it produced this backtrace:

[code]

Looking at the code, it explicitly does .get(.., None) on line 114, but then doesn't check for None before using it on 117:

https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/frame

[2022-04-27 21:21] #719 closed, assigned to nobody

[2022-04-28 11:46] paulkermann opened #723 "_get_valid_table() dropping valid page tables"
https://github.com/volatilityfoundation/volatility3/blob/8ac2b6ac8905149e5f77e0032dff21469edf3fbe/volatility3/framework/layers/intel.py#L176

Duplication of page table entries is not an indicator of an invalid page table.

I recently came across an instance where `read()` failed _even though the address was valid_, because of this condition (one table had all entries pointing to the same value).
T

[2022-04-28 14:31] ikelos commented on #723
Hi there, you're right, we don't match exactly what processor does, but that's due to windows 10 introducing a complication where it will map very many pages, all of which point to the same place, without containing any useful data.  The best way we found to ensure we weren't endlessly scanning the same page over and over is to throw out a table if *every entry in the table maps to the same locati

[2022-04-28 14:31] #723 closed, assigned to ikelos

[2022-05-02 13:21] TomGeek18 commented on #707
volatility3>python vol.py -f x:\memdump.mem windows.mftscan >txt.txt
Traceback (most recent call last):B scanning finished
 \volatility3\vol.py", line 10, in <module>
    volatility3.cli.main()
 volatility3\volatility3\cli\__init__.py", line 635, in main
    CommandLine().run()
 \volatility3\volatility3\cli\__init__.py", line 342, in run
    renderers[args.renderer]().render(constructed.run())
  \

[2022-05-10 14:22] iMHLv2 commented on #713
@paulkermann Thanks for the bug report. I pushed a branch with a proposed fix. Historically, even back to vol2, the `get_end()` function has returned the last accessible byte in the range, so I'm keeping that unchanged. I added a `get_size()` method that calculates the total size in bytes and fixed a number of plugins that had off-by-one issues. Anyone relying on `get_end()` to calculate size in c

[2022-05-16 00:32] FurD3n opened #739 "volatility2.6 volatility 3 offset(v) Has the expression changed?"
Hello, I am a student studying forensics. I have a question. Has the expression changed? virturl offset?
The physical offset confirmed the same thing.
0xfffffa8018d47740
0xfa8018d47740

Volatility Foundation Volatility Framework 2.6
Offset(V)          Name                    PID   PPID   Thds     Hnds   Sess  Wow64 Start                          Exit
------------------ -------------------- ------

[2022-05-16 00:43] ikelos commented on #739
Thanks, the addresses haven't changed.  On a 64-bit system, only the lowest bits are used in general, the top bits don't contain data and are reserved for future use (in amd64 they are 0 and in ia-32e, they are sign extended).

In volatility 3 we've chosen to mask these so that pointers are comparable if they'll look-up to the same address (ie, the high bits are ignored).  As such they're masked t

[2022-05-16 00:43] #739 closed, assigned to nobody

[2022-05-16 00:47] FurD3n commented on #739
Thank you for your detailed answer

[2022-05-20 19:45] cyb3rfox commented on #686
+1 for that plugin :)

[2022-05-20 19:46] Necklaces opened #740 "GNU/Linux memory dump: A translation table/symbol table requirement was not fulfilled."
Sorry for ignoring most of the bug reporting template, I know there are a couple of similar issues like this, but stick with me here will ya.

I've been struggling with another dump for a while and decided: "let's do it in reverse", so here's what I did:

- Volatility distributes sample GNU/Linux symbol tables (https://downloads.volatilityfoundation.org/volatility3/symbols/linux.zip). In that zip

[2022-05-21 09:29] Necklaces commented on #740
Okay so I got it working, but I'm a little unsure if there's been a regression in one of the latest commits after release 2.0.1 or not.

- 1.0. Using latest build -  v2.0.1.3291.9bfa7187 (prints 2.2.0 in output) it never works:

- 1.1. Trying to give the symbols, or the folder with the symbols, directly - does not work.

<details>
  <summary>Symbols with -s</summary>

[code]
</details>

- 1.2. Put

[2022-05-22 09:22] digitalisx commented on #713
Hello @iMHLv2, Thank you for your good work!
It seems that it is not pushed to the development branch and exists only in issue branch.
Could you tell me the intend or reason why not convert to PR? 🙂
(Additional this changes may require a bump version.)

[2022-05-22 22:24] ikelos commented on #740
Hiya, thanks for the detailed information!

In your first example, this seems to be the culprit:
[code]
It's regrettably caused by [this line](https://github.com/volatilityfoundation/volatility3/blob/21e81c265076e1c5e21616f8db07d8c1a2699168/volatility3/framework/symbols/linux/__init__.py#L32) which attempts to change the defacto type in the symbol table, but in one this old it appears this type do

[2022-05-22 22:25] #740 closed, assigned to ikelos

[2022-05-23 10:09] Necklaces commented on #740
@ikelos I see, thank you very much!

I may have an issue regarding actually making the symbol table/isf file myself (instead of using the prebuilt/distributed one)  - may I create another issue regarding that?

[2022-05-23 10:11] ikelos commented on #740
Certainly, that's fine.  5:)

[2022-05-23 14:35] Blu3Eye opened #744 "Some plugin dependencies aren't met"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Volatility Version:
Operating System:
Python Version:
Suspected Operating System:
Command:

**To Reproduce**
Steps to reproduce the behavior:

1. Use command '...'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to

[2022-05-23 14:50] ikelos commented on #744
Description from the author:

I am having an issue with volatility3 .Some of the plugins appear to be not loaded , that's what volatility output says . I am using the latest version of volatility 3 , running on Ubuntu LTS latest version as of the time i am writing the issue , testing volatility against windows10 , using pythhon3.9 the command was "python3.9 ./vol.py -f path_to_my_memory_dump_file

[2022-05-23 14:55] ikelos commented on #744
Hi there, did you install the package using the `[requirements.txt](https://github.com/volatilityfoundation/volatility3/blob/develop/requirements.txt)`?  There are some dependencies that are not required for volatility as a whole to run, but which specific plugins need.  If these packages have not been installed, then the plugins won't be available.  If you run volatility with `-vvv` it should tel

[2022-05-23 14:55] #744 closed, assigned to ikelos

[2022-05-23 15:00] Blu3Eye commented on #744
Oh , forgot about that , yeah it did fix the issue i was able to get all the plugins loaded successfully .Thanks for support !!!!

[2022-05-23 18:19] Necklaces commented on #740
Nevermind, I got it working :)

Essentially I wanted to make my own ISF file because I have a different image with a different kernel that I wanted to analyze, but I may just have been affected by this issue, which is now fixed.

Here's what I did to make my own, which might not be perfect but it works at least!

1. Get system map from https://mirror.nsc.liu.se/centos-store/5.0/os/i386/CentOS/kern

[2022-05-23 18:24] ikelos commented on #740
Just to note that we don't recommend people use JSON files from a non-matching kernel by manipulating the banner.  The results can't be forensically relied upon, since structure sizes can change based on the kernel configuration.

Having said all that, glad you managed to get it working!  5:)

[2022-05-23 19:35] #587 closed, assigned to nobody

[2022-05-25 08:49] daddycocoaman commented on #704
Closing this for now to and will revisit once official configuration files are added to vol3.

[2022-05-25 08:49] #704 closed, assigned to nobody

[2022-05-27 03:45] bellohai opened #746 "macOS Monterey"
Hi, Did volatility support **MacOS Monterey version 12.0.1** profile?
I am having issue with "Unable to find an OS X profile for the given memory sample.

<img width="375" alt="macprofile" src="https://user-images.githubusercontent.com/49047882/170625120-cb1be266-c7ad-4f6f-b8bd-17a3bca23d26.png">

[2022-05-27 03:47] #746 closed, assigned to nobody

[2022-05-27 03:49] bellohai opened #747 "MacOS Profile: macOS Monterey"
Hi, Did volatility support **MacOS Monterey version 12.0.1** profile?
I am having issue with "Unable to find an OS X profile for the given memory sample.

<img width="375" alt="macprofile" src="https://user-images.githubusercontent.com/49047882/170625494-076a3d85-275e-4fae-b4cf-b4bcb3b3fd3f.png">

[2022-05-27 18:17] digitalisx commented on #747
Hello @GordonChaiCheenShun,
You used is `Volatility`, it may not be right to discuss this in the `Volatility3` repository.. :)
But to think about the solution, `Volatility3` uses **Symbol Tables** instead of the concept of **Profile**, tools such as `dwarf2json` will allow you to create and analyze **Symbol Tables** for your desired operating system (Linux or Mac).

[2022-05-27 18:24] digitalisx commented on #747
Additional, It is not recommended to raise the same issue with many repositories unless you need it. Not only does it not guarantee a quick answer, but it can also confuse the maintainer. Before you raise an issue, consider what repositories are appropriate for the issues you face.. :)
(https://github.com/volatilityfoundation/volatility/issues/820, https://github.com/volatilityfoundation/profiles/

[2022-05-27 18:36] ikelos commented on #747
Volatility 3 would support it, but I don't know if it's the default set of system tables, or whether it's too recent.  If it's too recent, you can examine the files [here](https://github.com/volatilityfoundation/volatility3/tree/develop/development/mac-kdk) or use dwarf2json directly to generate your own profile, based on the [documentation](https://volatility3.readthedocs.io/en/latest/symbol-tabl

[2022-05-27 18:36] #747 closed, assigned to nobody

[2022-05-28 10:31] Blu3Eye opened #748 "Missing plugin impscan"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-05-28 10:32] ikelos commented on #748
From the original author:

I wonder why is that no equivalents to the impscan and psxview plugins in the python 3 version of volatility , if there's any i deeply need them for my research as i don't have the time right now to understand volatility structure and write those myself.

[2022-05-28 10:33] ikelos commented on #748
Might be ones of interest to @iMHLv2 ?

[2022-05-28 22:14] ikelos commented on #707
This sounds as though the merminal that you're trying to output to doesn't support the full unicode character set.  It's unclear why that wouldn't pipe to a file without issue, but I'd recommend investigating changing you terminal's default character map.  There are usually character maps that support the entire range of code pages.  Some references that may help:

https://github.com/volatilityfou

[2022-05-30 09:55] Deathkon opened #756 "windows.netscan, windows.netstat"
I have been trying to use windows.netscan and windows.netstat but doesn't exist in volatility 3

[2022-05-30 09:59] ikelos commented on #756
Sorry, that's an extremely short description to try and diagnose the problem from?  Could you please provide the requested information (notably, the command line you used to run the commands, and the output you got from the commands, when running with at least `vol.py -vvv`).

[2022-05-30 14:06] normaliok commented on #427
Unsatisfied requirement plugins.DumpFiles.kernel: Windows kernel
Unable to validate the plugin requirements: ['plugins.DumpFiles.kernel']

I have the same issue with Volatility 3 Framework 2.0.0 when dumping files from VMSS dump

[2022-05-30 14:18] ikelos commented on #427
I'm not sure what to suggest, other than making sure you have both the `vmem` file and also a `vmsn` or `vmss` file to read, check the output from `-vvv` and see if an `IntelLayer` is being stacked or not.  If not, then it can't read it as an intel layer and it's likely smear, if so then it can find a memory mapping but can't identify the kernel automatically.  It should download and generate the

[2022-05-30 14:37] Randark-JMT opened #757 "Unable to validate the plugin requirements: ['plugins.Crashinfo.primary']"
**Describe the bug**
I was going to use Volatility to analyze the Windows memory dump file, but an error occurred

**Context**
Volatility Version:  Volatility 3 Framework 2.0.1
Operating System:  Windows
Python Version:  3.10.2
Command:  vol -vvv -f .\1.dmp windows.crashinfo
![图片](https://user-images.githubusercontent.com/56223739/171016485-b56e4e22-761f-4866-9dff-964cfba0fea6.png)

[2022-05-30 14:39] ikelos commented on #757
The error message is fairly clear, it seems volatility doesn't think the file D:\Downloads\funny.data exists?  Is the D: drive a mapped UNC path or some other strange drive?

[2022-05-30 14:48] Randark-JMT commented on #757
@ikelos Sorry, I uploaded the wrong screenshot, I have fixed it now

[2022-05-30 14:54] ikelos commented on #757
Ok, that says it only loaded the file layer and couldn't identify a crashdump layer beneath it, we don't seem to output enough information to identify why, but my guess would be that the header doesn't match.  At the moment we only support full crashdumps (types 1 and 5 if I recall correctly).  There is a pull request (#656)  to add more, but volatility isn't setup to handle partial crashdumps so

[2022-05-31 01:47] Randark-JMT commented on #757
Ok, got it, thanks for your reply.

[2022-05-31 02:41] hudishhhs opened #759 "Volatility can't match the memory dump file (MacOS Catalina 10.15.7 build 19H15) to the symbol table created"
Hey there,

so currently i'm facing problem in using Volatility 3 to analyse the ram dump file from MacOS Catalina 10.15.7 build 19H15, ran in vmware workstation 16.

I had successfully created the symbol table for MacOS Catalina 10.15.7 build 19H15 according to issue#155 and importef it into volatility3 as well. And when i want to analyse the ram file, i got error as below:

hudi@hudi-virtual-mac

[2022-05-31 05:53] ikelos commented on #757
No problem, I'm going to mark this as closed, but feel free to follow up if you discover the issue and/or reopen it if you need more support.  5:)

[2022-05-31 05:53] #757 closed, assigned to nobody

[2022-06-02 14:26] B4caguilar commented on #756
@Deathkon it does exist, i think you should pull latest develop branch. I have tested both. Netstat worked fine
![image](https://user-images.githubusercontent.com/87719173/171652239-94585c9a-d5e7-424a-a975-5cd7adefad12.png)
Netscan sometimes failed or took time, depending the image/os version:
![image](https://user-images.githubusercontent.com/87719173/171652066-b75cd8a4-94f3-43b5-85e8-2eeae38626d

[2022-06-03 02:25] bellohai opened #760 "Symbol table requirement was not fulfilled."
Hello guys,

I am new to MacOS RAM analysis. I am facing issue related to symbol table requirement was not fulfilled.
I already using dwarf2json to create a new symbol table file for my macbook Monterey and transfer it to the file path: "volatility3/symbols/mac" with the name "kernel_debug_kit_12.0.1_build_21A559.dmg.json.xz" .

![image](https://user-images.githubusercontent.com/49047882/171773038

[2022-06-03 08:24] Deathkon commented on #756
![Uploading error.png…]()

[2022-06-05 21:37] ikelos commented on #760
Hiya, so the steps you followed look right, but it's unclear why you then messed with the banner `constant_data`.  Dwarf2json should fill this in automatically unless something went wrong?

If you have the KDK dmg file, then the [following script](https://github.com/volatilityfoundation/volatility3/blob/develop/development/mac-kdk/extract_kernel.sh) should do everything for you?  It extracts the .

[2022-06-05 21:40] ikelos commented on #759
This line:
[code]
indicates the there wasn't a match between the image and the available ISF files.  Please include the output from `vol.py isfinfo --filter mac` to show the mac ISF files that volatility can find, and the output from `vol.py -f /home/hudi/images/testingcatalina.dmp banners` to show what banners can be found within the image.  If there isn't a banner that's exactly the same in both

[2022-06-07 00:47] hudishhhs commented on #759
Hi there, here is the result from python3 vol.py -vvvvvv -f /home/hudi/images/testingcatalina.dmp banners
hudi@hudi-virtual-machine:~/volatility3$ python3 vol.py -vvvvvv -f /home/hudi/images/testingcatalina.dmp banners
Volatility 3 Framework 2.2.0
INFO     volatility3.cli: Volatility plugins path: ['/home/hudi/volatility3/volatility3/plugins', '/home/hudi/volatility3/volatility3/framework/plugins'

[2022-06-07 07:18] bellohai commented on #760
Hi @ikelos , thank you for your reply.

Below screenshot is the result of "Python3 vol.py isfinfo --filter mac" :

![image](https://user-images.githubusercontent.com/49047882/172296100-9b19e4e2-5b96-4e8e-b5c9-8f9340d9f70a.png)

Below screenshot is the output of banners:

![image](https://user-images.githubusercontent.com/49047882/172301905-e9acb4ee-6468-4bd9-9cb0-5b9f4b80347f.png)

After adding th

[2022-06-08 07:32] ikelos commented on #760
Hmmm, that does look as though the banner should be found, although the banner is also mentioned more times than I'd expect, so it's possible it isn't identifying the right one to locate all the other things it needs?  You can see more about what volatility is doing (and whether it's matching the banner) by running the same command but with `vol.py -vvvvv` rather than `vol.py`.  That should tell u

[2022-06-08 07:43] ikelos commented on #759
Hmmm, the banner does seem right (although github has formatted it as text, so when pasting program output, it might be useful to wrap it inside of triple backquotes).  I'm getting the two stars were to try and bold the line.

It should [log it](https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/automagic/symbol_finder.py#L103) as soon as it identifies a match,

[2022-06-09 04:15] bellohai commented on #760
Hello, I tried to regenerate everything including the symbol file and the memory file. I use the command  `vol.py -vvvvv`.

Below is the issue that i face "zsh: killed " :

┌──(root㉿kali)-[/home/kali/Documents/MacOS]
└─# python3 volatility3/vol.py -vvvvv -f /media/sf_D_DRIVE/macramnew.dump mac.bash.Bash

[2022-06-09 08:49] 3quall opened #762 "Downloading PDB files failed (`getaddrinfo` failed)"
Hello everyone! I hope you are doing great! Can someone help me to figure out what is the problem based on the error that I’m getting below? Thank you in advance!

Command: python vol.py -vvv -f 1st_Resp.raw windows.info

![image](https://user-images.githubusercontent.com/107179197/172805762-76d29dac-5cf3-4f54-a223-93ffa6683e34.png)
![image](https://user-images.githubusercontent.com/107179197/1728

[2022-06-09 09:22] ikelos commented on #762
Hiya, so this has identified a windows image, and is trying to download the necessary files to create an ISF JSON for that kernel.  It appears as though the system can't get to the internet (`getaddrinfo failed`) for some reason.  The error message suggests an issue carrying out a DNS lookup for the microsoft.com server.  If your system doesn't have access to the internet, you can manually convert

[2022-06-09 10:29] 3quall commented on #762
Hello @ikelos! Thank you so much for the detailed explanation! However I'm getting the error below when converting the PDB file:

![image](https://user-images.githubusercontent.com/107179197/172826240-32a82b72-8eed-4a71-89d7-907760a668a7.png)

The argument --offline was also unrecognized:
![image](https://user-images.githubusercontent.com/107179197/172826674-3d1a1795-a9a5-4167-88b4-84f285723ae7.pn

[2022-06-09 10:31] 3quall commented on #762
Just to add that the VM where I'm using Volatility does not have connection to the internet.

[2022-06-09 10:36] digitalisx commented on #762
Hello, @3quall

For the first error, could you try this command?
[code]
(However, if the environment is not Internet-enabled, you must build and install it on your own.)

The second error is that the version of `volatility3` being used is low.
I tracked the code and it seems that the `offline` option is supported from `2.0.1` or higher.
I recommend that you download and use the latest version.

[2022-06-09 10:38] ikelos commented on #762
You can also do as the documentation points out and set `PYTHONPATH="." ` to include the current directory (and therefore the volatility3 subfolder) in the path your copy of python looks in.

`--offline` was added sometime around version 2 of volatility3, I'd recommend updating to either the latest development branch, or at least 2.0.1, since there are a few important fixes in there.  5:)

[2022-06-09 10:56] 3quall commented on #762
Thanks for the answers guys!

What is the meaning of PYTHONPATH? Is it the same as Environment Variable of the machine?

[2022-06-09 11:26] digitalisx commented on #762
Yes @3quall,
I think what @ikelos says would be the environmental variable of the operating systems.

[2022-06-09 14:50] C4-S3 opened #763 "RISC-V support"
Hey guys,

is there already support for RISC-V images?
I tried to analyze a Debian RISC-V image, but I get e.g. with the plugin pslist only an empty list which I would not expect. The debug output compared to a Debian AMD64 image looks almost the same.

Thanks a lot

[2022-06-09 21:47] ikelos commented on #763
I'm afraid we don't yet support any architectures other than intel (32-bit, pae and 64-bit).  We're investigating arm support, but that hasn't gotten very far unfortunately.  The main support would be the need for a mapping layer which supports the RISC-V architecture's memory mapping model.  I haven't ever investigated that specific architecture, but even implementing a layer there'd still be som

[2022-06-10 10:29] 3quall commented on #762
Thank you so much for helping guys! I really appreciate it!

@ikelos even helped me troubleshoot problems that I encountered through the Slack channel. Very helpful guy!

It seems that the issues that I’ve faced can be resolved easily if the box has connection to the internet, but I have no control over it. I ended up using the lower version of volatility. Thank you so much again! You may close th

[2022-06-10 10:34] ikelos commented on #762
No problem, sorry we weren't able to help get the pdb file converted for you. Unfortunately there are too many symbols, and new ones coming out all the time, for us to package them all up easily without the internet.  I'm going to mark this as resolved since it's not strictly a bug in the way volatility 3 works, but feel free to reopen this if you think there's something that still needs addressin

[2022-06-10 10:34] #762 closed, assigned to nobody

[2022-06-10 15:26] garanews opened #764 "dump files for Linux & Mac plugin"
It's been a while since Volatility3 was released.
I see there are some plugin for Windows that support the dump of files:
memmap
malfind
modscan
modules
dlllist
psscan
vadinfo
pslist
hivelist

But there is none yet for Linux and Mac.
If someone can drive at least the first one, then I suppose the community can follow the procedure and implement the others, what do you think?

[2022-06-11 15:43] IridiumXOR opened #765 "What steps would be needed to add a new OS to Volatility?"
Hi,
I want to extend Volatility 3 in order to support a brand new OS.
What are the steps to do it?

[2022-06-11 16:51] ikelos commented on #765
Hmmmm, good question.  Apart from adding some plugins that work on it, you'll need to tinker with the automagic code a bit.  The automagic should automatically choose itself based on the os prefix of the plugin (so you'll need to start a new namespace under plugins, like linux/mac/windows that are there at the moment).  You also therefore might get something that builds up to an `IntelLayer`, but

[2022-06-11 19:51] wilsq36 commented on #756
Interesting... I ran netscan with vol2 and netsat with vol3 and vol3 doesn't show the ESTABLISHED connections.

[2022-06-11 21:15] ikelos commented on #756
Sounds like one that @japhlange might know more about?

[2022-06-11 23:44] japhlange commented on #756
@wilsq36 Can you provide more information about the memory image you are looking at?

It is possible that newer Windows versions may have changed their offsets again.

[2022-06-12 23:00] digitalisx opened #767 "Automatic synchronization of `readthedocs` to the latest version."
Hello, everyone in the community! 🙂
While I was teaching students about `volatility3`, I told them that it would be good to refer to the document,
but it seems that the [documents](https://volatility3.readthedocs.io/en/latest/) is not synchronized with the latest code.
If possible, I think `readthedocs` will be a little more useful if we reflect the newly added or removed contents in connection wi

[2022-06-12 23:17] ikelos commented on #767
Hiya, By default readthedocs takes you to the current stable version (`stable` branch), but you can get the latest development documentation, for the `develop` branch. by going to the `latest` version or visiting https://volatility3.readthedocs.io/en/latest/.  We've chosen this due to the unstable nature of the `develop` branch and wanting to avoid confusion from people who just download the main

[2022-06-12 23:34] digitalisx commented on #767
Yes @ikelos, your intentions seem very right.
So I think that the `stable` version is up to date as you said!
However, the `develop` version does not seem to be reflected immediately as the content of the `develop` branch..!
Some of the submodules (like linux `psaux`, windows `devicetree`, `mbrscanner`..) that have been reflected since a certain point in time seem to be missing or have not been up

[2022-06-12 23:35] ikelos commented on #767
Thanks, that's all looked after by @npetroni, so best to check in with him.  My understanding was that it should be done automatically, but I'm not certain...  5:)

[2022-06-13 00:14] npetroni commented on #767
I rebuilt `latest` and added a webhook. Let's see what happens next push to `develop`.

[2022-06-13 03:08] digitalisx commented on #767
@npetroni Thank you for your work! I'll check result when push at `develop` branch. :)

[2022-06-13 13:37] paulkermann commented on #699
As the #702 PR was closed, let's continue the discussion here (linking some related issues: #731 #739)

I'd like to offer another use case in which non-canonical addresses are problematic: emulation using Unicorn. A kernel function I emulated retrieves function pointers relative to the current RIP. The addresses that were retrieved became non-canonical too, which made the emulated verification of

[2022-06-14 14:21] digitalisx commented on #767
All right, Recently I was lucky enough to get the chance (#768) will change the document to push at `develop` branch. And when I checked the changes, it was successful. If there is no problem with the participants of this issue, we will close the issue in the near future.

[2022-06-14 14:22] ikelos commented on #767
No problem with me.  5:)

[2022-06-14 20:40] digitalisx opened #770 "Suggest configuring repository topic for `volatility3`."
## Description

Hello, everyone in the community! 🙂

Github's repository topic helps more people discover and understand our projects.
We can check the repository topic in the `volatility`.

- [python](https://github.com/topics/python)
- [ram](https://github.com/topics/ram)
- [memory](https://github.com/topics/memory)
- [malware](https://github.com/topics/malware)
- [volatility-framework](https://

[2022-06-15 02:53] npetroni commented on #767
Great, thanks. Looks good to me now too.

[2022-06-15 05:36] digitalisx commented on #767
Good, all participants have expressed their intentions, so we're happy to close this issue. If there is any additional issue, please open it again. :)

[2022-06-15 05:36] #767 closed, assigned to npetroni

[2022-06-15 18:17] digitalisx commented on #259
It is understood that the development of `TrueCrypt` has stopped over time. Would it be significant for this plugin to go into `volatility3`? Wouldn't supporting other programs like `VeraCrypt` and `BitLocker` help more people?

[2022-06-21 23:33] utkonos opened #773 "Simple Plugin Example Problems"
I'm following the documentation found here to make a simple plugin.

https://volatility3.readthedocs.io/en/latest/simple-plugin.html

Before I write my own, I'm just going through the steps in the documentation to make the example. However, I have run into two problems. First, the imports shown in the example are incomplete. The resulting plugin will not run without the following:

[code]

Once th

[2022-06-21 23:56] digitalisx commented on #773
Hello @utkonos,
I think there's a slight difference in the way the example in the document requires interfaces or modules in the framework that we're using now. So based on your example, I've modified the source code a little bit so that it can run on the latest version of the framework.

## Example

[code]

## Result

[code]

Library not imported, add `required_framework_version`, normal data is

[2022-06-22 00:33] utkonos commented on #773
@digitalisx Cheers and thank you!

[2022-06-22 05:49] digitalisx commented on #773
I add a little more research to prevent others from falling into the same worry.
In the above answer, there were some changes to the remaining elements, but there is no problem using them as they are.

## Step 1
[code]
This error is due to the version of the plugin you are currently trying to load and the requirements of the plugin specified in the developed plugin. I recommend `2.0.0` or later of

[2022-06-22 12:08] utkonos commented on #773
@digitalisx Again, thanks to much.

[2022-06-22 16:20] #773 closed, assigned to nobody

[2022-06-24 06:21] daddycocoaman opened #779 "Upload Pypi artifacts from Github Actions as prerelease"
**Is your feature request related to a problem? Please describe.**
Hi, I am using volatility 3 as a dependency for a tool I've written and I would like to upload it to PyPI without additional actions required from the user to getting the `develop` version of vol3.

Somewhere between 2.0.1 and the current 2.2.0, something was fixed that addressed `Page Fault at entry 0x0` errors I was getting. In d

[2022-06-24 07:23] digitalisx commented on #779
I think PyPI and Github Release should provide the same version.
Can many of the communities agree with the PreRelease on PyPI and, if possible, consider PreRelease in Github Release?

[2022-06-28 03:29] sinergistic opened #780 "volshell dt('task_struct') gives KeyError 'vmlinux'"
**Describe the bug**
Running `dt('task_struct')` in volshell produces a keyerror that I'm not sure how to debug.

**Context**
**Volatility Version**:  Volatility 3 Framework 2.2.0
**Operating System**:  Fedora 36 (Linux fedora 5.18.6-200.fc36.x86_64)
**Python Version**:  Python 3.10.5
**Suspected Operating System**:  Fedora 36 (Linux fedora 5.18.6-200.fc36.x86_64) (same system)
**Command**:  `pyth

[2022-06-29 08:15] Ultra7FLASH commented on #687
can you explain how you overcame this issue, because I'm having the same issue here.

[2022-06-29 08:19] 0xtejas commented on #687
If I remember correctly I had installed the module in pip for python3.5 whilst I was running volatility for python3.9 causing the issue.
Or maybe installed it with pip for python2 and ran it with python3 causing the issue.

[2022-06-29 14:16] SergeyDrachuk opened #781 "How to get pdbconv.py to download file behind a network proxy server"
It seems pdbconv.py can't work behind proxy in a linux

It would be nice to have a possibility to use system-wide environment variables (http_proxy / https_proxy)

If I understand right the "urllib.request" used to download files from Microsoft.
https://github.com/volatilityfoundation/volatility3/blob/cb6af3e5f7f33995fe46de3e6a3d81c9946d6a08/volatility3/framework/layers/resources.py#L120

If there

[2022-06-29 14:29] ikelos commented on #781
`urllib` automatically picks up proxy as defined by standard environment variables on linux (it might be the same on windows)?  From the python documentation at https://docs.python.org/3/library/urllib.request.html:
[code]
So try setting `http_proxy` and `https_proxy` variables, and let us know if that sorts the problem.  Once the allow configuration files (#754) we can look to add specific volati

[2022-06-29 14:39] #780 closed, assigned to nobody

[2022-06-29 14:41] ikelos commented on #780
Thanks very much, you provided just the right information!  This turns out to be that `self.config['vmlinux']` hadn't been populated because we shifted volshell from using separate layer/symbol table requirements, over to using a single kernel module requirement.  That should all be fixed up now, but please let us know if you're still running into problems!  5:)

[2022-06-29 21:10] ikelos commented on #681
Hopefully that helped?  I'm going to close off this ticket, but if feel free to reopen it if you're still experiencing a problem...  5:)

[2022-06-29 21:10] #681 closed, assigned to nobody

[2022-06-30 07:17] SergeyDrachuk commented on #781
@ikelos, really it works fine (checked in kali with last update).
Thanks 👍

[2022-06-30 07:17] #781 closed, assigned to nobody

[2022-07-06 17:09] vincentroberge commented on #550
Hi,

It is somewhat related to this question. When I run the netstat plugin on new versions of Windows (10, 11 and server 2022). It seems like the netstat plugin does not always display the process. Is this normal?

As an example, the first connection, should be by process rmet.exe (PID 7872) but the process name and PID is now shown.

I have ran the same command again with debug so that you can s

[2022-07-06 17:14] vincentroberge commented on #756
Hi,

It is somewhat related to this question. When I run the netstat plugin on new versions of Windows (10, 11 and server 2022). It seems like the netstat plugin does not always display the process. Is this normal?

As an example, in the output of netstat listed below, the first connection should be by process rmet.exe (PID 7872) but the process name and PID is now shown.

I have ran the same comm

[2022-07-07 12:14] vincentroberge commented on #756
I searched more on the this forum and it seems like the problem is related to Volatility3 netstat/netscan not supporting the latest versions of Windows 10 and 11 yet. I would have to generate new .json files such as netscan-win10-19041-x64 which is the last available one that was developed. Is there a way to automatically build the .json files for the netscan/netstat plugins? @japhlange should kno

[2022-07-08 16:38] digitalisx commented on #756
Hello, @vincentroberge

That's right, if you don't have a Symbol Table (`.json`) that corresponds to the latest version, you'll get a hard-to-trust result. There are two main ways to create a Symbol Table that we can use.

One is to convert the PDB provided by the MS official server. However, this is only available for some kernel and driver files.
Files such as `tcpip.sys`, which are covered by t

[2022-07-10 17:00] EndlessFractal commented on #550
Didn't want to create a new issue because I had something similar happen to me on a Windows Server 2008.

Attached file with output after running:

[output.txt](https://github.com/volatilityfoundation/volatility3/files/9079468/output.txt)

I got the memory file from here:

I'm running:

Cheers!

[2022-07-13 23:59] lcfut opened #787 "Windows Server VMEM - Unable to parse"
**Describe the bug**
A clear and concise description of what the bug is.
vCenter suspended the VM.  Downloaded the VMEM file (12gb) and attempted to use Volatility version 2 and 3
Unable to parse any data with either version

**Context**
Volatility Version:  3
Operating System:  SANS SIFT VM
Python Version:  3.8.5
Suspected Operating System:  Windows Server
Command:
$ ./vol.py -f /mnt/hgfs/Documen

[2022-07-14 00:02] ikelos commented on #787
Thanks, please can you provide the output of running the command with `-vvv` after `vol.py`?  This gives more information which will help us debug what the issue may be.  For vmware files, in particular an additional file (`vmsn` or `vmss`) can be needed as well as the `vmem` file.  The `-vvv` output should help us figure it out though...

[2022-07-14 00:17] lcfut commented on #787
See the requested output below:

$ ./vol.py -vvv -f /mnt/hgfs/Documents/servername-e52bf066.vmem windows.info
Volatility 3 Framework 1.0.0
INFO     root        : Volatility plugins path: ['/cases/volatility3-1.0.0/volatility3/plugins', '/cases/volatility3-1.0.0/volatility3/framework/plugins']
INFO     root        : Volatility symbols path: ['/cases/volatility3-1.0.0/volatility3/symbols', '/cases/v

[2022-07-14 00:22] ikelos commented on #787
Hmmmm, ok.  So this is a fairly old version of volatility 3, so it doesn't include some of the debug output about the vmware layers, and it also won't have the latest heuristics for finding windows images.  It's found the an intel layer and the DTB value (`DTB was found at: 0x1ad000`) looks right for windows.  It can't then identify the version of windows unfortunately.

I'd highly recommend getti

[2022-07-14 00:37] lcfut commented on #787
I used the "git clone" command and re-ran the line.
I copied over the 'windows.zip' file into the 'symbols' folder
Here is the new output

 python3 vol.py -vvv -f /mnt/hgfs/Documents/servername-e52bf066.vmem windows.info
Volatility 3 Framework 2.3.0
INFO     volatility3.cli: Volatility plugins path: ['/cases/volatility3-develop/volatility3/plugins', '/cases/volatility3-develop/volatility3/framewor

[2022-07-15 12:28] lcfut commented on #787
You mentioned in an earlier comment the need for the VMSS file.
I have that file, but I don't see a way to include it in the command.

[2022-07-15 22:30] jkvaidya commented on #589
Do we have a solution to this yet? I am porting my codes from python 3.9.11 to python 3.10.5 and all my codes have the error of collections.abc as AttributeError (like below)
AttributeError: module 'collections' has no attribute 'Sequence'
There are many of them, and I have not got a way to solve all of them yet. Please let me know if there is a solution to it. Thanks

[2022-07-16 18:26] digitalisx commented on #589
Hello @jkvaidya,

To check if the error still exists, I changed it to the python version (`3.10.5`) you told us and performed the test.

[code]

As a result, it seems to work well. If it does not work as desired, it is possible that you are using an unpatched version associated with this issue. Volatility3 recommends that you use a minimum version of `2.0.1` or higher, and patches for that issue a

[2022-07-19 13:16] lcfut commented on #787
This was solved.

Once I placed the VMSS file in the same directory as the VMEM file, then the commands started working.
I did not need to make any adjustments to the command itself, I just needed the second file present in the same folder.

I would recommend updating the documentation to include this as an example situation when analyzing memory files from virtual machines.  I did not see a refer

[2022-07-20 20:47] #618 closed, assigned to ikelos

[2022-07-21 18:36] cangeles opened #792 "Which KDK to use based on Darwin Kernel Version"
I received a memory dump from an iMac.  It was dumped with Cellebrite Digital Collector.  The collector did not document the MacOS version so I used strings to try to identify the kernel version (below).  I've read several posts on creating a profile (sorry, I still use vol2 terminology) but how do I determine which KDK to use based on the Darwin Kernel Version below?

Thanks!

"IOKitBuildVersion"

[2022-07-22 17:25] cangeles commented on #792
Looking through the output from Digital Collector, I found the line below.  It is also in the strings output of the memory dump.  Looking at the KDKs on Apple's site, there are four files with a build that starts with 19H, that are under macOS 10.15.7.  There is not exact match for the build 19H524.  The KDK builds jump from 19H15 (10/20/2020) to 19H1713 (1/31/2022).  Would it be best to use the K

[2022-07-25 01:44] f1r3walled opened #794 "Unsatisfied requirement plugins.Info.kernel.symbol_table_name"
Hi,
I'm not suceeding to analyze a Windows Server 2016 dump file, which has 65 GB.
The volatility2 gets longer (more than 8 hours) to output "imageinfo" plugin with no success to identify the operation system.
The volatility3 says "unsatisfied requirement plugins.info.symbol_table_name". In order to prepare my volatility3 I did download and install symbol tables from https://downloads.volatilityfo

[2022-07-25 07:33] ikelos commented on #794
Hiya, so this found a DTB and so could form an `IntelLayer`
[code]
The DTB does look right, but it's possible on such larger memory that it went wrong?  After that it tried to look for kernels.  The scan is usually restricted to very narrow sections so that it runs quickly, but in this case those didn't find anything:
[code]
It this tried to test it off a fixed base address, and that offered a num

[2022-07-25 13:26] f1r3walled commented on #794
Hi @ikelos,
Thank you so much for your thoughts.
The dump file was caught through CrowdStrike live response feature. I don't think that the memory dump file is broken, but if there is no simple fixing, don't worry.
I found a hard but helpful workaround to analyze that. Seems that bulkextractor is suceeding to read and extract something interesting from the memory dump. If interesting to anyone, I'

[2022-07-25 13:26] #794 closed, assigned to nobody

[2022-08-02 07:51] lic-8 opened #798 "what is happening here?"
[code]

[2022-08-02 08:07] digitalisx commented on #798
Hello, @lic-8
Thank you for uploading the detailed log.
It would be helpful to solve the problem if you could explain in more detail what commands you tried, what the results were, and what the problem was.

[2022-08-02 08:07] ikelos commented on #798
You have `jsonschema` installed, so the first time you use one of the symbol (ISF) files, it validates against the schema to ensure it's correct, and then caches the result so you won't have to do it next time you use the same JSON file.  It doesn't happen if the `jsonschema` module isn't installed and the log will give you a line telling you the verification was skipped in that case.

At the mome

[2022-08-02 08:30] lic-8 commented on #798
@ikelos Am I the first person to install requirements.txt ? 😅
So if I understand there is no error here ?

[2022-08-02 08:58] ikelos commented on #798
Huh, no, you're not, just the first one to report the delay, I guess?  I'm surprised that lives in there, it was designed to optional...  Hmmmm  5:S  Sorry about that!

Correct, it has not yet encountered an issue, the exceptions listed happen in the automagic, and these are expected to fail as it tries various possibilities for different architectures and file formats.  We could probably catch th

[2022-08-02 09:00] ikelos commented on #798
Hmmm, throwing exceptions is the expected means for loading a layer to fail in case of error, so might not be able to remove that from the logging output, but as I say, everything in that run looks fine so far...

[2022-08-02 14:14] siftuser opened #799 "netstat plugin shows "ValueError: too many values to unpack (expected 2)""
**Describe the bug**
netstat plugin shows "ValueError: too many values to unpack (expected 2)"

**Context**
Volatility Version:  Volatility 3 Framework 2.3.0
Operating System:  Ubuntu
Python Version:  3.10
Suspected Operating System:  Win 10 Build: 19042.
Command:   vol -f mem.raw  windows.netstat

[2022-08-03 08:31] lic-8 opened #800 "EOFError: Compressed file ended before the end-of-stream marker was reached"
I have run the folliwing plugins on a simple image: info, pslist, cmdline, hashdump, netstat, netscan, psscan, sessions, malfind.
Only pslist worked. The others all gave this error. My memory image file is totally good because it has worked hundreds of times before.

Logs for netstat (the others are the same):
[code]

[2022-08-03 10:43] ikelos commented on #800
Hi there, please could you check for a symbol file called `ntkrnlmp.pdb\3844DBB920174967BE7AA4A2C20430FA-2.json.xz` and verify that it is a valid .xz file?  Please also try running with the `--clear-cache` option in case your cache has become corrupted in some way.  It would also be useful to have included the first line of the output, so we know which version of volatility was in use at the time.

[2022-08-03 12:02] emabrey opened #801 "Snappy C Library Requirement Not Specific in README"
**Is your feature request related to a problem? Please describe.**
The README does not instruct users to install the Snappy c library for an installation using `requirements.txt`, and failing to have that library installed will cause the command `pip3 install -r requirements.txt` to fail with an error.

**Describe the solution you'd like**
Add instructions to the README to install the Snappy C lib

[2022-08-03 14:40] paulkermann opened #803 "Bug with CACHE_PATH"
`constants.CACHE_PATH` is updated if `cache_path` is in the arguments for the cli.
However `LINUX_BANNERS_PATH`, `MAC_BANNERS_PATH` and `IDENTIFIERS_PATH` are not updated accordingly.
This causes those files to be created in the default cache path.
We need to update all those paths as well with the new cache path.

[2022-08-03 22:03] ikelos commented on #801
This seems like an issue with `pip install python-snappy`?  We define the requirement, which should in turn define any requirements it has.  Please provide the failure message, since I don't believe this is a volatility issue, but rather a python-snappy issue.

[2022-08-04 02:09] emabrey commented on #801
It isn't a `python-snappy` issue. Installing the C library via the system package manager before the call to pip is the best way to do this. Building the library from source and installing it via pip is a nightmare that is completely avoided by using the pre-existing pre-built packages from the system package manager.

The issue is simply that the installation instructions for `python-snappy` tell

[2022-08-04 12:24] raiandri opened #804 "How can I fix the issue of plugin in volatility3 on windows"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've [considered.](url

[2022-08-04 12:35] ikelos commented on #804
The plugins listed at the top of the screenshot have additional requirements, these can be installed using pip.  The complete requirements for volatility3 and all the core plugins is stored in `requirements.txt` so can be installed with `pip install -r requirements.txt` in the volatility3 directory.

The error at the bottom of the screenshot says that you haven't chosen a plugin, and should later

[2022-08-05 00:38] raiandri commented on #804
Thank you for your answer, I have tried that command but getting an error of snappy I have also installed the python- snappy but I am getting this error. I am new to this field, please help me out.
![Capture 1](https://user-images.githubusercontent.com/67379243/182977740-13e43a82-c89c-483e-8b4e-95979ca57191.PNG)

[2022-08-05 06:54] digitalisx commented on #804
Hello @Andri-Rai,
An error about this means that you need to preemptively install a library related to `python-snappy`.
If you are using the Windows environment, please refer to this [method](https://stackoverflow.com/questions/42979544/how-to-install-snappy-c-libraries-on-windows-10-for-use-with-python-snappy-in-an).
Still, if you have any other issues, please add additional threads.

[2022-08-05 07:00] digitalisx commented on #804
Related to #801
Although the environment is different, there is a discussion about whether we should explain this issue more kindly.

[2022-08-05 07:18] raiandri commented on #804
Dear Kim,
Hello,
Thank You
I am working on a Windows environment. I  have tried installing
python-snappy. The version of python 3.10.6. And still getting the same
error message.

Best Regards,

Andri Rai

Ph.D. Student
Department of Computer Science
Hanyang University

Room 704 IT/BT Building
222 Wangsimni-Ro,
Seoul, Korea, 04763
***@***.***
***@***.***

On Fri, Aug 5, 2022 at 3:54 PM Donghyun Kim

[2022-08-05 07:26] raiandri commented on #804
Thank you. I will refer to #801 and try it again.

On Fri, Aug 5, 2022 at 4:00 PM Donghyun Kim ***@***.***>
wrote:

[2022-08-08 02:10] raiandri commented on #804
Hello, I have checked and tried the solution for other issues but I am still getting these errors.
![Capture 3](https://user-images.githubusercontent.com/67379243/183324617-5f4c475a-ba89-47da-b61e-405147965a51.PNG)

[2022-08-08 02:46] digitalisx commented on #804
Hello, @Andri-Rai

Yes, that's good, I'm glad you solved the previous error well. 🙌
It seems to me that you may have attempted to analyze a directory (`C:\Users\USER\Downalods\WinDump` is maybe a directory, right?) than a memory dump file (like `mem`, `img`, `vmem`, ... ), or that the permissions on the dump file are incorrect.
I think it would be good to execute the command by running PowerShell

[2022-08-08 04:59] raiandri commented on #804
Oh, Thank you very much it was a silly mistake I was not giving the .mem memory dump file extension now it's working well.

[2022-08-08 05:11] digitalisx commented on #804
All right, if there's no more problem, this issue will be closed in a few days by maintainers.
If you have another problem, please re-open the issue again anytime.

[2022-08-08 05:13] raiandri commented on #804
Thanks a lot. I will post if any other issues arises.

[2022-08-08 05:18] digitalisx commented on #799
Hello, @siftuser
I think we need a little more logs to investigate the error.
Could you please provide the results using `-vvvv`?

[code]

[2022-08-08 06:18] 0xtejas commented on #764
volatility2 has `linux_enumerate_files` and `linux_find_file` to enumerate files and to dump files.

[2022-08-08 08:08] ikelos commented on #804
Thanks @digitalisx, I haven't had much time to check out these issues, but it looks like you helped resolve @Andri-Rai 's issues.  Much appreciated!  5:)  As promised from earlier, I'm going to close this off, but as @digitalisx , feel free to reopen this if you think the issue persists.  You might also find more interactive support on our slack channel if you haven't already visited (https://www.

[2022-08-08 08:08] #804 closed, assigned to nobody

[2022-08-08 08:12] raiandri commented on #804
Thanks, I'll check it out.

On Mon, Aug 8, 2022 at 5:08 PM, ikelos ***@***.***> wrote:

[2022-08-08 14:00] R0b0t7 opened #807 "Investgating hiberfil.sys files"
Hello!
Is there anyway to use volatility 3 inorder to investigate hiberfil.sys directly? OR is there any specific tool that we can convert hiberfil.sys that way that we can parse it using voltality 3?
I've been reading about Hiber2Bin but cannot find anyway to actually download it, while using the imagecopy in Voltality 2 does work but doesn't work - it copies into different extention but when try

[2022-08-12 21:45] ghost commented on #799
Hello there!
I am having the same issue.

**Context**
Volatility Version: Volatility 3 Framework 2.3.0
Operating System: Mac OS 12.3.1
Python Version: 3.9.9
Suspected Operating System: Win 7 SP1 x64
Command: `python3 vol.py -f mem.raw -vvvv windows.netstat`

It works using Volatility 2.6 Mac standalone, but not using Volatility3.
Executing above command renders the output in the attached log file.