[2022-08-16 01:56] jun0x0 opened #811 "Unable to validate the plugin requirements"
I want to perform memory analysis with Volatility 3, but the analysis cannot proceed due to an error as shown below. please tell me how to solve.

Also, if I use a command other than the info command, the same error appears. ex) ("[plugins.PsList.kernel.layer_name', 'plugins.PsList.kernel.symbol_table_name]")

----------------------------------------------------------------------------------------

[2022-08-20 02:07] jeffguy commented on #803
I've written and tested a bugfix for this. I expected to see a link on this Issue page to create a pull request so my pull request would link to the issue.

When I tried the pull requests page, it looks like it won't allow me to create a pull request straight into the `develop` branch.

You can see my patch at my fork of the repo. Feel free to cherry pick or point me to how I can submit a pull req

[2022-08-20 02:35] 12089897411 opened #812 "Hbootkey is not valid"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Volatility Version:   volatility3
Operating System:  Win10x64_19043
Python Version:  3.9
Suspected Operating System:  Win10x64_19043
Command:  python vol.py -f 20220820.mem windows.hashdump

**To Reproduce**
Steps to reproduce the behavior:

1. Use command 'python vol.py -f 20220820.mem windows.hashdump'
2. See e

[2022-08-20 07:06] digitalisx commented on #803
Hello @jeffguy,
First of all, thank you for your work.
I believe the maintainer will judge whether this is actually a bug and whether the method you suggested is a good solution.

Here is the [link](https://github.com/volatilityfoundation/volatility3/compare/develop...jeffguy:volatility3:develop) for PR.
The more detail you write down what you suggest and everything about it, the more helpful it w

[2022-08-20 07:09] digitalisx commented on #812
Hello, @12089897411
Could you provide logs and dumps to help us understand what is causing it?

[code]

Duplicate of
- #617

[2022-08-20 10:46] 12089897411 commented on #812
Hi@digitalisx

I shared the file on the Dropbox. The link is as follows:
https://www.dropbox.com/s/cuhn860amsc8vrm/20220820.mem?dl=0

thanks

[2022-08-20 16:43] digitalisx commented on #812
Hello, @12089897411
Thank you for providing data and information.
I'll track down the cause of this as soon as time permits. :)

[2022-08-21 02:52] samuelzurowski commented on #748
Has this been worked on at all? I may take a stab at it.

[2022-08-21 03:18] digitalisx commented on #748
Hello, @samuelzurowski
There is no news or information on Issues, PR, or Community Slack working on them yet.

[2022-08-21 10:37] Black2PIg opened #815 "Vmware file "*.vmsn" is not supported！"
Volitility3 does not support the resolution of "*. vmsn" files (this file is a snapshot memory file of the old version of VMware, and the old version of VMware does not support "*. vmem" file), but Volitility2 does support  "*. vmsn" files.

===========================================================
volitility3:
C:\Users\jone\Desktop\volatility3-develop\volatility3-develop>python v
ol.py -vvv -f

[2022-08-21 20:00] SourceDiver42 commented on #765
I am currently adding FreeBSD support to vol3 for a school project, and I had to do some modifications to the `dwarf2json ` program. I think I also got the KASLR part running in the automagic part (I modified the mac code) and it manages to find 2 symbols in a memory dump for the KASLR test, like the mac find_aslr() does it. The part I am stuck at is the DTB address and the layer stuff that was ad

[2022-08-21 20:52] ikelos commented on #815
Volatility 3 does support `vmem` files and automatically makes use of a similarly named `vmsn` or `vmss` file in the same directory.  Providing the `vmsn` file directly as a parameter will treat it as if *it* is the memory image, which will fail.

Please ensure that your vmem file (`myfile.vmem`) is in the same directory as the vmsn file with the same name but different extension (`myfile.vmsn`).

[2022-08-21 20:54] ikelos commented on #812
It's possible that the registry entry used by hashdump isn't present in the memory.  This tends to suggest a smeared memory image, or something strange going on with the in-memory registry.  I'm afraid there's unlikely to be much we can do to improve the situation.

[2022-08-21 21:19] ikelos commented on #765
There was another student that did some work on this but unfortunately never got far enough to commit it.  I've added @npetroni since I believe he was more aware of the work than I was.

I'm afraid the error messages are about as specific as we can get?  There is no good generic heuristic for determining the DTB on an x86 system.  Since each process has its own DTB, even something that found pages

[2022-08-21 22:25] IridiumXOR commented on #765
I have deeply explored (and solved) this problem of OS-agnostic virtual to physical address translation in this paper [https://www.s3.eurecom.fr/docs/tops22_oliveri.pdf](https://www.s3.eurecom.fr/docs/tops22_oliveri.pdf). On x86, ARM and RISC-V it is possible to recover the kernel MMU radix tree without any knowledge on the OS, however, it is an extrema-ratio if you known anything about the OS (on

[2022-08-22 02:38] 12089897411 commented on #812
Hi @ikelos

That's ok！If I want to get users from Mac or Linux dumps,which command shoud I use?

thanks

[2022-08-22 07:53] ikelos commented on #812
Hi this question isn't really a bug, so it might be better to ask it on our [slack channels](https://www.volatilityfoundation.org/slack) where you could get a more interactive response.  I'm not sure we have any plugins specifically for enumerating users on either linux or mac I'm afraid.   You might find some luck just outputting the memory and using grep to search for the passwd file, in case it

[2022-08-22 07:53] #812 closed, assigned to nobody

[2022-08-22 09:04] q2dg opened #816 "Port "cmdscan" and "console" plugins from Vol2 to Vol3, please"
**Is your feature request related to a problem? Please describe.**
I want to inspect which commands are executed in a terminal and what is its output but with Vol3 there's no "cmdscan" and "console" plugin equivalent, so I can't get this information.

**Describe the solution you'd like**
A "cmdscan" and "console" plugin port from Vol2 to Vol3

Thanks a lot!

P.S: "Screenshot" plugin would be nice

[2022-08-22 14:18] dkec1 commented on #815
I also had the same problem, which has been bugging me. Older versions of vmware do not support ".**vmem**" files. So when creating snapshots, only **vmsn** files are generated.However, vol3 does not support the memory image".**vmsn**". But excitingly that vol2 supports the memory image".**vmsn**".By comparing vol2 and vol3 to parse the memory image ".**vmsn**" and ".**vmem**", I found that ".**vm

[2022-08-22 14:50] ikelos commented on #815
Hi there, volatility 3 is a complete rewrite, and so comparisons between volatility 2 aren't all that useful.  Many of the ways things that were done in volatility 2 are not how they are done in volatility 3.

It looks as though volatility 2 got a separate parser for `vmsn` files in particular (https://github.com/volatilityfoundation/volatility/blob/master/volatility/plugins/addrspaces/vmware.py)

[2022-08-22 16:45] 0xtejas commented on #811
Are you sure the memory dump is windows? did you try running `banners` command?

[2022-08-23 00:43] dkec1 commented on #815
Thank you, how can I send the sample file to you?

[2022-08-23 07:51] ikelos commented on #815
Gmail to mike.auty@gmail.com or dropbox?  There are a number of other large file transfer services, any of them should be fine...

[2022-08-23 08:58] q2dg commented on #696
Well, I don't know if it is the same problem, but with all images provided in all labs from https://github.com/stuxnet999/MemLabs "filescan" plugin is unable to take any output. It's true these labs were thought for Vol2 but it's a bit "strange" Vol2's "filescan" plugin does well while Vol3's one doesn't. I't worth looking at

[2022-08-23 10:01] ikelos commented on #815
Sorry, my bad, when I said gmail I'd meant google drive.  I've gotten 3 emails, but they number 002 to 004, and I can't seem to reconstruct them properly.  Sorry for the confusion!

[2022-08-23 12:33] dkec1 commented on #815
The VMSN file has been shared, thank you for your attention to this issue. If there is any further solution, please let me know as soon as possible.

[2022-08-24 15:53] #717 closed, assigned to iMHLv2

[2022-08-24 16:05] digitalisx commented on #717
Hello, @paulkermann
This issue we were discussing has been merged well this time.
If you have any good issues in the future, please leave them.
It's fun to discuss and learn together! :)

[2022-08-24 16:14] iMHLv2 commented on #713
PR is in. I just created a branch initially so people could see the changes and experiment with it.

[2022-08-25 09:36] yarona1993 opened #820 "Can volatility use swap file when a page fault occurs?"
/framework/automagic/pdbscan.py - **determine_valid_kernel**  func could fail and raise a PagedInvalidAddressException
It possible to complete the missing pages from the pagefile.sys from the machine itself
Possible use: **vol.py -f /tmp/win2019.dmp -pf /tmp/pagefile.sys**

[2022-08-25 09:53] ikelos commented on #820
Hi, I think you're asking about using swapfiles when they're available.  This is already support in the library, and exposed through the CLI as `--single-swap-locations` and you must provide a list of the swap files in the order windows expects them (there can be up to 15 swap files).  They must also be provided as valid URIs (so file:///path/to/pagefile.sys).  Please let me know if this resolves

[2022-08-26 00:45] jun0x0 commented on #811
yes, In volatility2, it says Windows 10 profile, but no other command results came out, so I tested with volatility3, and the error above appears.

[2022-08-28 08:25] paulkermann commented on #820
@yarona1993 have a look at #778 if it does not work for you

[2022-08-30 10:06] digitalisx commented on #799
Thank you to everyone for reporting and interesting in this issue. This would have been resolved by this commit (https://github.com/volatilityfoundation/volatility3/commit/1f1355711d08e5e62b27156e5d186e3ed59366b2).
The issue will be closed by the maintainer, and if you have any additional problems, please open the issue again at any time.

[2022-08-30 10:11] #799 closed, assigned to nobody

[2022-08-30 10:45] digitalisx commented on #770
Hello @awalters, as the star of the `volatility3` project approaches 1k, the interest in the framework is high.
I think it's one of the best ways for more people to get interested and participate in the project. :)

[2022-09-03 14:42] IridiumXOR commented on #765
If I understand correctly, an automagic layer, after it has identified the dump as a dump of the OS XXX, it appends to the context the symbol table relative to the kernel version present in the dump right? I have write an automagic for my new OS (modifing also other parts of Vol3) but if I check the context table in volshell, I see only the table added by the ELF memory layer... it seems that the

[2022-09-04 15:52] bridgeythegeek opened #829 "header.NameInfo.Name cannot be resolved when pool scanning for Executive Objects"
(Apologies if I get terminology wrong! Still trying to get used to Volatility3!)

**Describe the bug**
When pool scanning for executive objectives, the `name` of the executive object is not recovered.

**Context**
Volatility Version:  Volatility 3 Framework 2.3.1 (`git pull` today)
Operating System:  Running Volatility3 on Linux Mint 20.3 Cinnamon (5.4.0-125-generic)
Python Version:  3.8.10
Suspec

[2022-09-04 18:16] bridgeythegeek commented on #829
In poolscanner.py I see:
https://github.com/volatilityfoundation/volatility3/blob/1f1355711d08e5e62b27156e5d186e3ed59366b2/volatility3/framework/plugins/windows/poolscanner.py#L283-L288
This seems to be the culprit. If I comment out L287 and L288, my Mutants have names. Well, some of them do.

[2022-09-06 16:51] ikelos commented on #829
So typically windows 10 is special in certain ways, in that it was the first version (I believe) where they introduced the mapping of large chunks of the memory to empty space, so the mappings appear valid (meaning we have to scan them) but contain nothing useful.  *Lots* of nothing useful.

We have a defence mechanism against this built into the intel space, which says that if all entries within

[2022-09-06 18:21] bridgeythegeek commented on #829
Thanks @ikelos! To make sure we're on the same page (no pun intended), the `if` statement means that if the OS is **_not_** Win10 (which is the case in my example - it's Win7), the layer is swapped to the physical layer, i.e. it is no longer the virtual layer, right? This would fit with what I'm seeing.

I'm pretty sure the address of the requested read (`0xf8a000829a40`) comes from the `_OBJECT_H

[2022-09-07 16:16] resposo opened #830 "Is there any way to dump processes in the Linux environment in volatility3?"
Hello

In a Windows environment, the --dump option allows process dumps, but it does not work in a Linux environment. Is there a way to solve this?

Please let me know if anyone knows how to dump a process in a Linux environment or if they know how to plug-in

[2022-09-08 05:02] sfortuna opened #831 "Allow other versions of Python Snappy"
**Describe the bug**
A clear and concise description of what the bug is.

**Context**
Volatility Version:  3
Operating System:  Windows 10
Python Version:  3.10
Suspected Operating System:
Command:

**To Reproduce**
Steps to reproduce the behavior:

1. Use command '...'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
I'm unable to get volatility

[2022-09-09 07:02] mthbrown opened #832 "linux.check_afinfo.Check_afinfo Plugin Throws AttributeError"
**Describe the bug**
When running the **linux.check_afinfo.Check_afinfo** plugin on a Linux memory dump using a custom **Symbols Table**, it throws an **AttributeError**. Other plugins work without problems

**Context**
Volatility Version:  Volatility 3 Framework 2.3.1 (latest from git as of today)
Operating System:  Ubuntu 20.04.2 LTS
Python Version:  3.6.12
Suspected Operating System:  Ubuntu 22

[2022-09-09 07:12] mthbrown opened #833 "Incorrect Linux Paths in Plugin Outputs"
**Describe the bug**
When running any of the Linux plugins, the paths in the output are incorrect. It repeats parts of the path for some reason. For example, it shows this:

[code]

instead of:

[code]

Other than this, the plugin(s) works fine

**Context**
Volatility Version: Volatility 3 Framework 2.3.1 (latest from git as of today)
Operating System: Ubuntu 20.04.2 LTS
Python Version: 3.6.12
Sus

[2022-09-12 14:41] paulkermann commented on #833
Check PR #786 for the fix.

[2022-09-14 17:56] Hi-Timofey commented on #259
All of mentioned tools are quite popular and will be in demand for a long time. There is also a lot of controversy about TrueCrypt and VeraCrypt because stopping the development of Trucrypt was very strange and many people still do not trust the VC.  They think there is at least backdoor in this program.
So development of plugins for all these programs is significant Imho.

[2022-09-18 09:17] firefart opened #836 "Symbol Tables 404"
All lthe symbol table download links currently end in a 404

[code]

![image](https://user-images.githubusercontent.com/105281/190895028-d14496b3-3b5d-4428-8e6d-55f38d923f2c.png)

[2022-09-18 09:19] ikelos commented on #836
@npetroni any chance you could look into this please?

[2022-09-21 14:05] smclinden commented on #836
There are a lot if links on the Volatility Foundation page that are broken. This isn't helping as time is of the essence on this case.

[2022-09-21 16:28] marcurdy commented on #836
Impacting me also

[2022-09-21 16:51] ikelos commented on #836
@awalters Sounds like it's not just the symbols directory...

[2022-09-21 18:58] npetroni commented on #836
I  speak to AW often, you can assume we are on the same page generally.

Try again please.

[2022-09-21 19:00] marcurdy commented on #836
npetroni, I don't know to what you're referring, but the repo hasn't changed. Firefart's original ask stands.

[2022-09-21 19:12] ikelos commented on #836
Hiya, I've been told that the specific links should now work (note that browsing of the directories isn't available, but the direct symbol table zip packs should work).  @smclinden could you please provide some examples of the links that aren't functioning on the volatility foundation website please?

[2022-09-21 19:14] firefart commented on #836
can confirm, the symbol downloads are now working again thanks!

[2022-09-21 19:45] ikelos commented on #765
Correct, the stacker is purely to stack a layer and I don't believe any symbol tables that may be used are copied across.  If a particular layer requires a symbol table, it should load it into the context itself when it is constructed (which will be done on the real context when that stacking process completes).

[2022-09-21 20:03] #829 closed, assigned to iMHLv2

[2022-09-21 20:22] #803 closed, assigned to nobody

[2022-09-23 08:14] Rintaro94 opened #842 "PyInstaller build ELF missed plugin path"
**Describe the bug**
After build elf file with pyinstaller, when run elf file, plugin path was missing and cannot use

**Context**
Volatility Version:  3-2.0.1
Operating System:  Linux
Python Version:  3

**To Reproduce**
Steps to reproduce the behavior:

1. pyinstaller -f vol.py
2. cd dist/
3. ./vol -F <image file> windows.info
4. error: volatility: error: argument plugin: invalid choice windows.

[2022-09-23 16:21] d-millar opened #843 ""Symbol table requirement not filled"?"
**Describe the bug**
Presumably user error, but none of the Linux plugins are working for me, i.e. they run but produce no results.

**Context**
Volatility Version:  Volatility 3 Framework 2.3.1  (cloned from github, current)
Operating System:  running Volatility from Ubuntu 20.04.5 against an Ubuntu 22.04.1 target
Python Version:  3.8.10
Suspected Operating System:  not sure what this is asking (

[2022-09-27 16:32] #836 closed, assigned to awalters, npetroni

[2022-10-04 09:43] ikelos commented on #843
Hi there, it looks like volatility is successfully identifying the image and kernel, so the next best guess is that the ASLR determination hasn't worked out properly for some reason.  @atcuno any thoughts?

[2022-10-06 16:22] saneehaAmir opened #847 "Replacement of linux_procdump command"
Hey,

We have been using linux_procdump command for dumping the executable of a process. It is not available in volatility3. Please tell the replacement for this plugin.

I will be grateful
Thanks

[2022-10-07 16:21] digitalisx commented on #847
Duplicate of #764 #830

[2022-10-11 08:18] ikelos commented on #715
Slack might be a good place if you've got quick questions, but to answer,
there's Linux support but no arm space support so it's unlikely you can do
a great deal with Android yet.

On Tue, 26 Apr 2022, 15:36 lic-8, ***@***.***> wrote:

[2022-10-11 08:35] TomGeek18 commented on #707
Good Morning.

This is the results I get when I run the MFTscan and attempt to send to a
file.  The MFTscan will run fine without sending to a file, but will prove
the below error if I >.

volatility3>python vol.py -f x:\memdump.mem windows.mftscan >txt.txt
Traceback (most recent call last):B scanning finished
 \volatility3\vol.py", line 10, in <module>
    volatility3.cli.main()
 volatility3\vola

[2022-10-11 09:00] ikelos commented on #707
Hi there, this appears to be an encoding error in the output of volatility and may be related to the character map of the console that python is running within.  You could try setting the following environment variables to see if that improves the situation:
[code]
This is usually encountered because the windows terminal is one of the last terminals that does *not* support unicode UTF-8 output (wh

[2022-10-11 10:15] Lowengrube opened #848 "Volatility can't match the memory dump file (MacOS Monterey 12.6 build 21G115) to the symbol table created"
Hey there,
so currently i'm facing problem in using Volatility 3 to analyse the ram dump file from MacOS Monterey 12.6 build 21G115, I had successfully created the symbol table for that OS version:
`./dwarf2json mac --macho /Library/Developer/KDKs/KDK_12.6_21G115.kdk/System/Library/Kernels/kernel.dSYM/Contents/Resources/DWARF/kernel --macho-symbols /Library/Developer/KDKs/KDK_12.6_21G115.kdk/Syste

[2022-10-24 13:49] garanews opened #851 "Cache mechanism: questions and improvements"
Recently Vol3 added a new cache mechanism:
https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/automagic/symbol_cache.py
At first run of Vol3 the symbols will be read and data will be stored in a SQLite DB.
Initially the default value to re-generate the cache was set to 3 days: now raised to 1 month.
On my environment the build of cache (1.2MB) takes **10 minutes

[2022-10-26 00:26] ajmeese7 opened #853 "Unable to validate the plugin requirements"
**Describe the bug**

Similar to #634, I am getting the following error message (with logs for context):

[code]

**Context**
Volatility Version:  Latest
Operating System:  ZorinOS 16 Pro
Python Version:  3.9.12
Suspected Operating System:  Ubuntu 4.15.0-184
Command:  `python3 vol.py -f /home/aaron/Downloads/HTB/forensics_poof/mem.dmp -vvvv windows.pslist.PsList`

**To Reproduce**

I tried generat

[2022-10-26 00:58] digitalisx commented on #853
Hello, @ajmeese7
In this situation, it seems necessary to try another command again.
Memory dumps appear to have been dumped on Linux, but attempting to query the Windows process list.
Could you try `linux.pslist` command?

[2022-10-26 11:22] ajmeese7 commented on #853
Same issue with the linux command, unfortunately.

[2022-10-26 14:58] IridiumXOR opened #854 "Volatility 3 as library example"
Is it possible to have an example of a minimal python script using Volatility 3 as library? The documentation is very cryptic and incomplete (no imports etc..) ...

[2022-10-26 18:16] ikelos commented on #854
Hiya, the documentation is there as a guide.  I'm a little concerned that if we write a minimal script that people can just copy and paste, we'll end up seeing hundreds of little programs using that script as way to get to volatility rather than, for example, writing a volshell snippet that could do the same thing?

It would be helpful to know which bits of https://volatility3.readthedocs.io/en/la

[2022-10-26 18:18] ikelos commented on #853
Hiya, would it be possible to get the output with `-vvvv` now that you're trying a linux plugin please?  It will help us diagnose whether the automagic is finding the linux banner or not.

[2022-10-26 18:19] ikelos commented on #853
Please also note that just the System.map is usually not enough to create the structures for the kernel (which volatility needs to know to understand how everything's laid out).  It looks as though you only used the system map, without also providing the debug kernel, so volatility could find the actual symbol structures, not just their offsets.  There is more detailed documentation over on the dw

[2022-10-26 18:28] ikelos commented on #851
Hiya, we've discussed this a bit online, but here are some documented answers to your points:

* Files that aren't older than the cache expiry time aren't reread.  We don't currently check or store the timestamps on the files, just when they were cached.  https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/automagic/symbol_cache.py#L262
As such there's scope here

[2022-10-26 18:32] ikelos commented on #848
So it did identify the correct banner, but we then immediately try to use a structure that wasn't present:
[code]

It's not clear if this structure's name has changed, or it was removed (or possibly if the symbol table was generated incorrectly, but it doesn't look like it).  We'll need to do some investigation to figure out what the problem is.  The `vm_map_object` type is one that we override wi

[2022-10-26 18:37] ikelos commented on #833
This should now have been fixed in commit 72d928fecd9fb2323c1cc4c4378cb8f13a834d67, with a little cleaning up still to be done in terms of deprecating the old variables.  I'm going to mark this as closed, but please feel free to reopen if there are any continuing issues.

[2022-10-26 18:37] #833 closed, assigned to nobody

[2022-10-26 20:32] ajmeese7 commented on #853
Linux command logs:

[code]

The `dwarf2json` documentation is unclear on what to do, I have the `module.dwarf` file and the `System.map-4.15.0-184-generic` file but there is no guidance on how to actually use a `.dwarf` file.

[2022-10-31 10:32] IridiumXOR commented on #854
I don't ask a "minimal script" to just copy and paste but an example of multiple things that it is possible to do with volatility in library mode, IMHO the documenttion about volatility library behaviour is very poor: for example, how to load a dump and configure the automagic to operate on it without using vol.py or vollshell? why not include an example of it? If I want to perform operations on a

[2022-11-02 08:35] AhmetPayaslioglu opened #856 "Volatility3.framework.plugins: Automagic exception occurred: urllib.error.URLError:"
Hi,

**Describe the bug**
When I try to know the image info of the OS , I get this error.

**Context**
Volatility Version: volatility3-1.0.0
Operating System:  Edition: Windows 10 Enterprise Evaluation Version: 21H2 OS Build:19044.1288
Python Version:  Python 3.7.9
Command:  vol.py -f ram-image.raw windows.info.Info

**To Reproduce**
Steps to reproduce the behavior:

1. Use command 'vol.py -f ram-

[2022-11-02 08:41] digitalisx commented on #856
Hello, @AhmetPayaslioglu
I think the version of volatility3 that using is too old version to catch this error.
Would you like to try the latest `2.0.1` version of the [release](https://github.com/volatilityfoundation/volatility3/releases/tag/v2.0.1)?

[2022-11-02 12:22] AhmetPayaslioglu commented on #856
Hello, @digitalisx
Thank you. The new version is working properly.
I would like to ask one more question, Doesn't work without an internet connection? Looks like it need download from http://msdl.microsoft.com/download/symbols/ntkrnlmp.pdb/733830ECAFA1A3073FFAWARNING .
Did you set this new? I remember that it also worked without the internet a long time ago. Thank you.

[2022-11-02 20:07] digitalisx commented on #856
All right, I'm very happy to hear that it's working fine. Fortunately, the question is possible.
Here is a well-writed [article](https://blogs.jpcert.or.jp/en/2021/09/volatility3_offline.html) on how to use volatility3 offline.
If you are still curious or need help reading this, please leave a thread.

[2022-11-02 21:47] ikelos commented on #856
This sounds like it's been answered, so I'm going to mark it as closed.  If you're still having difficulties, please feel free to reopen it...  5:)

[2022-11-02 21:47] #856 closed, assigned to nobody

[2022-11-03 15:20] AhmetPayaslioglu commented on #856
Thanks a lot!

[2022-11-04 10:01] Lvenizerv opened #859 "Dumping LSASS/Extracking domain hashes"
Hi there,
I'm quite new to this, I've searched up a few tutorials on how to get this working and I've managed to dump the local pc hashes (administrator account, bla bla) using the hashdump plugin

I can't seem to dump the hashes of domain-joined users who remoted into the machine. How can I obtain hashes for them?
Also, I tried dumping the lsass process through pslit but it seems the lsass file w

[2022-11-04 23:24] eduardogarcia4499 opened #860 "Need help installing the requirements.txt"
Can you help me get Volatility 3 working on Windows 11? I get this error when I run this command pip install -r requirements.txt I don't know what else to try.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pefile>=2017.8.1 in c:\users\garci\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 2)) (2022.5.30)

[2022-11-04 23:30] digitalisx commented on #860
Hello @Lalo141,
This is because the requirements for installing `python-snappy` have not been met.
Could you refer to these issues?
- #804

[2022-11-06 09:47] bouc972 opened #861 "probleme with hashdump"
Hi, i have a problem with  Volatility to do hashdump.
here is the command and the error :

$ sudo python vol.py -vvv -f ~/Downloads/challenges/ch2.dmp windows.hashdump.Hashdump

Volatility 3 Framework 2.4.0
INFO     volatility3.cli: Volatility plugins path: ['/home/moi/git/volatility3/volatility3/plugins', '/home/moi/git/volatility3/volatility3/framework/plugins']
INFO     volatility3.cli: Volatil

[2022-11-06 23:09] bouc972 commented on #861
after reinstalling pycryptodome, i no longer have the problem SystemError: PY_SSIZE_T_CLEAN macro must be defined for '#' formats but a problem of ARC4

$ sudo python3 vol.py -vvvv -f ~/Downloads/challenges/ch2.dmp windows.hashdump.Hashdump
Volatility 3 Framework 2.4.0
INFO     volatility3.cli: Volatility plugins path: ['/home/moi/git/volatility3/volatility3/plugins', '/home/moi/git/volatility3/vo

[2022-11-06 23:25] bouc972 commented on #861
install a old version of pycryptodom (3.0.0)
i have a problem with DES and AES
install DES ans AES
no change.
install pycryptodome version 3.15.0
well done.

sorry for this intervention.

[2022-11-06 23:25] #861 closed, assigned to nobody

[2022-11-07 01:42] gretschstreamliner opened #862 "When trying to extract a file, is the address I have virtual or physical?"
I've carried out a RAM dump to find the value of a Variable in a C# encryption program. As the Visual studio encoding of the Variable is not faithful to its actual value, I need to access this variable directly in memory.

I have tried running many commands (i.e. vadinfo, virtmap, dumpfiles) in Volatility to find the value of this variable (memory offset outlined in m_handle in the Visual Studio s

[2022-11-09 14:07] ikelos commented on #861
No problem, glad you got it resolved and thanks for writing up what the resolution was! 5:)

[2022-11-09 16:31] bartkor12 opened #863 "Volatility 3 not working."
**Context**
I am unable to access most of the features of volatility 3, I am using windows powershell on administrator mode to use it and whenever I run windows.netstat.NetStat or pretty much any command, I get an error or an unclear output.

Volatility Version:  Volatility 3 Framework 2.4.1
Operating System:  Windows 10 Pro
Python Version:  3.8.10
Suspected Operating System:  ?
Command:
[code]

S

[2022-11-10 09:48] AsafEitani opened #864 "Will community plugins be added to the main project?"
Hello, I was wondering why the community plugins - specifically those that win the volatility contest are not merged into the main branch.
Is there a problem of license or is the issue is that no one opened a PR on that.
I started writing plugins to volatility3 just to find that the same plugin (file list) was already developed and won last year contest.
Is there a reason?

I can open a PR merging

[2022-11-10 10:00] ikelos commented on #864
Hiya, I think the issue is more over who supports the plugins.  Some authors may wish to be able to update them quickly by keeping the plugins on their own github, otherwise may wish to add them to a community area, but then hope that they'll get updated by the core team when bugs arise (which puts an extra burden on the core team).  One way around this would be a community repo, much like the vol

[2022-11-10 18:05] jsvwiajaba opened #866 "KDBG Encrypted"
Does volatility handle an encrypted kdbg tag header in windows? as mentioned in volatility2:
https://github.com/volatilityfoundation/volatility/wiki/Encrypted-KDBG-(Win-8-and-later)

 Volatility search for a KDBG struct in "automagic/pdbscan.py", but doesnt handle the encrypted tag
`def method_kdbg_offset(self,
                           context: interfaces.context.ContextInterface,

[2022-11-10 19:22] ikelos commented on #866
It doesn't, however, it's not the only technique used to determine the kernel.  We'll probably add it at some point, but so far volatility 3 works effectively on a number of different Windows images using its existing heuristics.  Usually Volatility 3 searches for the PDB header of a loaded kernel and uses that to load the necessary symbols (which can then also help identify the KDBG structure).

[2022-11-11 08:52] IridiumXOR commented on #699
This problem affect also the use of Volatility 3 in tools like [PANDA](https://github.com/panda-re/panda).

[2022-11-12 19:20] bartkor12 commented on #863
please, I really need help, any answer would be appreciated.

[2022-11-13 00:56] digitalisx commented on #863
Hello, @bartkor12
It's hard to figure out what's wrong with just the clues given at the moment.
Are you willing to provide a memory dump file or a detailed log?

[2022-11-13 07:51] paulkermann commented on #866
@jsvwiajaba Have a look at #718 and `get_kdbg_structure` for accessing the KDBG as if it was decrypted.

[2022-11-13 09:26] paulkermann opened #867 "possible bug in pdbutil.py - incorrect use of .strip()"
https://github.com/volatilityfoundation/volatility3/blob/37c0dd290e27b8b3b03608b4b005c3a9707a72f8/volatility3/framework/symbols/windows/pdbutil.py#L362

using `.strip()` removes characters, not whole substrings. In this case, if the module name ends with the characters p d or b, the end of the module name will also be incorrectly truncated

example:
[code]
I think change the `.strip(".pdb")` to a

[2022-11-13 13:29] ikelos commented on #863
Hi there, that looks like you're experiencing three different issues all at once, which you believe may be related.  You also sound as though you need immediate support, so I'd suggest for such broad questions and more immediate help, joining the [slack channel](https://www.volatilityfoundation.org/slack) and posting your question there.  This is explicitly for bugs in the program and, as a group

[2022-11-13 14:54] #867 closed, assigned to nobody

[2022-11-13 14:54] ikelos commented on #867
Good spot, thanks.  I change it to `replace`, but I'm considering whether we only want to remove characters if they're at the end of the string...

[2022-11-13 15:02] ikelos commented on #862
Hi there, the address you're working with is unlikely to be the physical address in memory.  It's far more likely to be a virtual address, and the question is whether it will be in the kernel's virtual address space, or the applications.  I'd imagine the applications, meaning you'll have to locate the process ID and then use `--pid` and `--virtaddr` to try to locate the file.

[2022-11-13 15:26] bartkor12 commented on #863
I'm worried that I might reveal sensitive information by sending the memory dump file, and the file is 30 gigabytes in size, however I can send the memory dump software that I used for this.
[memory dump software.zip](https://github.com/volatilityfoundation/volatility3/files/9997550/memory.dump.software.zip)

@ikelos Sorry for sounding urgent and impatient, I will retry the netscan plugin now and

[2022-11-13 15:41] bartkor12 commented on #863
Ok so I did windows.netscan again with -vvv and it reported this
DEBUG    volatility3.framework.symbols.windows.pdbutil: Using symbol library: ntkrnlmp.pdb\E1DBB1A59191BC3AF954B63210F237F2-1
INFO     volatility3.schemas: Dependency for validation unavailable: jsonschema
DEBUG    volatility3.schemas: All validations will report success, even with malformed input
Progress:  100.00               PDB

[2022-11-13 16:04] ikelos commented on #863
Thanks very much, there's nothing in the debug output that looks unusual.  For case 1, it finds a lot of potentially tcpip endpoints, but they're all considered invalid due to having bad data.  This suggests either that it's something's changed in the layout of tcpip.sys, or that the memory image has some inconsistencies in it from acquisition.

Hopefully I've made the second issue nicer, but it w

[2022-11-13 16:14] ikelos commented on #859
Hi there, I'm afraid that's a little outside of the scope of this bug tracker.  This is for problems arising with the volatility 3 tool and its plugins.  If you'd like support in the tasks necessary to acquire the data you want to pass to the plugins, then you could try on the (volatility slack channels)[https://www.volatilityfoundation.org/slack], but otherwise there should be resources on the in

[2022-11-13 16:14] #859 closed, assigned to nobody

[2022-11-13 16:17] ikelos commented on #851
The first point should have been greatly improved by #858, which now checks file timestamps to see whether recaching is necessary.  Assuming the datetime stamps on your local files are accurate, this should not require recaching unless a file is modified after the cache expiry timeout has been reached.

[2022-11-13 16:25] ikelos commented on #811
This line:
[code]
suggests the only DTB possibility it could find was beyond the normal locations for a DTB.  If you've got volatility 2 working with the image, then you could ask it to give you some of the information it found with the `imageinfo` plugin, which we could  then use to create a config file for volatility 3.  Essentially we're looking for the DTB value...

[2022-11-13 16:28] ikelos commented on #798
This requirement should now only be present in the `requirements-dev.txt` file and not the normal `requirements.txt`.  As such I'm going to mark this as closed (it was actually closed a while ago, but I forgot to mark it that way in the bug).  5;)

[2022-11-13 16:28] #798 closed, assigned to nobody

[2022-11-13 16:36] ikelos commented on #713
Looks like this should have been closed when #818 landed.  Feel free to reopen if the issue hasn't been resolved.

[2022-11-13 16:36] #713 closed, assigned to iMHLv2

[2022-11-13 16:38] #688 closed, assigned to nobody

[2022-11-13 16:39] #617 closed, assigned to nobody

[2022-11-13 16:39] #595 closed, assigned to superponible, ikelos

[2022-11-13 16:40] ikelos commented on #595
This issue has been open over 6 months without further information provided, as such the issue has been closed.  If you believe it's still a problem, please feel free to reopen the issue.

[2022-11-13 16:41] ikelos commented on #592
This issue has been open over 6 months without further information provided, as such the issue has been closed.  If you believe it's still a problem, please feel free to reopen the issue.

[2022-11-13 16:41] #592 closed, assigned to nobody

[2022-11-14 18:25] bartkor12 commented on #863
I'm afraid that there must just be something wrong with my memory dump software, and since no one else has reported this 'bug' where volatility doesn't work before, I will just close this post and get a new way of aquiring a mem dump. Thank you for your help.

[2022-11-14 18:26] #863 closed, assigned to nobody

[2022-11-16 20:32] awalters commented on #770
Hi @digitalisx, Thank you for the suggestion. I've updated the topics.

[2022-11-16 20:32] #770 closed, assigned to awalters

[2022-11-16 20:42] ikelos commented on #779
Hi there, I'm sorry it took us so long to cover this issue, but we've now discussed it amongst the group.  The feeling is that we're not keen on machinery automatically rolling releases for us from the repo and pushing it to the official pypi, but we also realize we're not that fast as rolling releases (although we have branched for one recently which is currently scheduled for a December release)

[2022-11-16 20:42] #779 closed, assigned to npetroni

[2022-11-16 23:42] daddycocoaman commented on #779
Hi,

Thanks for responding. There's a difference between an official release and a pre-release on PyPI. The semiannual or every 4 months release could be an official one, while the Github Action release could be a PyPI prerelease, so even if something does breaks, regular users won't get it unless they specifically ask for it.

My personal opinion is that a bump in the minor version would warrant

[2022-11-17 01:14] digitalisx commented on #770
Thank you for your work @awalters!

[2022-11-17 16:47] ShellCode33 opened #868 "Write a cross platform plugin ?"
Hey, I hope this is the right place to ask such question, sorry if it's not.

I'd like to write a plugin to analyze a specific application on any platform (Windows, Linux and MacOS). The idea would be to have a platform specific entry point that will gather all the needed information, and then dispatch it to a common processing function that will do the same thing regardless of the underlying OS.

[2022-11-18 10:28] ikelos commented on #868
Hi there, so the reason for not combining everything is because scanning for all possible operating systems to find the right one can be time consuming and also may result in an image being classed as both windows as well as linux/mac or being classed as neither.  The `ModuleRequirement` name isn't important, so you could just have one called 'kernel', no need to duplicate those.  You'd need to de

[2022-11-18 10:37] ikelos commented on #779
The reason for not bumping every minor release is somewhat due to how we do versioning, Chrome and Firefox go up a major version each release, but go up by thousands on their point releases, for example and they don't push thousands of versions (granted, they're not often used as dependencies either).  We're trying hard to follow the [semantic versioning guidelines](https://semver.org/) but there'

[2022-11-21 13:45] schoeringhumer opened #870 "Unable to validate the plugin requirements: ['plugins.Info.kernel'] with R2D2-Sample from github"
**Describe the bug**

Hi,

I am trying to analyze the R2D2-Image from your samples page (https://github.com/volatilityfoundation/volatility/wiki/Memory-Samples)
and it works just fine for Volatility2, but not with 3.

Error Line after executing python3 vol.py -vvvv -f ./0zapftis.vmem windows.info.Info:

Volatility 3 Framework 2.4.1
WARNING  volatility3.framework.plugins: Automagic exception occurr

[2022-11-21 15:07] ShellCode33 commented on #868
Thanks for your answer ! That helps a lot

Of course... I must have been tired to not realise that the **"description"** attribute isn't mandatory... :sweat_smile:

I'm still having some trouble to find the OS detected by volatility though.

On both my Linux and Windows dumps, `self.context.layers[kernel.layer_name].metadata["os"]` returns `Unknown`.

So I tried to identify the OS through the cont

[2022-11-21 15:19] ikelos commented on #868
The metadata should be applied to the layer (I believe it'll bubble upwards, so best to ask the highest layer) as can be seen:

https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/automagic/windows.py#L216
https://github.com/volatilityfoundation/volatility3/blob/develop/volatility3/framework/automagic/linux.py#L92
https://github.com/volatilityfoundation/volatilit

[2022-11-23 16:22] gogo2464 opened #871 "Implement a feature to load to current running process from ram memory image"
**Is your feature request related to a problem? Please describe.**
I was doing reverse engineering to the RensenWare malware. About the decompiled source code, if I exit the process or shutdown my computer the ransomware key is destroy. I want to restore the key from the ram dump taken just in time. Sadly I must run the malware IN HIS CURRENT STATE. Not a rewrite of the .exe. In this way I could d

[2022-11-23 17:01] ikelos commented on #871
Hi there, it's possible this has already been implemented.  I'm afraid I didn't fully understand what exactly you were after, but as best I can understand there's a piece of malware that generates a key it keeps in memory, and you have taken a full memory dump of the compromised machine, but now want to debug the process as if it were running in a live machine?

I'm not sure that's possible, but y

[2022-11-23 17:05] gogo2464 commented on #871
@ikelos

In the current state of volatility, `windows.pslist --dump` just extracts to a dump file. It does not load the file in memory. I want to be able to see the process with task manager in windows even if the real old process has been exited.

[2022-11-23 17:16] ikelos commented on #871
Ok, I'm afraid that's quite a specific requirement and outside the remit of a forensic analysis tool.  You might find someone on the slack channel to help you develop a custom plugin, but it's very unlikely to ever end up as part of the core, particularly as it's windows specific.  Your question will still be available in github, but I'm going to mark the issue as closed for the reasons I just men

[2022-11-23 17:16] #871 closed, assigned to iMHLv2

[2022-11-23 17:23] gogo2464 commented on #871
Thank you very much. I understand. Best regards.

[2022-11-25 11:57] ShellCode33 opened #872 "plugin windows.pslist matches multiple plugins"
Hey, when I create a plugin under `volatility3/plugins/windows/` which has the following imports and requirements :

[code]

If I try to use one of the original plugin my own plugin depend upon (`windows.pslist` in this case), I get the following error :

[code]

My guess is that Volatility tries to load plugins recursively, `pslist` being imported in the namespace of my plugin, Volatility tries t

[2022-11-30 17:37] ShellCode33 opened #874 "Custom pool scanner not working"
Hey, it's not the first time I ask questions here on GitHub, let me know if this is not the appropriate place to do so.

I'm trying to extract ETHREAD objects using the pool scanner feature of volatility, but I'm failing at doing so.

In `volatility3/framework/plugins/windows/poolscanner.py` I added the following builtin constraints :

[code]

And my custom plugin is as follow (highly inspired fro